$p-margin-before: 1__qem;
$p-margin-after: 1__qem;
$p-margin-start: 0;
$p-margin-end: 0;

p {
    display: block;
    -webkit-margin-before: $p-margin-before;
    -webkit-margin-after: $p-margin-after;
    -webkit-margin-start: $p-margin-start;
    -webkit-margin-end: $p-margin-end;
}
