.bt {
  // Skin (theme)
  &-brand {
    svg {
      fill: red;
      stroke: white;
      stroke-width: 1px;

      width: 3rem;
      height: 3rem;
      @include boxShadow(0.5);
    }
    path {
      fill: green;
    }
  }
}
