// ul.nav
.bt {
  &-nav {
    // Base (reset)
    list-style-type: none;
    margin: 0;
    padding: 0;

    // Layout
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    &--row {
      flex-direction: row;
    }

    &--column {
      flex-direction: column;
    }

    // States
    a {
      &:link {
        color: var(--linkColor);
      }
      &:visited {
        color: var(--visitedColor);
      }
      &:hover {
        color: var(--hoverColor);
      }
      &:active {
        color: var(--activeColor);
      }
    }
  }
}
