.dev {
    // - - -
    &-show {
        outline: 3px dotted rgb(200, 0, 200);
    }
    // - - -
    header,
    nav,
    main,
    footer {
        outline: 3px dotted rgb(0, 200, 200);
    }

    * {
        box-sizing: border-box;
    }
    // - - -
}

html {
    font-size: 17.5px;
    line-height: 2.5;
}
// 0.875 von 17.5 -> 15,3125

// mark {
//     background-color: red;
//     color: white;
// }

h1,
h2,
h3 {
    font-family: Barlow;
    font-weight: 100;
}

h4,
h5,
h6 {
    font-family: Barlow;
    font-weight: 600;
}

// Allgemeine Schriftart
body {
        font-family: Barlow;
}