// @desc Navigationskomponente
// @author Michael
// @since 2024-12-01
// @version 1.0.0

.nav {
    // Base / Reset
    list-style-type: none;
    padding: 0;
    margin: 0;

    // Layoutanweisungen
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-row {
        flex-direction: row;
    }
    &-column {
        flex-direction: column;
    }

    // States
    a[href] {
        text-decoration: none;
    }
    a:link {
        color: $link-color;
    }
    a:visited {
        color: $visited-color;
    }
    a:hover {
        color: $hover-color;
        text-decoration: underline;
    }
    a:active {
        color: $active-color;
        text-decoration: underline;
    }
}

// Hamburgermenu States
#hamburger {
    &__menu-is-opened {
        display: none;
    }
    &__menu-is-closed {
        display: block;
    }
    .hidden {
        display: none !important;
    }
    .visible {
        display: block !important;
    }
}
