@import "block-level/body";
@import "block-level/paragraph";

@import "block-level/blockquote";
@import "block-level/figure";
@import "block-level/hr";
@import "block-level/h1-h6";

div {
    display: block;
}
layer {
    display: block;
}
article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}
marquee {
    display: inline-block;
}
address {
    display: block;
}
q {
    display: inline;
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}
center {
    display: block;
    /* special centering to be able to emulate the html4/netscape behaviour */
    text-align: -webkit-center;
}
map {
    display: inline;
}
video {
    object-fit: contain;
}
