$legend-padding: 2px;
$legend-margin: 2px;

$fieldset-margin: 2px;
$fieldset-padding-before: 0.35em;
$fieldset-padding-start: 0.75em;
$fieldset-padding-end: 0.75em;
$fieldset-padding-after: 0.625em;
$fieldset-border-width: 2px;
$fieldset-border-style: groove;
$fieldset-border-color: ThreeDFace;

$input-background-color: white;
$input-border-width: 2px;
$input-border-style: inset;
$input-placeholder-color: darkGray;

$select-border-radius: 5px;

$keygen-border-radius: $select-border-radius;
$keygen-margin: 0px;

$textarea-background-color: white;
$textarea-border-width: 1px;
$textarea-border-style: solid;
$textarea-padding: 2px;

$autofill-background-color: #faffbd;
$autofill-background-image: none;
$autofill-color: #000000;

$button-color: ButtonText;
$button-padding: 2px 6px 3px 6px;
$button-border: 2px outset ButtonFace;
$button-bg-color: ButtonFace;

$radio-checkbox-margin: 3px 0.5ex;
$radio-checkbox-padding: initial;
$radio-checkbox-bg-color: initial;
$radio-checkbox-border: initial;

$initial-input-color: initial;
$initial-input-padding: initial;
$initial-input-bg-color: initial;
$initial-input-border: initial;

$select-border: 1px solid;
$select-color: black;
$select-bg-color: white;

$range-input-padding: initial;
$range-input-border: initial;
$range-input-margin: 2px;
$range-input-color: #909090;

/* form elements */
form {
    display: block;
    margin-top: 0__qem;
}
label {
    cursor: default;
}
legend {
    display: block;
    -webkit-padding-start: $legend-padding;
    -webkit-padding-end: $legend-padding;
    border: none;
}
fieldset {
    display: block;
    -webkit-margin-start: $legend-margin;
    -webkit-margin-end: $legend-margin;
    -webkit-padding-before: $fieldset-padding-before;
    -webkit-padding-start: $fieldset-padding-start;
    -webkit-padding-end: $fieldset-padding-end;
    -webkit-padding-after: $fieldset-padding-after;
    border: $fieldset-border-width $fieldset-border-style $fieldset-border-color;
    min-width: -webkit-min-content;
}
button {
    -webkit-appearance: button;
}
/* Form controls don't go vertical. */
input,
textarea,
keygen,
select,
button,
meter,
progress {
    -webkit-writing-mode: horizontal-tb !important;
}
input,
textarea,
keygen,
select,
button {
    margin: 0__qem;
    font: -webkit-small-control;
    text-rendering: auto; /* FIXME: Remove when tabs work with optimizeLegibility. */
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}
input[type="hidden" i] {
    display: none;
}
input {
    -webkit-appearance: textfield;
    padding: 1px;
    background-color: $input-background-color;
    border: $input-border-width $input-border-style;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
}

// search input
input[type="search" i] {
    // -webkit-appearance: searchfield;
    appearance: searchfield;
    box-sizing: border-box;
}
input::-webkit-textfield-decoration-container {
    display: flex;
    align-items: center;
    -webkit-user-modify: read-only !important;
    content: none !important;
}
input[type="search" i]::-webkit-textfield-decoration-container {
    direction: ltr;
}
input::-webkit-clear-button {
    // -webkit-appearance: searchfield-cancel-button;
    appearance: button;
    display: inline-block;
    flex: none;
    -webkit-user-modify: read-only !important;
    -webkit-margin-start: 2px;
    opacity: 0;
    pointer-events: none;
}
input:enabled:read-write:-webkit-any(:focus, :hover)::-webkit-clear-button {
    opacity: 1;
    pointer-events: auto;
}
input[type="search" i]::-webkit-search-cancel-button {
    // -webkit-appearance: searchfield-cancel-button;
    appearance: button;
    display: block;
    flex: none;
    -webkit-user-modify: read-only !important;
    -webkit-margin-start: 1px;
    opacity: 0;
    pointer-events: none;
}
input[type="search" i]:enabled:read-write:-webkit-any(
        :focus,
        :hover
    )::-webkit-search-cancel-button {
    opacity: 1;
    pointer-events: auto;
}
input[type="search" i]::-webkit-search-decoration {
    // -webkit-appearance: searchfield-decoration;
    appearance: searchfield-decoration;
    display: block;
    flex: none;
    -webkit-user-modify: read-only !important;
    -webkit-align-self: flex-start;
    margin: auto 0;
}
input[type="search" i]::-webkit-search-results-decoration {
    // -webkit-appearance: searchfield-results-decoration;
    appearance: searchfield-results-decoration;
    display: block;
    flex: none;
    -webkit-user-modify: read-only !important;
    -webkit-align-self: flex-start;
    margin: auto 0;
}
input::-webkit-inner-spin-button {
    //-webkit-appearance: inner-spin-button;
    appearance: inner-spin-button;
    display: inline-block;
    cursor: default;
    flex: none;
    align-self: stretch;
    -webkit-user-select: none;
    -webkit-user-modify: read-only !important;
    opacity: 0;
    pointer-events: none;
}
input:enabled:read-write:-webkit-any(
        :focus,
        :hover
    )::-webkit-inner-spin-button {
    opacity: 1;
    pointer-events: auto;
}

// keygen
keygen,
select {
    border-radius: $select-border-radius;
}
keygen::-webkit-keygen-select {
    margin: $keygen-margin;
}

// textarea
textarea {
    -webkit-appearance: textarea;
    background-color: $textarea-background-color; // white;
    border: $textarea-border-width $textarea-border-style; // 1px solid;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    flex-direction: column;
    resize: auto;
    cursor: auto;
    padding: $textarea-padding; //2px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

// placeholder
::-webkit-input-placeholder {
    -webkit-text-security: none;
    color: $input-placeholder-color;
    pointer-events: none !important;
}
input::-webkit-input-placeholder {
    white-space: pre;
    word-wrap: normal;
    overflow: hidden;
    -webkit-user-modify: read-only !important;
}
input[type="password" i] {
    -webkit-text-security: disc !important;
}
input[type="hidden" i],
input[type="image" i],
input[type="file" i] {
    -webkit-appearance: initial;
    padding: $initial-input-padding;
    background-color: $initial-input-bg-color;
    border: $initial-input-border;
}
input[type="file" i] {
    align-items: baseline;
    color: $initial-input-color;
    text-align: start !important;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: $autofill-background-color !important;
    background-image: $autofill-background-image !important;
    color: $autofill-color !important;
}
input[type="radio" i],
input[type="checkbox" i] {
    margin: $radio-checkbox-margin;
    padding: $radio-checkbox-padding;
    background-color: $radio-checkbox-bg-color;
    border: $radio-checkbox-border;
}
input[type="button" i],
input[type="submit" i],
input[type="reset" i] {
    // -webkit-appearance: push-button;
    appearance: push-button;
    // -webkit-user-select: none;
    user-select: none;
    white-space: pre;
}
input[type="file" i]::-webkit-file-upload-button {
    // -webkit-appearance: push-button;
    appearance: push-button;
    -webkit-user-modify: read-only !important;
    white-space: nowrap;
    margin: 0;
    font-size: inherit;
}
input[type="button" i],
input[type="submit" i],
input[type="reset" i],
input[type="file" i]::-webkit-file-upload-button,
button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: $button-color;
    padding: $button-padding;
    border: $button-border;
    background-color: $button-bg-color;
    box-sizing: border-box;
}
input[type="range" i] {
    // -webkit-appearance: slider-horizontal;
    appearance: slider-horizontal;
    padding: $range-input-padding;
    border: $range-input-border;
    margin: $range-input-margin;
    color: $range-input-color;
}
input[type="range" i]::-webkit-slider-container,
input[type="range" i]::-webkit-media-slider-container {
    flex: 1;
    min-width: 0;
    box-sizing: border-box;
    -webkit-user-modify: read-only !important;
    display: flex;
}
input[type="range" i]::-webkit-slider-runnable-track {
    flex: 1;
    min-width: 0;
    -webkit-align-self: center;
    box-sizing: border-box;
    -webkit-user-modify: read-only !important;
    display: block;
}
input[type="range" i]::-webkit-slider-thumb,
input[type="range" i]::-webkit-media-slider-thumb {
    -webkit-appearance: sliderthumb-horizontal;
    box-sizing: border-box;
    -webkit-user-modify: read-only !important;
    display: block;
}
input[type="button" i]:disabled,
input[type="submit" i]:disabled,
input[type="reset" i]:disabled,
input[type="file" i]:disabled::-webkit-file-upload-button,
button:disabled,
select:disabled,
keygen:disabled,
optgroup:disabled,
option:disabled,
select[disabled] > option {
    color: GrayText;
}
input[type="button" i]:active,
input[type="submit" i]:active,
input[type="reset" i]:active,
input[type="file" i]:active::-webkit-file-upload-button,
button:active {
    border-style: inset;
}
input[type="button" i]:active:disabled,
input[type="submit" i]:active:disabled,
input[type="reset" i]:active:disabled,
input[type="file" i]:active:disabled::-webkit-file-upload-button,
button:active:disabled {
    border-style: outset;
}
option:-internal-spatial-navigation-focus {
    outline: black dashed 1px;
    outline-offset: -1px;
}
datalist {
    display: none;
}
area {
    display: inline;
    cursor: pointer;
}
param {
    display: none;
}
input[type="checkbox" i] {
    // -webkit-appearance: checkbox;
    appearance: checkbox;
    box-sizing: border-box;
}
input[type="radio" i] {
    // -webkit-appearance: radio;
    appearance: radio;
    box-sizing: border-box;
}
input[type="color" i] {
    // -webkit-appearance: square-button;
    appearance: button;
    width: 44px;
    height: 23px;
    background-color: ButtonFace;
    /* Same as native_theme_base. */
    border: 1px #a9a9a9 solid;
    padding: 1px 2px;
}
input[type="color" i]::-webkit-color-swatch-wrapper {
    display: flex;
    padding: 4px 2px;
    box-sizing: border-box;
    -webkit-user-modify: read-only !important;
    width: 100%;
    height: 100%;
}
input[type="color" i]::-webkit-color-swatch {
    background-color: #000000;
    border: 1px solid #777777;
    flex: 1;
    min-width: 0;
    -webkit-user-modify: read-only !important;
}
input[type="color" i][list] {
    -webkit-appearance: menulist;
    width: 88px;
    height: 23px;
}
input[type="color" i][list]::-webkit-color-swatch-wrapper {
    padding-left: 8px;
    padding-right: 24px;
}
input[type="color" i][list]::-webkit-color-swatch {
    border-color: #000000;
}
input::-webkit-calendar-picker-indicator {
    display: inline-block;
    width: 0.66em;
    height: 0.66em;
    padding: 0.17em 0.34em;
    -webkit-user-modify: read-only !important;
    opacity: 0;
    pointer-events: none;
}
input::-webkit-calendar-picker-indicator:hover {
    background-color: #eee;
}
input:enabled:read-write:-webkit-any(
        :focus,
        :hover
    )::-webkit-calendar-picker-indicator,
input::-webkit-calendar-picker-indicator:focus {
    opacity: 1;
    pointer-events: auto;
}
input[type="date" i]:disabled::-webkit-clear-button,
input[type="date" i]:disabled::-webkit-inner-spin-button,
input[type="datetime-local" i]:disabled::-webkit-clear-button,
input[type="datetime-local" i]:disabled::-webkit-inner-spin-button,
input[type="month" i]:disabled::-webkit-clear-button,
input[type="month" i]:disabled::-webkit-inner-spin-button,
input[type="week" i]:disabled::-webkit-clear-button,
input[type="week" i]:disabled::-webkit-inner-spin-button,
input:disabled::-webkit-calendar-picker-indicator,
input[type="date" i][readonly]::-webkit-clear-button,
input[type="date" i][readonly]::-webkit-inner-spin-button,
input[type="datetime-local" i][readonly]::-webkit-clear-button,
input[type="datetime-local" i][readonly]::-webkit-inner-spin-button,
input[type="month" i][readonly]::-webkit-clear-button,
input[type="month" i][readonly]::-webkit-inner-spin-button,
input[type="week" i][readonly]::-webkit-clear-button,
input[type="week" i][readonly]::-webkit-inner-spin-button,
input[readonly]::-webkit-calendar-picker-indicator {
    visibility: hidden;
}
select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    border: $select-border;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: $select-color;
    background-color: $select-bg-color;
    cursor: default;
}
select:not(:-internal-list-box) {
    overflow: visible !important;
}
select:-internal-list-box {
    -webkit-appearance: listbox;
    align-items: flex-start;
    border: 1px inset gray;
    border-radius: initial;
    overflow-x: hidden;
    overflow-y: scroll;
    vertical-align: text-bottom;
    -webkit-user-select: none;
    white-space: nowrap;
}
optgroup {
    font-weight: bolder;
    display: block;
}
option {
    font-weight: normal;
    display: block;
    padding: 0 2px 1px 2px;
    white-space: pre;
    min-height: 1.2em;
}
select:-internal-list-box optgroup option:before {
    content: "\00a0\00a0\00a0\00a0";
}
select:-internal-list-box option,
select:-internal-list-box optgroup {
    line-height: initial !important;
}
select:-internal-list-box:focus option:checked {
    background-color: -internal-active-list-box-selection !important;
    color: -internal-active-list-box-selection-text !important;
}
select:-internal-list-box option:checked {
    background-color: -internal-inactive-list-box-selection !important;
    color: -internal-inactive-list-box-selection-text !important;
}
select:-internal-list-box:disabled option:checked,
select:-internal-list-box option:checked:disabled {
    color: gray !important;
}
select:-internal-list-box hr {
    border-style: none;
}
output {
    display: inline;
}
