$ul-display: block;
$ul-list-style-type: disc;
$ul-margin-before: 1__qem;
$ul-margin-after: 1em;
$ul-margin-start: 0;
$ul-margin-end: 0;
$ul-padding-start: 40px;

$ol-display: block;
$ol-list-style-type: decimal;

$li-display: list-item;
$li-text-align: -webkit-match-parent;

$nested-ul-list-style-type: circle;

$nested-ul-square-list-style-type: square;

$dd-display: block;
$dd-margin-start: 40px;

$dl-display: block;
$dl-margin-before: 1__qem;
$dl-margin-after: 1em;
$dl-margin-start: 0;
$dl-margin-end: 0;

$dt-display: block;

$nested-ul-margin-before: 0;
$nested-ul-margin-after: 0;

/* lists */
ul,
menu,
dir {
    display: $ul-display;
    list-style-type: $ul-list-style-type;
    -webkit-margin-before: $ul-margin-before;
    -webkit-margin-after: $ul-margin-after;
    -webkit-margin-start: $ul-margin-start;
    -webkit-margin-end: $ul-margin-end;
    -webkit-padding-start: $ul-padding-start;
}
ol {
    display: $ol-display;
    list-style-type: $ol-list-style-type;
    -webkit-margin-before: $ul-margin-before;
    -webkit-margin-after: $ul-margin-after;
    -webkit-margin-start: $ul-margin-start;
    -webkit-margin-end: $ul-margin-end;
    -webkit-padding-start: $ul-padding-start;
}
li {
    display: $li-display;
    text-align: $li-text-align;
}
ul ul,
ol ul {
    list-style-type: $nested-ul-list-style-type;
}
ol ol ul,
ol ul ul,
ul ol ul,
ul ul ul {
    list-style-type: $nested-ul-square-list-style-type;
}
dd {
    display: $dd-display;
    -webkit-margin-start: $dd-margin-start;
}
dl {
    display: $dl-display;
    -webkit-margin-before: $dl-margin-before;
    -webkit-margin-after: $dl-margin-after;
    -webkit-margin-start: $dl-margin-start;
    -webkit-margin-end: $dl-margin-end;
}
dt {
    display: $dt-display;
}
ol ul,
ul ol,
ul ul,
ol ol {
    -webkit-margin-before: $nested-ul-margin-before;
    -webkit-margin-after: $nested-ul-margin-after;
}