/* HTML5 ruby elements */
ruby,
rt {
    text-indent: 0; /* blocks used for ruby rendering should not trigger this */
}
rt {
    line-height: normal;
    -webkit-text-emphasis: none;
}
ruby > rt {
    display: block;
    font-size: 50%;
    text-align: start;
}
ruby > rp {
    display: none;
}
