// doc block
.color-field {
    // RESET, BASE
    list-style-type: none;

    // LAYOUT
    // display, margin, padding, width, height, ...
    display: inline-block;
    width: 4rem;
    height: 4rem;

    // STATES
    &:hover {
        background: darken($lightColor, 50);
    }

    // THEME
    background: $lightColor;

    @each $name, $color in $colorMap {
        &.#{to-lower-case($name)} {
            background-color: $color;
        }
    }

    @include borderRadius(0.125rem);
    @include boxShadow($levelHeight_1);

    // &.primary {
    //     background-color: $primaryColor;
    // }
    // &.secondary {
    //     background-color: $secondaryColor;
    // }
    // &.tertiary {
    //     background-color: $tertiaryColor;
    // }
    // &.light {
    //     background-color: $lightColor;
    // }
    // &.dark {
    //     background-color: $darkColor;
    // }
}
