// How to use CSS variables?

:root {
    --cardBackground: rgb(121, 67, 20);
    --cardTextColor: $white;
}

// Modify a bootstrap class with css4 variables
.card {
    background: var(--cardBackground);
    color: var(--cardTextColor);
}

[data-customer-id] {
    border: 2px dashed green;
}