// - - - - - - - - - -
// SAMPLES
// - - - - - - - - - -
samp:has(pre) {
    display: block;
    padding: var(--default);
    background-color: var(--sample);
    color: var(--on-sample);
}

samp:not(:has(pre)) {
    display: block;
    padding: var(--default);
    font-family: $font-family-dyslexic;

    background-color: var(--sample);
    color: var(--on-sample);
    
}

samp {
    textarea {
        background: transparent;
        color: var(--on-sample);
        border: 0;
        font-family: $font-family-monospace;
        font-size: 1rem;

        resize: none;
        overflow: hidden;
        width: 100%;
        min-height: 50px;
        max-height: 100%;

        white-space: pre;
    }
}

samp + samp {
    margin-block-start: var(--default);
}