<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Login</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="shortcut icon" href="data:" type="image/x-icon">
</head>

<body>
    <form id="login" method="post" action="/login">
        <fieldset>
            <legend>Login</legend>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" value="mail@domain.org"
                placeholder="Your email here ..." autocomplete="off">
            <label for="password">Password</label>
            <input type="password" id="password" name="password"
                value="topsecret" placeholder="Your password here ...">
            <button type="submit">log in</button>
        </fieldset>
    </form>

    <input type="text" id="id" value="Karl">

    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"
        integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
        crossorigin="anonymous"></script>
    <script src="/assets/js/script.js"></script>
</body>

</html>