<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Login</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" href="data:" type="image/x-icon">
</head>

<body>
    <h1>Posts ipsum dolor sit amet</h1>

    <form action="/rest/post" method="post">
        <button type="submit">new post</button>
    </form>

    <ol>
        <% for( let i=0; i<posts.length; i++) { %>
            <li>
                <h2 class="post" id="<%= posts[i]._id %>">
                    <%= posts[i].title %>
                </h2>
                <p>
                    <%= posts[i].content %>
                </p>
            </li>
            <% } %>
    </ol>


    <a href="/">logout</a>
    <a href="/rest">ReST API</a>
    <a href="/broker" target="_blank">broker</a>

    <input type="text" id="id" value="Karl">

    <script src="https://cdn.jsdelivr.net/npm/axios@0.27.2/dist/axios.js"
        integrity="sha256-IMhGaJJ8X2vpgKiO8R3+aYNiVsNZjaI5GQy+j7FYfxA="
        crossorigin="anonymous"></script>

    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"
        integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
        crossorigin="anonymous"></script>

    <script src="/assets/js/script.js"></script>
</body>

</html>