/* ========================================
   BASE – MATERIAL SYMBOLS STYLING
======================================== */

/* BASE */
.material-symbols-outlined {
    vertical-align: middle;
    margin-right: var(--spacing-sm);
}

/* BASE THEME */
.material-symbols-outlined {
    font-size: 20px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20;
}
