*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: $font-family-sans-serif;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}
tt,
code,
kbd,
samp {
    font-family: $font-family-monospace;
}

nav {
    width: 100%;
    ol,
    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

body {
    margin: toRem(1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body > nav:nth-child(2) {
    display: block;
    position: fixed;
    left: 0 !important;
    top: 0 !important;
    font-size: toRem($_perfect-fourth) !important;

    z-index: 1000;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    background: hsla(0, 0%, 100%, 0.85);

    li {
        transition-property: color, background;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        padding: toRem(0.5);
    }

    a:link,
    a:visited {
        color: black;
        text-decoration: none;
    }
    li:has(a:hover) {
        background: black;
        a {
            color: white;
        }
    }

    + * {
        margin-top: toRem(5);
    }
}

section {
    margin-block: toRem(1);
}
