// Base
.colors {
    @include listReset();
    display: flex;
    gap: 1rem;

    &-row {
        flex-direction: row;
    }
    &-column {
        flex-direction: column;
    }
}

.light {
    background-color: $lightColor;

    //.light-100 {}
    @each $gradation in $gradations {
        &-#{$gradation * 10} {
            background-color: darken($lightColor, $gradation);
        }
    }
}
//.dark-100 {}
.dark {
    background-color: $darkColor;
    @each $gradation in $gradations {
        &-#{$gradation * 10} {
            background-color: lighten($darkColor, $gradation);
        }
    }
}

// Layout
.light,
.dark {
    display: block;
    width: 3rem;
    height: 3rem;
}
// Modules
// States
// Theme
