@function luminance($color) {
    $r: red($color) / 255;
    $g: green($color) / 255;
    $b: blue($color) / 255;

    $r: if($r < 0.03928, $r / 12.92, pow(($r + 0.055) / 1.055, 2.4));
    $g: if($g < 0.03928, $g / 12.92, pow(($g + 0.055) / 1.055, 2.4));
    $b: if($b < 0.03928, $b / 12.92, pow(($b + 0.055) / 1.055, 2.4));

    @return 0.2126 * $r + 0.7152 * $g + 0.0722 * $b;
}

// Funktion, die basierend auf der Luminanz entscheidet, ob Weiß oder Schwarz als Textfarbe verwendet wird
@function contrast-color($background-color) {
    @if (luminance($background-color) > 0.179) {
        @return #000000; // Schwarz für helle Hintergründe
    } @else {
        @return #ffffff; // Weiß für dunkle Hintergründe
    }
}

:root {
    // Hell-/Dunkelwerte
    --color-white: hsla(0, 0%, 85%, 1);
    --on-color-white: #{contrast(var(--color-white))};

    --color-grey: hsla(0, 0%, 50%, 1);
    --color-black: hsla(0, 0%, 15%, 1);

    // Corporate Design Farben
    --primary-color: hsla(0, 100%, 50%, 1);
    --secondary-color: hsla(0, 100%, 35%, 1);
    --tertiary-color: hsla(277, 100%, 50%, 1);
    --quaternary-color: hsla(211, 100%, 50%, 1);

    // Semantische Farben
    --success-color: hsla(134, 61%, 41%, 1);
    --info-color: hsla(188, 78%, 41%, 1);
    --warning-color: hsla(45, 100%, 51%, 1);
    --error-color: hsla(354, 70%, 54%, 1);

    // Zustandsfarben für Links
    --link-color: hsla(211, 100%, 50%, 1);
    --visited-color: hsla(277, 100%, 50%, 1);
    --hover-color: hsla(0, 100%, 35%, 1);
    --active-color: hsla(0, 100%, 50%, 1);
}

// Dokumentenfarben
$document-background-color: var(--color-white);
$document-text-color: var(--color-black);

// Generieren von Klasen für alle Farben
$color-map: (
    "white": var(--color-white),
    "grey": var(--color-grey),
    "black": var(--color-black),
    "primary": var(--primary-color),
    "secondary": var(--secondary-color),
    "tertiary": var(--tertiary-color),
    "quaternary": var(--quaternary-color),
    "success": var(--success-color),
    "info": var(--info-color),
    "warning": var(--warning-color),
    "error": var(--error-color),
    "link": var(--link-color),
    "visited": var(--visited-color),
    "hover": var(--hover-color),
    "active": var(--active-color),
);

@each $color, $value in $color-map {
    .color-#{$color} {
        background-color: $value;
    }

    // .bg-#{$color} {
    //     background-color: $value;
    // }
}

// Eigentlich eine eigene Kompenenten-SCSS:
main figure{
    display: flex;
    flex-direction: row;

    gap: 1rem;
}
.color-box {
    display: block;
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--color-black);
}