@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

// html {
//     font-family: $fontFamily;
//     font-size: $baseFontSize; // root em!
//     line-height: $lineHeight;
// }

// h1 {
//     font-size: 3rem; // 48px
// }
// h2 {
//     font-size: 2rem; // 32px
// }
// h3 {
//     font-size: 1.5rem; // 24px
// }

// h4,
// h5,
// h6 {
//     font-size: 1.2rem;
// }

html {
    font-family:  "Noto Serif", serif;
    font-size:clamp(14.2px, 1.65vw, 25px); // Lesetextgröße (Copy)
    line-height: 1.5;


    // letter-spacing: 0.12rem;
    // word-spacing: 0.16rem;
}

// @media screen {
//     // All devices fallback

//     // Extra-small
//     @media (max-width: 599px) {
//         html {
//             font-size: 14.2px;
//         }
//     }
//     // Small (tablet)
//     @media (min-width: 600px) {
//         html {
//             font-size: 16.2px;
//         }
//     }
//     @media (min-width: 905px) {
//         html {
//             font-size: 17.7px;
//         }
//     }
//     // Medium (laptop)
//     @media (min-width: 1240px) {
//         html {
//             font-size: 22.2px;
//         }
//     }
//     // Large (desktop)
//     @media (min-width: 1440px) {
//         html {
//             font-size: 25px;
//         }
//     }
// }

p {
    font-size: 1rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font: 1.5rem;
}

.size-200 {
    font-size: 2rem;
}

// table {
//     display: block;
// }

// tr,
// td, th {
//     display: block;
// }
