// @desc Variablen für Farben und Schriftarten usw ...
// @author Michael
// @since 2024-12-01
// @version 1.0.0

// Dokumentenfarben
$document-background-color: #fff;
$document-text-color: #000;

$document-darkmode-background-color: #000;
$document-darkmode-text-color: #fff;

// Zustandsfarben für Links
$link-color: #007bff;
$visited-color: #9d00ff;
$hover-color: #b30000;
$active-color: #ff0000;

