<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lorem ipsum dolor</title>
</head>

<body>
    <h1>Lorem headline dolor sit</h1>
    <p><strong><%= value%></strong></p>
</body>

</html>