<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lorem ipsum dolor</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <h1>Lorem headline dolor sit</h1>
    <p><strong><%= value%></strong></p>

    <nav>
        <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="search.html">search</a></li>
            <li><a href="imprint.html">imprint</a></li>
        </ul>
    </nav>
</body>

</html>