<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lorem ipsum dolor</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <h1>Search ipsum sit</h1>
    <form method="post" action="search.html">
        <fieldset>
            <legend>search</legend>
            <label for="search">your search keyword</label>
            <input type="search" name="search" id="search">

            <label><input type="checkbox" name="check" value="checked"> agree</label>

            <button type="submit">go</button>
        </fieldset>
    </form>
    <% if (search) { %>
    <h2>found</h2>
    <p><%= search %></p>
    <p><%= result %></p>
    <p><%= check %></p>
    <% } %>

    <nav>
        <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="search.html">search</a></li>
            <li><a href="imprint.html">imprint</a></li>
        </ul>
    </nav>
</body>

</html>