<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lorem ipsum dolor</title>
</head>

<body>
    <h1>Search ipsum sit</h1>
    <form method="get" action="search.html">
        <fieldset>
            <legend>search</legend>
            <label for="search">your search keyword</label>
            <input type="search" name="search" id="search">
            <button type="submit">go</button>
        </fieldset>
    </form>
    <h2>found</h2>
    <p><%= result %></p>
</body>

</html>