html,
html * {
    box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    font-size: 16px; // -> base for 1rem
    line-height: 1.4; // 1.4 x font-size
}

body {
    margin: 0;
}