// Base sind Elemente-Selektoren
/**
 * @desc Mehrzeilenkommentar
 */

html,
html * {
    box-sizing: border-box;
}

html {
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
}
body {
    margin: 0;
}
code,
tt,
kbd {
    font-family: $font-family-monospace;
}


html[lang=de] .currency::after{
    content: " €";
}
html[lang=en] .currency::after{
    content: " $";
}