.#{$prefix}-brand {
    // BASE
    // LAYOUT
    // MODULES
    svg {
        // LAYOUT
        width: 3rem;
        height: 3rem;
        // THEME
        stroke: $primary;
        stroke-width: 10px;
        fill: $secondary;
    }
    // STATES
    // THEME
}
