
.#{$prefix}-card {
    &-container {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-block: var(--spacer-xl);

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    border: 1px solid grey;
    border-radius: 3px;
    padding: 0.25rem;

    // @extend ist einen SASS Funktion, die Klassen aus anderen Dateien 
    // importiert und sie in der aktuellen Datei anwendet. So muss im HTML 
    // keine Klassenliste geschrieben werden, die Wartung, bzw. das Refactoring
    // wird stark vereinfacht.
    @extend .#{$prefix}-t-center;
    @extend .#{$prefix}-shadow;
    @extend .#{$prefix}-white;

    &:last-child {
        @extend .#{$prefix}-w-100;
    }
}
