.cards {
    // BASE, RESET
    @include resetList();

    // LAYOUT
    display: flex;
    flex-wrap: wrap;

    align-items: stretch;

    gap: $gap * 2;

    .card {
        // LAYOUT
        flex-basis: 30%;
        width: calc(100% / 3 - $gap * 2);

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        // THEME
        @include boxShadow();
        @include boxRadius();
        @include boxPadding();
        img {
            min-height: 25%;
            margin-block-start: 0;
            margin-block-end: 0;
        }
        h3 {
            justify-self: flex-end;
            border-top: 1px dotted lightgrey;
            min-height: 25%;
            margin-block-start: $gap * 2;
            margin-block-end: 0;
        }
        p {
            border-top: 1px dotted lightgrey;
            min-height: 25%;
            margin-block-start: 0;
            margin-block-end: $gap * 2;
        }
    }
}
