// Root Klasse!
.#{$prefix}-color-fields {
    // RESET
    list-style-type: none;
    margin: 0;
    padding: 0;

    // BASE

    // LAYOUT
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacer-md);

    // CHILD ELEMENTS
    > * {
        // LAYOUT
        display: block;
        width: 100px;
        height: 100px;

        padding: var(--spacer-sm);
    }

    // STATE

    // COMPONENTS

    // THEME
}
