.color {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: flex-start;

    gap: 1rem;

    @include list-reset;

    > * {
        padding: 1rem;
        border-radius: 2rem;
        @include shadow();
        @include kind-of-effect();

        flex-basis: calc(25% - 1rem);
        // flex-grow: 1;
        // flex-shrink:1;
    }
    > *:nth-child(1) {
        // flex-grow: 100;
    }
}

.primary {
    background-color: $primary;
    color: $on-primary;

    fill: $primary;

}
.secondary {
    background-color: $secondary;
    color: $light;
}
.tertiary {
    background-color: $tertiary;
    color: $dark;
}
.success {
    background-color: $success;
    color: $light;
}
.warning {
    background-color: $warning;
    color: $light;
}
.error {
    background-color: $error;
    color: $light;
}
.info {
    background-color: $info;
    color: $light;
}
.dark {
    background-color: $dark;
    color: $light;
}
.light {
    background-color: $light;
    color: $dark;
}
