.#{$myPrefix}brand {
    &::after {
        content: "";

        display: inline-block;
        width: 3rem;
        height: 3rem;

        background-image: url("../figures/shou.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    &-2x::after {
        width: 6rem;
        height: 6rem;
    }
}

.base-class {

    &-variant {}
    &-layout-variant {}
    &-state {}

}