.dev {
    // - - -
    &-show {
        outline: 3px dotted rgb(200, 0, 200);
    }
    // - - -
    header,
    nav,
    main,
    footer {
        outline: 3px dotted rgb(0, 200, 200);
    }
    
    * {
        box-sizing: border-box;
    }
    // - - -
}
