// Some documentation

.figure {
    // Base / reset
    margin-inline: 0;
    // Layout
    img.responsive {
        width: 100%;
        height: auto;
    }
    // State
}



svg {
    .red {
        fill: red;
    }
}
