@import 'variables';
@import 'mixins';

/* HEADER */
header {
    padding: 20px;
    display: flex;
    align-items: flex-start;
}

.logo {
    margin: 0 30px 0 10px;
    font-size: 1.5em;
}

/* Button styling */
.menu-toggle {
    display: inline-block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #666;
}

.menu-toggle:hover,
.menu-toggle:focus {
    color: #06C;
}

/*
   Default styles + Mobile first
   Offscreen menu style
  */
.main-menu {
    position: absolute;
    display: none;
    left: -200px;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    transition: left 1s ease,
        box-shadow 1s ease;
    z-index: 999;
}

.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 2.5em 0 0;
    /* Hide shadow w/ -8px while 'closed' */

    box-shadow: -8px 0 8px rgba(0, 0, 0, .5);

    min-height: 100%;
    width: 200px;
    background: #1a1a1a;
}

.main-menu a {
    display: block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #383838;
}

.main-menu li:first-child a {
    border-top: 1px solid #383838;
}

.main-menu a:hover,
.main-menu a:focus {
    background: #666;
    text-decoration: underline;
}

.main-menu .menu-close {
    position: absolute;
    right: 0;
    top: 0;
}

/*
   On small devices, allow it to toggle...
  */
/*
   :target for non-JavaScript
   [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
  */
.main-menu:target,
.main-menu[aria-expanded="true"] {
    display: block;
    left: 0;
    outline: none;
    box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
    z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000;
}

/* 
   We could us `.main-menu:target:after`, but
   it wouldn't be clickable.
  */
.main-menu:target+.backdrop,
.main-menu[aria-expanded="true"]+.backdrop {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: rgba(0, 0, 0, .65);
    cursor: default;
}

@supports (position: fixed) {

    .main-menu,
    .main-menu:target+.backdrop,
    .main-menu[aria-expanded="true"]+.backdrop {
        position: fixed;
    }
}

/*
   Larger screen styling
   Horizontal menu
  */
@media (min-width: 768px) {

    .menu-toggle,
    .main-menu .menu-close {
        display: none;
    }

    /* Undo positioning of off-canvas menu */
    .main-menu {
        position: relative;
        left: auto;
        top: auto;
        height: auto;
        display: block;
    }

    .main-menu ul {
        display: flex;

        /* Undo off-canvas styling */
        padding: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        height: auto;
        width: auto;
        background: none;
    }

    .main-menu a {
        color: #06c;
        border: 0 !important;
        /* Remove borders from off-canvas styling */
    }

    .main-menu a:hover,
    .main-menu a:focus {
        background: none;
        /* Remove background from off-canvas styling */
        color: #06c;
    }
}