.icon {
    // Base
    &::before {
        content: "dining";

        font-family: "Material Symbols Outlined";
        font-style: normal;
        font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 24;

        display: inline-block;
        width: 1em;
        height: 1em;
        font-size: 70%;
        margin-inline-end: $spacer;

        color: $tertiary;

        // text-shadow: 0.25rem 0.25rem 0.5rem $primary;

        // border: 1px solid black;
    }
    // Layout
    // Icons
    // States
    // Themes
}
