.image {
    &-responsive {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.white {
    filter: invert(100%);
}

svg {
    background: $surface;
.tertiary {
    fill: $tertiary;
    stroke: black;
    stroke-width: 50px;
}
}
