// single line comment are not public
// multilining is ...

@import 'variables';
@import 'mixins';

// default layout (flex)
.page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.page-content {
    display: flex;
    flex-direction: row;
}

.page-header {
    flex-basis: 100%;
}

.page-navigation {
    flex-basis: 25%;
}

.page-main {
    flex-basis: 25%;
}

.page-aside {
    flex-basis: 25%;
}

.page-footer {
    flex-basis: 100%;
}