// single line comment are not public
// multilining is ...

@import 'variables';
@import 'mixins';

html,
body {
    width: 100vw;
    height: 100vh;
}

// default layout (grid)
.page {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% auto 20%;
}

.page-header {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.page-navigation {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.page-main {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

}

.page-aside {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;

}

.page-footer {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}