// Some documentation ...

.modal {
    // Base (even css variables)
    --width: 18rem;
    --height: 10rem;

    // Layout
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;

    width: 18rem;
    height: 10rem;
    left: calc(50vw - var(--width) / 2);
    top: calc(50vh - var(--height) / 2);

    padding: 2rem;
    // States

    // Theme
    border-radius: 1rem;
    background-color: white;
    color: black;

    // Temporary
    display: none;
}
