.template-2 {
    // All devices fallback

    // Small devices
    @media screen and (max-width: 767px) {
        // Base
        // Layout
        // - - - - - - - - - -
        // Das Off-Canvas Layout
        // insgesamt 200vw breit, 100vw sind sichtbar
        // Die Navigation verwendet 90vw (plus 10vw für den Abstand)
        // Der Inhalt verwendet 100vw
        // - - - - - - - - - -
        display: grid;
        grid-template-columns: 10vw 90vw 100vw;
        grid-template-rows: 8rem auto 12rem;

        width: 200vw; // Überbreite
        margin-inline-start: -100vw;

        // Components

        > nav {
            grid-column: 2 / 3;
            grid-row: 1 / 4;
        }

        > header {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
        }
        > main {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }
        > footer {
            grid-column: 3 / 4;
            grid-row: 3 / 4;
        }
        // States
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;

        &--open {
            margin-inline-start: -10vw;
        }

        // Themes
    }

    // Medium devices
    @media screen and (min-width: 768px) {
        // Base
        // Layout
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 8rem auto 12rem;

        width: clamp(768px, 100vw, 120rem);

        // width: 100vw;
        // max-width: 1920px;
        // min-width: 768px;

        min-height: 100vh;

        // Components
        > header {
            grid-column: 1 / 13;
            grid-row: 1 / 2;
        }
        > nav {
            grid-column: 1 / 4;
            grid-row: 2 / 3;
        }
        > main {
            grid-column: 4 / 13;
            grid-row: 2 / 3;
        }

        > footer {
            grid-column: 1 / 13;
            grid-row: 3 / 4;
        }
        // States
        // Themes
    }
}

@media screen {
    // All devices fallback

    // Extra-small
    @media (max-width: 599px) {
    }
    // Small (tablet)
    @media (min-width: 600px) {
    }
    @media (min-width: 905px) {
    }
    // Medium (laptop)
    @media (min-width: 1240px) {
    }
    // Large (desktop)
    @media (min-width: 1440px) {
    }
    // Full HD
    @media (min-width: 1920px) {
    }
    // 4K
    @media (min-width: 3840px) {
    }
}
