// Some documentation ...
// All devices layout
.template-1 {
    // Base
    display: grid;
    grid-template-columns: 25vw 75vw;
    grid-template-rows: $headerHeight auto 8vh;

    // Layout
    header {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    nav {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    main {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    footer {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    // State
}

// Responsive layout variations
// Small device (sm)
@media screen and (max-width: 393px) {
    .template-1 {
        display: block;

    }

}
// Medium device (md)
@media screen and (min-width:394px){}

@media screen {
    // All devices fallback
    
    // Extra-small
    @media (max-width: 599px) {}
    // Small (tablet)
    @media (min-width: 600px) {}
    @media (min-width: 905px) {}
    // Medium (laptop)
    @media (min-width: 1240px) {}
    // Large (desktop)
    @media (min-width: 1440px) {}
}