@import 'variables';
@import 'mixins';

/* - - - - - - - - - -*/
@mixin box-shadow ($x, $y, $blur, $color) {
    -webkit-box-shadow: $x $y $blur $color;
    -moz-box-shadow: $x $y $blur $color;
    box-shadow: $x $y $blur $color;
}

body {
    @include box-shadow(5, 0, 12, rgba(0, 0, 0, .25));
}