.#{$prefix} {
    &-w-100 {
        width: 100%;
        flex-basis: 100%;
        flex-grow: 0;
        flex-shrink: 0;
    }

    &-t-center {
        text-align: center;
    }

    &-shadow {
        box-shadow: 0.5rem 0.5rem 1rem #00000044;
    }

    &-white {
        background-color: white;
    }
}

// Screenreader-only Klasse
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}