// VARIABLES

// Colors
$primary: hsl(100, 56%, 27%);
$onPrimary: hsl(0, 0%, 100%);

$secondary: hsl(95, 13%, 34%);
$onSecondary: hsl(0, 0%, 100%);

$tertiary: hsl(179, 88%, 33%);
$onTertiary: hsl(0, 0%, 100%);

$error: hsl(0, 75%, 42%);
$onError: hsl(0, 0%, 100%);

$success: hsl(134, 82%, 33%);
$onSuccess: hsl(0, 0%, 100%);

$warning: hsl(195, 78%, 72%);
$onWarning: hsl(0, 4%, 37%);

$info: hsl(45, 89%, 46%);
$onInfo: hsl(0, 4%, 37%);

$surface-lowest: hsl(72, 100%, 98%);
$surface-low: hsl(72, 33%, 94%);

$surface: hsl(72, 24%, 92%);
$onSurface: hsl(90, 8%, 10%);

$surface-high: hsl(72, 19%, 89%);
$surface-highest: hsl(73, 14%, 87%);

$devColor-1: rgba(12, 183, 183, 0.666);
$devColor-2: rgba(17, 201, 57, 0.5);
$devColor-3: rgba(208, 140, 15, 0.5);
$devColor-4: rgba(132, 41, 223, 0.5);

$dark: hsl(90, 8%, 10%);
$onDark: hsl(0, 0%, 85%);
$light: hsl(0, 0%, 100%);
$onLight: hsl(0, 0%, 0%);
// Default values
$spacer: 0.5rem;

/*
    1. Make it run - Herausbekommen, was du eigentlich tun musst
    2. Make it fast - Umbauen, dass es verständlich ist
    3. Make it beautiful - Kommentiere, bessere Variablen oder Klassennamen

*/