.developer {
    body {
        border: 2px solid green;
        // background: hsla(0, 0%, 15%, 0.85);
        // color: white;
        // margin: 0.125rem;

        // All children of body
        // Layout element layer
        > * {
            // margin: 0.125rem;
            border: 2px solid cyan;

            // Component layer
            > * {
                // margin: 0.125rem;
                border: 2px solid orange;
            }
        }
    }
}
