$prefix: "systeam";
$my-red: lightcoral;
$shadow-color: rgba(0, 0, 0, 0.5);

@mixin list-reset() {
    // RESET
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@mixin box-shadow($level: 1) {
    $x: $level * 5px;
    $y: $x;
    $blur: $level * 3px;

    box-shadow: $x $y $blur $shadow-color;
}

:root {
    --my-red: lightcoral;
}

h1 {
    background: $my-red;
}

p {
    color: var(--my-red);
}

// NESTING!
.#{$prefix} {
    // PREFIX
    &-nav {
        // ROOT CLASS
        @include list-reset();
        @include box-shadow(5);

        li {
            background: $my-red;
        }
    }

    // THEME
}
