<header>
    <h2>Home of Sheeps</h2>
    <nav>
        <a href="/">home</a>
        <a href="/register">register</a>
        <a href="/login">login</a>
        <a href="/logout">logout</a>
    </nav>
</header>
