/**
 * Formular Styles
 * @author Michael
 * @since 03/2017
 */
html,
html * {
  box-sizing: border-box;
}

form {
  margin: 0 auto;
  padding: 1rem;
  width: 42rem;
  border: 1px solid hsla(0, 0%, 50%, 0.3);
  box-shadow: 10px 10px 10px hsla(0, 0%, 50%, 0.3);
}

fieldset {
  border: 1px solid hsla(0, 0%, 50%, 0.3);
}

html,
* {
  font-family: Marvel, 'Courier New', Courier, monospace;
  font-size: 18px;
  line-height: 1.5;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

/* FORM ELEMENTS */
form>div {
  display: block;
}

input,
textarea,
select,
label {
  margin-bottom: 0.25rem;
}

input,
textarea,
select {
  width: 16rem;
  height: 2rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: hsla(0, 0%, 50%, 0.5);
}

label {
  width: 12rem;
}

textarea {
  height: 3rem;
}

label.checkbox input {
  display: inline;
  transform: translate(0, 0.27rem);
}

label.checkbox {
  display: inline;
}

.form-element {
  display: flex;
  justify-content: flex-start
}

.vertical {
  display: flex;
  flex-direction: column;
}

.vertical input {
  border: 1px solid red;
  display: inline;
  width: auto;
  min-width: 0;
}

input.false {
  background-color: hsla(0, 100%, 40%, 0.25);
}

input.true {
  background-color: hsla(180, 100%, 40%, 0.25);
}