.svg {
    border: 1px solid black;

    // width: 100%;
    // max-width: 960px;
    // min-width: 320px;

    width: clamp(320px, 100%, 960px);
    height: 110px;

    // rect {
    //     width: 30px;
    // }
}

.svg-container {
    border: 2px dotted red;
    overflow: scroll;
}
