html {
    --headerHeight: 8rem;
}

header {
    position: fixed;
    left: 0;
    top: 0;

    display: block;
    width: 100%;
    height: var(--headerHeight);
}
main {
    margin-block-start: var(--headerHeight);
}
