@mixin borderRadius($radius) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -webkit-border-radius: $radius;
    -khtml-border-radius: $radius;
    -o-border-radius: $radius;
}

