// Use of material design component
@use "@material/button"as button;
@use "@material/button/styles";

// Theming buttons
.custom-text-button,
.custom-outlined-button {
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;

    @include button.icon-color(hsla(0, 10%, 20%, 0.15));
    @include button.ink-color(hsla(0, 10%, 15%, 0.5));
    @include button.outline-color(hsla(0, 10%, 60%, 0.85));
    @include button.container-fill-color(hsla(0, 10%, 70%, 0.85))
}

// Own styles