/* Base */
* {
    box-sizing: border-box;
}
html {
    font-family: Barlow, sans-serif;
    font-size: 18px; /* Base for root em (rem) */
    line-height: 1.4;
}
body {
    margin: 1rem;
}

/* Layout */
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

section#we-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
section#we-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
section#we-3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
section#we-4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

section {
    border: 2px dotted lightsteelblue;
}

.selected {
    background-color: hsla(180deg, 100%, 50%, 0.5);
}
table {
    width: 100%;
}
thead,
tfoot {
    background-color: hsla(180deg, 80%, 30%, 1);
    color: hsla(0deg, 100%, 100%, 1);
    text-align: center;
}
th {
    font-weight: 400;
}
tr:nth-child(odd) {
    background-color: hsla(180deg, 80%, 30%, 0.25);
}
[data-value] {
    text-align: right;
}
[data-unit] {
    text-align: left;
}
/* - - - - - - - - - - 
   Effects?

   - transitions (Übergang)
   - animations (Bewegungsfolge)
   - transformation (Veränderung)
*/

.default {
    background-color: lightgrey;
}
.good {
    background-color: green;
}
.bad {
    background-color: red;
}

section {
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0;
}

.good {
    animation-name: my-animation;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes my-animation {
    0% {
        background-color: yellow;
        width: 1em;
    }
    25% {
        background-color: orange;
        width: 2rem;
    }
    50% {
        background-color: red;
        width: 3rem;
    }
    75% {
        background-color: green;
        width: 4rem;
    }
    100% {
        background-color: yellow;
        width: 5rem;
    }
}

section#we-1 {
    transform: rotateZ(0) translate3d(0, 0, 0);
    transform-origin: center center;
    transform-style: preserve-3d;
    perspective: 800px;
    perspective-origin: 50% 100px;
}
