html,
html * {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
}

body {
    margin: 0;
}

@media screen and (max-width:768px) {
    html {
        font-size: $baseFonSize*1;
    }
}

@media screen and (min-width:769px) {
    html {
        font-size: $baseFontSize*1.2;
    }
}