// Include bootstrap?
// @import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css");

// RESET
html,
html * {
  box-sizing: border-box;
}

html,
body {
  // RESET
  margin: 0;

  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
}

body > * {
  padding: 1rem;
}
