.card {
    --width: 400px;
    --height: 400px;
    position: absolute;
    background-color: hsla(0, 0%, 10%, 0.9);
    min-width: var(--width);
    min-height: var(--height);
    border-radius: 10px;
    padding: 2rem;
    left: calc(50vw - var(--width) / 2);
    top: calc(50vh - var(--height) / 2);
    box-shadow: 0px 0px 8px hsla(0, 0%, 0%, 0.9);
    display: none;
}