.colorfield {
    display: block;
    width: 3rem;
    height: 3rem;
}

.color-primary {
    background-color: $primaryColor;
}

.color-primary-light {
    background-color: $lightPrimaryColor;
}

.color-secondary {
    background-color: $secondaryColor;
}

.color-secondary-light {
    background-color: $lightSecondaryColor;
}

.color-secondary-lighter {
    background-color: $lighterSecondaryColor;
}

.color-danger {
    background-color: $dangerColor;
}

.color-warning {
    background-color: $warningColor;
}

.color-success {
    background-color: $successColor;
}

.color-info {
    background-color: $infoColor;
}