/* Theme colors  */
.background {
    background-color: $background;
    color: $onBackground;
    fill: $background;
}

.content {
    background-color: $contentBackground;
    color: $onContentBackground;
    fill: $contentBackground;
}

// Primary
.primary {
    color: $onPrimary;
    background-color: $primary;
}

// Secondary
.secondary {
    color: $onSecondary;
    background-color: $secondary;
}

// Signals
.error {
    color: $onError;
    background-color: $error;
}

.warning {
    color: $onWarning;
    background-color: $warning;
}

.valid {
    color: $onValid;
    background-color: $valid;
}

// Layout
.colors ol {
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
}

.box {
    width: 5rem;
    height: 5rem;
    padding: 0.25rem;
    margin: 0.25rem;
}

.big {
    width: 8rem;
    height: 8rem;
}

.small {
    width: 3rem;
    height: 3rem;
}

.default {
    border: 2px dotted white;
}
