footer {
    // Layout
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    nav {
        ul {
            display: flex;
            flex-direction: row;
        }
    }
}
