// Header
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .logo {
    background-image: url("../figures/shou.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    margin: 0;
    padding: 0;

    min-width: 4rem;
    min-height: 4rem;
  }

  // Temporär
  // & bezieht sich auf das den vorausgehenden
  // Ancestor-Selector, in diesem Fall ist das ".header"
  & > * {
    // border: 1px<  dotted black;
  }
}

.header {
  @media screen and(max-width: 599px) {
    & .hamburger {
      display: block;
    }
    & .nav {
      display: block;

      height: 0;
      overflow: hidden;

      position: relative;
      z-index: 11;
    }

    & .hamburger:active + .nav,
    & .nav:active,
    & .nav:hover {
      height: 5rem;
    }
  }
  @media screen and(min-width: 600px) {
    & .hamburger {
      display: none;
    }
    & .nav {
      display: flex;
    }
  }
}
