body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 6rem auto 8rem;
    gap: 0.25rem;
}

header {
    grid-column: 1 / 12;
    grid-row: 1 / 2;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

main {
    grid-column: 3 / 12;
    grid-row: 2 / 3;
}

footer {
    grid-column: 1 / 12;
    grid-row: 3 / 4;
}
header,
nav,
main,
footer {
    padding: 0.5rem;
}
