// Layouten mit CSS 3
// 1. flex boxes
// 2. grids
.page {
  display: flex;
  flex-direction: column;
  gap: 1rem; // eine Zeile
}

// Child:       ">"
// Descendants: " "
.page > *,
.page-content > * {
  // border: 3px dotted hsla(0, 0%, 100%, 0.5);
  // background-color: hsla(0, 0%, 0%, 0.05);
}

.page-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  // Ausrichtung in flex-Richtung
  justify-content: flex-start;
  // Ausrichtung in counter-flex-Richtung
  align-items: stretch;
}

// Grid Layout
.page {
  display: grid;
  grid-template-rows: 4rem auto 4rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  &-header {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
  }
  // &-content {
  //   grid-row: 2 / 3;
  //   grid-column: 1 / 5;
  // }
  & > nav {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  & > main {
    grid-row: 2 / 3;
    grid-column: 2 / 5;
  }
  &-footer {
    grid-row: 3 / 4;
    grid-column: 1 / 5;
  }
}
