[id=form-login] {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25vh;
    background: linear-gradient(to right bottom,
            hsl(0, 0%, 80%), hsl(0, 0%, 58%));


    fieldset {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 0;
    }


    input,
    select,
    button {
        font-family: Barlow;
        background-color: transparent;
        border: 0;
        margin: 0;
        padding: 0;
    }

    .input-group {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        background-color: hsla(0, 0%, 100%, 0.5);
        border: 1px solid hsla(0, 0%, 0%, 0.125);
        border-bottom: 1px solid blue;
        margin-bottom: 0.25rem;

        input,
        select,
        button {
            align-self: flex-end;
        }

        input,
        select {
            width: 70%;
        }

        select {
            margin-left: -0.4rem;
        }

        input:active,
        input:focus,
        input:focus-visible,
         select:active,
        select:focus,
        select:focus-visible {
            border: 0;
            outline: 0;
            padding: 0.25rem;
            perspective: 1000px;
            transform: scale(1.2) rotateZ(0);
            background: hsla(0, 0%, 100%, 1);
            box-shadow: 3px 3px 3px hsla(0,0%,0%,0.5);
        }

        label {
            max-width: 23%;
            width: 23%;
            text-overflow: ellipsis;
        }

        button {
            width: 7%;
        }

    }
}

.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    * {
        border: 2px dotted red;
    }
}