// Border function
@mixin border($radius:$defaultBorderRadius, $color:$defaultBorderColor, $width:$defaultBorderWidth, $style:$defaultBorderStyle) {
    border-color: $color;
    border-width: $width;
    border-style: $style;

    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -o-border-radius: $radius;
    -khtml-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}