// Navigation Class Definition
.navigation {
    // Base definition
    margin: 0;
    padding: 0;
    list-style-type: none;

    a:link {
                text-decoration: none;
    }

    // Layout
    a:link {
        display: block;
        padding-left: $defaultPadding;
        padding-top: $defaultPadding/2;
        padding-bottom: $defaultPadding/2;
    }

    // States
    a:link {
        color: $primary;
    }

    a:visited {
        color: $primary;
    }

    a:hover {
        background-color: $brighterPrimary;
        color: $primary;
    }

    a:active {
        color: $brighterPrimary;
        background-color: $darkerPrimary;
    }

}

// Layout variations
.navigation-horizontal li {
    display: inline-block;
    width: 100px;
}

.navigation-vertical li {
    display: block;
}