body {
    padding: 1rem;
}

body {
    display: flex;
    flex-direction: column;
}

.page-header header {
    display: flex;
    flex-direction: row;
}

.page-content {
    display: flex;
    flex-direction: row;
}

.page-content nav {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

.page-content main {
    flex-basis: 60%;
    flex-grow: 1;
    flex-shrink: 1;
}

.page-content aside {
    flex-basis: 40%;
    flex-grow: 1;
    flex-shrink: 1;
}

section {
    padding: 0.25rem;
}

.page-header {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 6rem;
}

section[id=teaser],
.page-content aside {
    margin-top: 4.37rem;
}

section[id] {
    height: calc(100vh - 6rem);
}