.template-1 {
    // Base
    // Layout
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 8rem auto 6rem;

    & > * {
        padding-inline: 1rem;
    }

    &-header {
        grid-column: 1 / 13;
        grid-row: 1 / 2;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &-nav {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }
    &-main {
        grid-column: 4 / 13;
        grid-row: 2 / 3;
    }
    &-footer {
        grid-column: 1 / 13;
        grid-row: 3 / 4;
    }

    // Components
    // States
    // Theme
}
