// Typography base
html {
    font-family: $baseFontFamily;
    font-size: $baseFontSize; // base size -> 1 rem
    line-height: $baseLineHeight;
}

// Element specifications
h1 {
    font-size: 2.5rem
}

h2 {
    font-size: 2rem
}

h3 {
    font-size: 1.8rem
}

h4,
h5,
h6 {
    font-size: 1.5rem
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

p,
li,
code,
kbd,
th,
td,
legend,
label,
input {
    font-size: 1rem;
}