// Typography
html {
  font-size: 16px;
  line-height: 1.2;
}

// Base font size
// All devices fallback
h1 {
  font-size: 2.5rem;
}

// Media Queries
// Extra small devices
@media screen and (max-width: 599px) {
  html {
    font-size: 16px;
  }
}
// Breakpoint list
// Small devices
// portrait mode (Hochformat)
@media screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }
}
// Small devices
// landscape mode (Querformat)
@media screen and (min-width: 905px) {
  html {
    font-size: 16px;
  }
}

// Medium device, i.e. laptops
@media screen and (min-width: 1240px) {
  html {
    font-size: 16px;
  }
}

// Large device, i.e. desktops
@media screen and (min-width: 1440px) {
  html {
    font-size: 24px;
  }
}
