@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Typography
html {
  font-family: Barlow, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;

  // Typographic stuff
  hyphens: auto;

  @media screen and (max-width: 599px) {
    font-size: 13px;
  }
}

h1,
h2,
h3 {
  font-weight: 300;
}
h4,
h5,
h6 {
  font-weight: 600;
}
// Media Queries
// Base font size for the devices
// Extra small devices
@media screen and (max-width: 599px) {
  html {
    font-size: 13px;
  }
  h1 {
    font-size: 1.8rem;
  }
}
// Breakpoint list
// Small devices
// portrait mode (Hochformat)
@media screen and (min-width: 600px) {
  html {
    font-size: 14px;
  }
}
// Small devices
// landscape mode (Querformat)
@media screen and (min-width: 905px) {
  html {
    font-size: 15px;
  }
}

// Medium device, i.e. laptops
@media screen and (min-width: 1240px) {
  html {
    font-size: 16px;
  }
}

// Large device, i.e. desktops
@media screen and (min-width: 1440px) {
  html {
    font-size: 24px;
  }
}
