// Global variables for everything ...

// Default colors
$defaultBackgroundColor:hsla(0, 0%, 0%, 0.8);
$defaultTextColor:hsla(0, 0%, 90%, 1);

$primaryColor: hsla(201, 61%, 46%, 1); // #6BC3F2
$lightPrimaryColor: lighten($primaryColor, 20%);

$secondaryColor: hsla(34, 58%, 48%, 1); // #DBA660; #FFCC8A
$lightSecondaryColor: lighten($secondaryColor, 15%);
$lighterSecondaryColor: lighten($secondaryColor, 30%);

$dangerColor: hsla(0, 61%, 46%, 1);
$warningColor: hsla(50, 61%, 46%, 1);
$successColor: hsla(150, 61%, 36%, 1);

$infoColor: $primaryColor;


// Typography
$defaultFontFamily: Roboto,
Helvetica,
Arial,
sans-serif;
$defaultFontWeight: 400; // regular
$defaultFontSize: 16px; // base for rem
$defaultLineHeight: 1.4;
$defaultFontSizeAdjustment: 100%;

$defaultMargin:2rem;
$defaultPadding:0.5rem;

// Common design attributes
$defaultBorderRadius: 0;
$defaultBorderWidth: 1px;
$defaultBorderStyle: solid;
$defaultBorderColor: $lightPrimaryColor;

// Grid
$gridColumns: 7;
$gridColumnGap: $defaultPadding;

// Media sizes @each
$mediaSizes: 480px,
640px,
768px,
1024px;
$mediaSizes-2: ("tiny":480px, "small":768px, "medium":1024px);

// Forms
$formBorderStyle: none;
$formBorderColor: $lightPrimaryColor;
$formBorderWidth: $defaultBorderWidth;
$formBorderRadius: $defaultBorderRadius;