// SASS Variables
$prefix: ".mD"; // ???

// TYPOGRAPHY
$fontSize: 18px;

// COLORS
$primary: hsla(20, 100%, 50%, 0.18);
$secondary: orange;
$tertiary: green;

$primary-disabled: desaturate($primary, 10%);

// APPLICATION EXAMPLE
body {
    background: $primary;
}

// CSS VARIABLES
// SCOPE!
:root {
    --primary: transparent;
    --secondary: orange;
    --tertiary: green;
}

body {
    background: var(--primary);
}
