<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Grundlagen</title>
    <link rel="stylesheet" href="/assets/css/style.css">

    <script src="libs/vue.js"></script>

</head>

<body>
    <h1>Vue Grundlagen</h1>

    <!-- data binding and data output -->
    <div id="app">
        <!-- - - - - - -->
        <p>{{ message }}</p>
        <input v-model="message" type="text">

        <!-- controls I -->
        <p v-if="count === 1">Count equals one</p>
        <p v-else-if="count === 2">Count equals 2</p>
        <p v-else>Count equals someting else</p>

        <p v-show="count != 3">Count not equals zero</p>


        <form action="#">
            <label for="">Email</label>
            <input v-model="email" v-bind:class="[email.length < 2 ? 'red' : 'green']" type="email" name=""
                id="" required minlength="2">
            <button v-bind:disabled="email.length < 2">enter</button>
        </form>
        <!-- output of text vs. html-->
        <p v-text="text"></p>
        <p v-html="text"></p>

        <!-- output once only -->
        <p>{{more}}</p>
        <p v-once>{{more}}</p>


        <!-- controls II -->
        <ul>
            <li v-for="country in countries">{{country}}</li>
        </ul>

        <ul>
            <li v-for="value, key in capitals">{{key}} : {{value}}</li>
        </ul>
        <!-- - - - - - -->
    </div>
    <script>
        window.onload = () => {
            new Vue({
                el: '#app',
                data: {
                    message: 'Hello Vue',
                    count: 3,
                    email: '',
                    text: '<strong>some text</strong>',
                    more: 'rendered once only',

                    countries: ['London', 'Paris', 'Berlin'],


                    capitals: {
                        country: "Deutschland",
                        capital: "Berlin"
                    }
                }
            })
        }
    </script>
    <style>
        .red {
            border: 2px solid red;
        }

        .green {
            border: 2px solid green;
        }

        input:valid {
            border: 2px solid green;
        }

        input:invalid {
            border: 2px solid red;
        }
    </style>
</body>

</html>