@at-root {
	@font-face {
		font-family: Lora-Medium;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Lora/Lora-Medium.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Lora-SemiBoldItalic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Lora/Lora-SemiBoldItalic.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Lora-Regular;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Lora/Lora-Regular.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Lora-BoldItalic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Lora/Lora-BoldItalic.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Lora-SemiBold;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Lora/Lora-SemiBold.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Lora-Bold;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Lora/Lora-Bold.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Lora-MediumItalic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Lora/Lora-MediumItalic.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Lora-Italic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Lora/Lora-Italic.ttf);
		-ro-font-embedding-type: all;
	}
}
