@at-root {
	@font-face {
		font-family: NoticiaText-Regular;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Noticia_Text/NoticiaText-Regular.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: NoticiaText-Bold;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Noticia_Text/NoticiaText-Bold.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: NoticiaText-Italic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Noticia_Text/NoticiaText-Italic.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: NoticiaText-BoldItalic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Noticia_Text/NoticiaText-BoldItalic.ttf);
		-ro-font-embedding-type: all;
	}
}
