@at-root {
	@font-face {
		font-family: PlayfairDisplay-BoldItalic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: PlayfairDisplay-Medium;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Playfair_Display/PlayfairDisplay-Medium.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: PlayfairDisplay-SemiBoldItalic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Playfair_Display/PlayfairDisplay-SemiBoldItalic.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: PlayfairDisplay-MediumItalic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Playfair_Display/PlayfairDisplay-MediumItalic.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: PlayfairDisplay-Black;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Playfair_Display/PlayfairDisplay-Black.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: PlayfairDisplay-Bold;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: PlayfairDisplay-BlackItalic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Playfair_Display/PlayfairDisplay-BlackItalic.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: PlayfairDisplay-ExtraBoldItalic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Playfair_Display/PlayfairDisplay-ExtraBoldItalic.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: PlayfairDisplay-ExtraBold;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Playfair_Display/PlayfairDisplay-ExtraBold.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: PlayfairDisplay-SemiBold;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Playfair_Display/PlayfairDisplay-SemiBold.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: PlayfairDisplay-Italic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Playfair_Display/PlayfairDisplay-Italic.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: PlayfairDisplay-Regular;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf);
		-ro-font-embedding-type: all;
	}

}
