@at-root {
	@font-face {
		font-family: Rubik-Black;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-Black.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Rubik-BlackItalic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-BlackItalic.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Rubik-ExtraBoldItalic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-ExtraBoldItalic.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Rubik-LightItalic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-LightItalic.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Rubik-Medium;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-Medium.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Rubik-SemiBold;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-SemiBold.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Rubik-BoldItalic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-BoldItalic.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Rubik-Regular;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-Regular.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Rubik-SemiBoldItalic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-SemiBoldItalic.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Rubik-Italic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-Italic.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Rubik-MediumItalic;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-MediumItalic.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Rubik-Light;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-Light.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Rubik-ExtraBold;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-ExtraBold.ttf);
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: Rubik-Bold;
		font-style: normal;
		font-weight: normal;
		src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-Bold.ttf);
		-ro-font-embedding-type: all;
	}
}
