<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table View</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <h1>Search View</h1>

    <form method="get" action="result.html?search=Merinoschaf&other=Eingabe">
        <input type="search" name="search" placeholder="Search for sheeps ...">
        <input type="text" name="other">
        <button type="submit">search</button>
    </form>

    <% if (data.length && data.length>0) { %>
    <h2>Results</h2>



    <table>
        <tr>
            <th>ID</th>
            <th>Sheep</th>
        </tr>
        <% for (let i=0; i<data.length; i++) { %>
        <tr>
            <td><%= data[i].id %></td>
            <td><%= data[i].sheep %></td>
        </tr>
        <% } %>
    </table>
    <% } %>
    <script src="assets/js/script.js"></script>
</body>

</html>