<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table View</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <h1>Table View</h1>
    <p><%= data %></p>
    <p><%= userData %></p>

    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
        <% for (let i=0; i<userData.length; i++) { %>
        <tr>
            <td><%= userData[i].username %></td>
            <td><%= userData[i].email %></td>
        </tr>
        <% } %>
    </table>

    <script src="assets/js/script.js"></script>
</body>

</html>