/** HAMBURGER MENU */
:root {
    --bar-height: 0.2rem;
    --bar-distance: calc(var(--bar-height)/2);

    --hamburger-height: calc(calc(var(--bar-height)*3) + calc(var(--bar-distance)*2));
    --hamburger-width: var(--hamburger-height);

    --factor: 1.05;

    --default-bar-color: hsla(0, 0%, 0%, 1);
}

/** COMPONENT BASE */
.hamburger {
    display: block;
    width: var(--hamburger-width);
    height: var(--hamburger-height);
}

.hamburger-bar {
    display: block;
    width: 100%;
    height: var(--bar-height);
    margin-bottom: var(--bar-distance);
}

/** COMPONENT LAYOUT */
.hamburger-bar:nth-child(1) {
    background: var(--default-bar-color);
}

.hamburger-bar:nth-child(2) {
    background: var(--default-bar-color);
}

.hamburger-bar:nth-child(3) {
    background: var(--default-bar-color);
}

/** COMPONENT THEME */

/** COMPONENT CHANGING STATES (BEHAVIOUR) */
.hamburger-bar {
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.hamburger:hover .hamburger-bar:nth-child(1) {
    transform:
        rotateZ(45deg) translateY(calc(var(--bar-height)*var(--factor))) translateX(calc(var(--bar-height)*var(--factor)));
}

.hamburger:hover .hamburger-bar:nth-child(2) {
    opacity: 0;
}

.hamburger:hover .hamburger-bar:nth-child(3) {
    transform:
        rotateZ(-45deg) translateY(calc(var(--bar-height)*var(--factor)*-1)) translateX(calc(var(--bar-height)*var(--factor)));
}