@media screen {
    body {
        background-color: hsla(0, 0%, 0%, 1)
    }

    body::after {
        content: "fallback";
        color: hsla(0, 0%, 100%, 0.4);
        display: block;
        position: absolute;
        bottom: 0.25rem;
    }
}

@media screen and (max-width: 767px) {
    body {
        background-color: hsla(0, 0%, 10%, 1)
    }

    body::after {
        content: "max-width: 767px";
        color: hsla(0, 0%, 100%, 0.4);
        display: block;
        position: absolute;
        bottom: 0.25rem;
    }
}

@media screen and (min-width: 768px) {
    body {
        background-color: hsla(0, 0%, 20%, 1)
    }

    body::after {
        content: "min-width: 768px";
        color: hsla(0, 0%, 100%, 0.4);
        display: block;
        position: absolute;
        bottom: 0.25rem;
    }
}

@media screen and (min-width: 1024px) {
    body {
        background-color: hsla(0, 0%, 30%, 1)
    }

    body::after {
        content: "min-width: 1024px";
        color: hsla(0, 0%, 100%, 0.4);
        display: block;
        position: absolute;
        bottom: 0.25rem;
    }
}


/* temp */
.flex-row>* {
    background-color: hsla(201, 98%, 35%,0.5);

    border-width: 1px;
    border-style: solid;
    border-color: hsla(0, 0%, 0%, 1);
    
    margin-top: 0.5rem;
    margin-right:0; 
    margin-bottom: 0.5rem;
    margin-left:0;

    min-height: 1rem;
    min-width: 1rem;
}

.page-container {
    background-color: hsla(0, 0%, 100%, 1);
    padding: 0.5rem;
}