/* PRODUCT */
.article-product-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.article-product {
    text-align: center;
}

.article-product {
    padding: 1rem;
    position: relative;
}

.article-product-description {
    font-weight: 300;
    font-size: 1.2rem
}

.article-product-size {
    font-size: 0.8rem
}

.article-product-prize {
    font-size: 1.2rem
}

/* Product states */
.article-product span.fa-heart {
    /* positioning */
    display: block;
    position: absolute;
    right: 1.3rem;
    top: 1.3rem;
}

/* Like states */
.like {}

.like-default {
    color: hsla(0, 0%, 70%, 1);
}

.like-selected {
    color: hsla(160, 100%, 30%, 0.5);
}

html[lang="de-DE"] .article-product-prize::after {
    content: " €";
}

html[lang="en-US"] .article-product-prize::after {
    content: " $";

    color: red;
    font-family: Menlo, monospace;
    display: inline;


}