/* PRODUCT */
.article-product-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.article-product {
    text-align: center;
}

.article-product {
    padding: 1rem;
    position: relative;
}

.article-product-description {
    font-weight: 300;
    font-size: 1.2rem
}

.article-product-size {
    font-size: 0.8rem
}

.article-product-prize {
    font-size: 1.2rem
}

/* Product states */
.article-product span.fa-heart {
    /* positioning */
    display: block;
    position: absolute;
    right: 1.3rem;
    top: 1.3rem;
    z-index: 1;
}

/* Like states */
.like {
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 250ms;
    transition-delay: 0s;
}

.like-default {
    color: hsla(0, 0%, 70%, 1);
    font-size: 1rem;
}

.like-selected {
    color: hsla(160, 100%, 30%, 0.5);
    font-size: 1.5rem;
}


@keyframes heartbeat {
    0% {
        font-size: 1rem;
        color: red;
        transform: rotateY(0deg);
        text-shadow: 0 0 0px hsla(0, 0%, 0%, 0.8);
    }

    50% {
        font-size: 2rem;
        color: maroon;
        transform: rotateY(0deg) translate3d(0, 0, 0rem);
        text-shadow: -5px 5px 4px hsla(0, 0%, 0%, 0.6);
    }

    100% {
        font-size: 1rem;
        color: red;
        transform: rotateY(0deg);
        text-shadow: 0 0 0 hsla(0, 0%, 0%, 0.8);
    }
}

.heart-beat {
    animation: heartbeat 1s infinite;
}

html[lang="de-DE"] .article-product-prize::after {
    content: " €";
}

html[lang="en-US"] .article-product-prize::after {
    content: " $";

    color: red;
    font-family: Menlo, monospace;
    display: inline;
}



.article-product img {
    box-shadow: 4px 4px 5px hsla(0, 0%, 0%, 0.4);
    filter: grayscale(100%) blur(5%);
    transition: all 50ms ease-in;
}

.article-product img:hover {
    filter: grayscale(0) blur(0);
    transform: translate3d(0, 0, 100px);
}