<!DOCTYPE html>
<html
    lang="en"
    dir="ltr">
    <%- include('partials/head') -%>
    <body>
        <%- include('partials/header') -%>
        <!-- - - - - - - - - - --->
        <h1>You are authenticated</h1>
        <p><a href="/logout">Logout and reload</a></p>
        <!-- - - - - - - - - - --->
        <%- include('partials/footer') -%>
    </body>
</html>
