<!DOCTYPE html>
<html
    lang="en"
    dir="ltr">
    <%- include('partials/head') -%>
    <body>
        <%- include('partials/header') -%>
        <!-- - - - - - - - - - --->
        <p>
            You successfully logged in. -->
            <a href="/protected-route">Go to protected route</a>
        </p>
        <!-- - - - - - - - - - --->
        <%- include('partials/footer') -%>
    </body>
</html>
