<!DOCTYPE html>
<html
    lang="en"
    dir="ltr">
    <%- include('partials/head') -%>
    <body>
        <%- include('partials/header') -%>
        <section id="login">
            <form
                action="/login"
                method="post">
                <h1 class="logintitle">Login</h1>

                <p class="textp">
                    Not a member yet ?<br />
                    <a href="/register">Join us</a>
                </p>

                <label>Username : </label>
                <input
                    type="text"
                    placeholder="Enter Username"
                    name="username"
                    required />

                <label>Password : </label>
                <input
                    type="password"
                    placeholder="Enter Password"
                    name="password"
                    required />

                <button
                    formaction="/login"
                    type="submit">
                    Login
                </button>
            </form>
        </section>
        <%- include('partials/footer') -%>
    </body>
</html>
