<!DOCTYPE html>
<html
    lang="en"
    dir="ltr">
    <%- include('partials/head') -%>
    <body>
        <%- include('partials/header') -%>
        <!-- - - - - - - - - - --->
        <h1>Something wrong</h1>
        <p>You entered maybe the wrong password.</p>
        <!-- - - - - - - - - - --->
        <%- include('partials/footer') -%>
    </body>
</html>
