<!DOCTYPE html>
<html
    lang="en"
    dir="ltr">
    <%- include('partials/head') -%>
    <body>
        <%- include('partials/header') -%>
        <!-- - - - - - - - - - --->
        <h1>
            You are not authorized to view the resource as you are not the admin
            of the page
        </h1>
        <p><a href="/login">Retry to Login as admin</a></p>
        <!-- - - - - - - - - - --->
        <%- include('partials/footer') -%>
    </body>
</html>
