<!DOCTYPE html>
<html
    lang="en"
    dir="ltr">
    <%- include('partials/head') -%>
    <body>
        <%- include('partials/header') -%>
        <!-- - - - - - - - - - --->
        <h1>You are not authorized to view the resource</h1>
        <p><a href="/login">Retry Login</a></p>
        <!-- - - - - - - - - - --->
        <%- include('partials/footer') -%>
    </body>
</html>
