<!DOCTYPE html>
<html
    lang="en"
    dir="ltr">
    <%- include('partials/head') -%>
    <body>
        <%- include('partials/header') -%>
        <!-- - - - - - - - - - --->
        <h1>Sorry, this username is already taken.</h1>
        <p><a href="/register">Register with different username</a></p>
        <!-- - - - - - - - - - --->
        <%- include('partials/footer') -%>
    </body>
</html>
