.headline {
	-ro-pdf-overprint-content: mode1;

	--alf-grid-align-top: baseline;
	--alf-grid-align-bottom: baseline;
	--alf-text-respect-line-breaks: 0;
	--alf-text-size-units: pt;
	--alf-text-size-min: 25;
	--alf-text-size-max: 65;
	--alf-text-lines: 0;

	--headline-color: var(--color-black);
	--headline-size: 30pt;
	--headline-line-height: 1.01;
	--headline-font-family: PlayfairDisplay-SemiBold;;
	--headline-letter-spacing: -0.02em;

	* {
		-ro-pdf-overprint-content: mode1;
	}

	&.alf-text-auto-size {
		// Setting the font size to the average of min/max so it can grow/shrink
		// This will make sure the headline can always be automatically adjusted up or down
		font-size: calc(((var(--alf-text-size-min) + var(--alf-text-size-max)) / 2) * 1pt);
	}

	* {
		margin: 0;
		font-weight: bold;
		color: var(--headline-color);
		font-size: var(--headline-size);
		line-height: var(--headline-line-height);
		font-family: var(--headline-font-family);
		letter-spacing: var(--headline-letter-spacing);
	}

	.alf-colspan-4,.alf-colspan-16,.alf-colspan-5 {
		font-size: 8pt;
		color: yellow;
	}
}
