@import "_variables";

.alf-layout {
	// Recommended to have these feature flags enabled (https://docs.aptoma.com/dredition/setup-print/layoutpreview-setup/css-for-print-design#feature-flags)
	--alf-align-bottom-enabled: 1;
	--alf-align-images-enabled: 1;

	background: transparent;
	box-sizing: border-box;
	color: var(--color-black);
	line-height: $grid-line-height;
	text-rendering: geometricPrecision;
	-ro-glyph-layout-mode: quality;
	widows: 1;
	orphans: 1;

	@import "_utils";
	@import "_layout";
	@import "components";
	@import "themes";
}

.bold{
	font-weight: bold;
}

.Ortsmarke{
	font-weight: bold;
	color: black !important;
}

.headline_h3{
	font-weight: bold !important;
	font-family: Rubik-Bold !important;
	font-size: 11pt !important;
	margin-top: 2pt !important;
	margin-bottom: 2pt !important;
	color: black !important;
}



