.figcaption {
    color: black;
    background: none;
    font-size: 0.8em !important;
    text-align: left;
    transform: translateX(-1em) translateY(1em);
    text-shadow: none;
    -webkit-text-stroke: 0;
    font-weight: 400;
}

