/* Base Styles */
:root,
html {
    font-family: sans-serif;
    /* root em (M-Höhe des :root Elements)*/
    font-size: 16px;
}

html,
html * {
    box-sizing: border-box;

    transition-property: all;
    transition-delay: 0;
    transition-duration: 250ms;
    transition-timing-function: ease-in;
}

body {
    margin: 0;
}