@import url('https://fonts.googleapis.com/css2?family=Imbue:wght@900&display=swap');
html, :root{
    font-family: Roboto, monospace;
    font-size:18px;
}

.customer body {
    background-color: white;
    // background: linear-gradient(to bottom, hsla(353, 57%, 85%, 1) 0%, hsla(353, 60%, 56%, 1) 50%, hsla(353, 65%, 44%, 1) 51%, hsla(353, 78%, 75%, 1) 100%);
}

header * {
    border: 0px dotted black;
}