// COMPONENT FORM
// BASE
// LAYOUT
// STATES

// COMPONENT FIELDSET
// BASE
// LAYOUT
.fieldset-responsive h4,
.fieldset-responsive p {
    display: block;
    margin: 0;
}

.fieldset-responsive p {
    display: block;
    margin-bottom: 2rem;
}

@media screen {
    .fieldset {
        display: flex;
        flex-direction: row;

        outline:1px dotted red;
    }

    .fieldset > * {
        background-color: lightcoral;
        display:inline-block;
    }
}

.fieldset .group {}

// STATES

// COMPONENT GROUP
// BASE
// LAYOUT

// ROW/COLUMN
@media screen {
    .group-responsive {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .group-responsive.group-radio {
        flex-direction: row;
    }

    .group-responsive label,
    .group-responsive input {
        display: inline;
    }

}

@media screen and (min-width:768px) {
    .group-responsive {
        flex-direction: row;
    }
}

.group-responsive label {
    outline: 1px solid green;
}

.group-responsive input {
    outline: 1px solid orange;
}

// WIDTH/HEIGHT

// STATES

// COMPONENT ELEMENT
// BASE
// LAYOUT
// STATES