h1,
h2 {
    font-family: Impact;
}

h1 {
    outline-width: 2px;
    outline-style: solid;
    outline-color: red;
    outline-offset: 15px;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: green;
}

h2 {

    -webkit-text-stroke: 2px hsla(0, 0%, 0%, 0.8);
    -webkit-font-smoothing: none;
    color: transparent;
}

text {
    font-family: Impact;
    font-size: 32px;
    fill: transparent;
    stroke: red;
    stroke-width: 1px;
}

h1 {
    text-shadow: 1px 1px 1px white, 1px -1px 1px white, -1px 1px 1px white, -1px -1px 1px white;
    -webkit-font-smoothing: subpixel-antialiased;
    color: green;
    padding: 0.25rem;
}