// Global SASS variables

$variableName : 2rem;

$textColor : black;
$backgroundColor: white;
$primaryColor: hsla(240, 50%, 50%, 1);
$secondaryColor: hsla(30, 60%, 50%, 1);

$defaultPadding:1rem;
$defaultFontFamily: Arial;
$defaultFontSize: 16px;