html {
    background-color: var(--bright);
    color: var(--dark);

    a:link {
        color: var(--link-color);
    }
    a:visited {
        color: var(--link-visited);
    }
    a:hover {
        color: var(--link-hover);
    }
    a:active {
        color: var(--link-active);
    }

    &.dark {
        background-color: var(--dark);
        color: var(--on-dark);
        
        samp {
            background-color: var(--sample-dark);
            filter: invert(1);
            > *:not(figure) {
                filter: invert(1);
            }
        }

        pre {
            filter: invert(1);
            > * {
                filter: invert(1);
            }
        }

        textarea {
            color: var(--bright);
            filter: invert(1);
        }

        a:link {
            color: var(--link-color);
            filter: invert(1);
        }
        a:visited {
            color: var(--link-visited);
        }
        a:hover {
            color: var(--link-hover);
            filter: invert(1);
        }
        a:active {
            color: var(--link-active);
            filter: invert(1);
        }
        body > nav:nth-child(2) {
            background: hsla(0, 0%, 15%, 0.85);
            color: var(--on-dark);
        }
    }
    &.bright {
        background-color: var(--bright);
        color: var(--on-bright);
        filter: invert(1);
    }
    &.neutral {
        background-color: var(--neutral);
        color: var(--on-neutral);
    }
 }

.color {
    display: inline-block;
    width: toRem(12);
    height: toRem(12);

    margin: toRem(25);
    padding: toRem(0.25);

    &.error {
        background-color: var(--error);
        color: var(--on-error);
    }
    &.warning {
        background-color: var(--warning);
        color: var(--on-warning);
    }
    &.success {
        background-color: var(--success);
        color: var(--on-success);
    }
    &.info {
        background-color: var(--info);
        color: var(--on-info);
    }
    &.primary {
        background-color: var(--primary);
        color: var(--on-primary);
    }
    &.secondary {
        background-color: var(--secondary);
        color: var(--on-secondary);
    }
    &.tertiary {
        background-color: var(--tertiary);
        color: var(--on-tertiary);
    }
    &.neutral {
        background-color: var(--neutral);
        color: var(--on-neutral);
    }
    &.dark {
        background-color: var(--dark);
        color: var(--on-dark);
    }
    &.bright {
        background-color: var(--bright);
        color: var(--on-bright);
    }
}
