html {
    font-family: Barlow, sans-serif;
    background-color: hsla(0, 0%, 0%, 0.85);
    color: hsla(0, 0%, 100%, 0.85);
}

form#login {
    display: block;
    padding: 1rem;
    position: absolute;
    width: 50vw;
    height: 17rem;
    left: 25vw;
    top: calc((100vh - 17rem) / 2);


    background: white;
    color: black;
    box-shadow: 0.5rem 0.5rem 1rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

fieldset {
    display: flex;
    flex-flow: column;
    justify-content: center;

    border: 0;
}

fieldset>* {
    width: 100%;
}

label,
input,
button {
    font-family: Barlow, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 0.125rem;
    border-color: hsla(0, 0%, 0%, 0.125);
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
}

#id {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0.5;
    background-color: hsla(0, 0%, 0%, 0.85);
    color: hsla(0, 0%, 100%, 0.85);
}

label,
button {
    margin-top: 2rem;
}

p {
    opacity: 0.85;
}

h1 {
    font-weight: 100;
}

a:link,
a:visited {
    color: hsla(0, 50%, 50%, 0.85);
    text-decoration: none;
}

a[href]::before {
    content: " > ";
}

a[href]::after {
    content: "   ";
    white-space: pre;
}

ol {
    list-style-type: decimal;
    margin: 0;
    padding-left: 1rem;
}

ol h2 {
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
}

ol p {
    font-weight: 100;
    margin: 0;
}

#interface {
    display: block;
    position: absolute;
    margin-top: -1.5rem;
}

#interface button {
    margin: 0.25rem;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: hsla(0, 0%, 100%, 0.85);
    border: 1px solid hsla(0, 0%, 100%, 0.5);
}

#interface button:hover,
#interface button:active {
    background-color: hsla(0, 0%, 100%, 0.85);
    color: hsla(0, 0%, 0%, 0.5);
}