.alf-layout {
  --alf-align-bottom-enabled: 1;
  --alf-align-images-enabled: 1;
  background: transparent;
  box-sizing: border-box;
  color: var(--color-black);
  line-height: 10.5pt;
  text-rendering: geometricPrecision;
  -ro-glyph-layout-mode: quality;
  widows: 1;
  orphans: 1;
}
.alf-layout .alf-grid .alf-divider {
  --alf-grid-align-top: baseline;
  --alf-grid-align-bottom: baseline;
  --divider-alignment: bottom;
  --divider-color: var(--color-black);
  --divider-thickness: var(--unit-thin);
  height: 10.5pt;
  min-height: 0;
  display: flex;
  justify-content: center;
  background: linear-gradient(var(--divider-color), var(--divider-color)) no-repeat 0 var(--divider-alignment)/100% var(--divider-thickness);
  margin-bottom: 0;
}
.alf-layout .alf-grid .alf-divider.alf-gutter {
  background: none;
}
.alf-layout .alf-grid .alf-divider.alf-gutter::before {
  content: "";
  background-color: var(--divider-color);
  width: var(--divider-thickness);
  height: 100%;
}
.alf-layout .alf-grid .alf-divider.alf-gutter::after {
  display: none;
  content: "";
  background-color: var(--divider-color);
  width: var(--divider-thickness);
  height: 100%;
}
.alf-layout .alf-grid .alf-divider.divider--border-top {
  --divider-alignment: top;
}
.alf-layout .alf-grid .alf-divider.divider--border-middle {
  --divider-alignment: center;
}
.alf-layout .alf-grid .alf-divider.divider--border-bottom {
  --divider-alignment: bottom;
}
.alf-layout .alf-grid .alf-divider.divider--border-right {
  justify-content: flex-end;
}
.alf-layout .alf-grid .alf-divider.divider--border-left {
  justify-content: flex-start;
}
.alf-layout .alf-grid .alf-divider.divider--border-left-right {
  justify-content: space-between;
}
.alf-layout .alf-grid .alf-divider.divider--border-left-right::after {
  display: block;
}
.alf-layout .u-no-margin {
  margin: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.alf-layout .u-margin-top---5-lines {
  margin-top: -52.5pt !important;
}
.alf-layout .u-margin-bottom---5-lines {
  margin-bottom: -52.5pt !important;
}
.alf-layout .u-margin-top---4-lines {
  margin-top: -42pt !important;
}
.alf-layout .u-margin-bottom---4-lines {
  margin-bottom: -42pt !important;
}
.alf-layout .u-margin-top---3-lines {
  margin-top: -31.5pt !important;
}
.alf-layout .u-margin-bottom---3-lines {
  margin-bottom: -31.5pt !important;
}
.alf-layout .u-margin-top---2-lines {
  margin-top: -21pt !important;
}
.alf-layout .u-margin-bottom---2-lines {
  margin-bottom: -21pt !important;
}
.alf-layout .u-margin-top---1-lines {
  margin-top: -10.5pt !important;
}
.alf-layout .u-margin-bottom---1-lines {
  margin-bottom: -10.5pt !important;
}
.alf-layout .u-margin-top--0-lines {
  margin-top: 0pt !important;
}
.alf-layout .u-margin-bottom--0-lines {
  margin-bottom: 0pt !important;
}
.alf-layout .u-margin-top--1-line {
  margin-top: 10.5pt !important;
}
.alf-layout .u-margin-bottom--1-line {
  margin-bottom: 10.5pt !important;
}
.alf-layout .u-margin-top--2-lines {
  margin-top: 21pt !important;
}
.alf-layout .u-margin-bottom--2-lines {
  margin-bottom: 21pt !important;
}
.alf-layout .u-margin-top--3-lines {
  margin-top: 31.5pt !important;
}
.alf-layout .u-margin-bottom--3-lines {
  margin-bottom: 31.5pt !important;
}
.alf-layout .u-margin-top--4-lines {
  margin-top: 42pt !important;
}
.alf-layout .u-margin-bottom--4-lines {
  margin-bottom: 42pt !important;
}
.alf-layout .u-margin-top--5-lines {
  margin-top: 52.5pt !important;
}
.alf-layout .u-margin-bottom--5-lines {
  margin-bottom: 52.5pt !important;
}
.alf-layout .u-margin-top--6-lines {
  margin-top: 63pt !important;
}
.alf-layout .u-margin-bottom--6-lines {
  margin-bottom: 63pt !important;
}
.alf-layout .u-margin-top--7-lines {
  margin-top: 73.5pt !important;
}
.alf-layout .u-margin-bottom--7-lines {
  margin-bottom: 73.5pt !important;
}
.alf-layout .u-margin-top--8-lines {
  margin-top: 84pt !important;
}
.alf-layout .u-margin-bottom--8-lines {
  margin-bottom: 84pt !important;
}
.alf-layout .u-margin-top--9-lines {
  margin-top: 94.5pt !important;
}
.alf-layout .u-margin-bottom--9-lines {
  margin-bottom: 94.5pt !important;
}
.alf-layout .u-margin-top--10-lines {
  margin-top: 105pt !important;
}
.alf-layout .u-margin-bottom--10-lines {
  margin-bottom: 105pt !important;
}
.alf-layout {
  --unit-thin: 0.25pt;
}
@media screen {
  .alf-layout {
    --unit-thin: 1px;
  }
}
.alf-layout .alf-grid {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  --alf-grid-line-height: 10.5pt;
  --alf-grid-top-line-offset: 5.5pt;
  --alf-grid-margin-inner: 17mm;
  --alf-grid-margin-outer: 0;
  --alf-grid-column-gap: 4mm;
  --alf-grid-anchor: bottom;
}
.alf-layout .alf-grid [class*=alf-col-] {
  position: absolute;
  margin-top: 0;
  margin-bottom: 10.5pt;
}
.alf-layout .alf-grid .alf-col-top {
  margin-top: 0;
}
.alf-layout .alf-grid .alf-col-bottom {
  margin-bottom: 0;
}
.alf-layout .alf-grid.alf-grid--5 {
  --alf-grid-columns: 5;
  --alf-grid-column-width: 45mm;
  --alf-grid-column-gap: 5mm;
}
.alf-layout .alf-grid.alf-grid--10 {
  --alf-grid-columns: 10;
  --alf-grid-column-width: 20mm;
  --alf-grid-column-gap: 5mm;
}
.alf-layout .alf-grid.alf-grid--20 {
  --alf-grid-columns: 20;
  --alf-grid-column-width: 8.5mm;
}
.alf-layout .alf-grid.alf-grid--49 {
  --alf-grid-columns: 49;
  --alf-grid-column-width: 5mm;
  --alf-grid-column-gap: 0mm;
}
.alf-layout .alf-grid.alf-grid--98 {
  --alf-grid-columns: 98;
  --alf-grid-column-width: 2.5mm;
  --alf-grid-column-gap: 0mm;
}
.alf-layout .alf-component.byline {
  --alf-grid-align-top: baseline;
  --alf-grid-align-bottom: baseline;
  border-width: 2pt 0 var(--unit-thin) 0;
  border-style: solid;
  border-color: var(--color-black);
  padding-top: 0pt;
  padding-bottom: 0;
}
.alf-layout .alf-component.byline .author {
  display: block;
  font-family: Rubik-Bold;
  font-size: 10pt;
  margin-bottom: 2pt;
  transform: translateY(1.4pt);
}
.alf-layout .alf-component.byline .email {
  font-family: Rubik-Light;
  font-size: 9pt;
}
.alf-layout .alf-component.caption {
  box-sizing: border-box;
  --alf-hyphenate: 1;
  font-size: 12px;
}
.alf-layout .alf-component.caption p {
  margin: 0;
  font-family: Rubik-Regular;
  font-size: 9pt;
  line-height: 10.5pt;
}
.alf-layout .alf-component.caption .headline {
  font-family: Rubik-Bold;
  font-size: 9pt;
}
.alf-layout .alf-component.caption .credit {
  display: block;
  font-family: Rubik-Italic;
  font-size: 8pt;
}
.alf-layout .alf-component.caption[grid-inside] {
  padding: 0mm;
}
.alf-layout .fact-box {
  --alf-grid-align-top: baseline;
  --alf-grid-align-bottom: baseline;
  box-sizing: border-box;
  padding: 0 2mm 0 2mm;
}
.alf-layout .fact-box .fact-box-header {
  border-top: 2.5pt solid var(--color-black);
  font-family: Rubik-SemiBold;
  font-weight: normal;
  font-size: 12pt;
  line-height: 10.5pt;
  padding-top: 10.5pt;
  margin-top: 6pt;
  margin-bottom: 6pt;
}
.alf-layout .fact-box .fact-box-body {
  font-family: Rubik-Regular;
  font-size: 9pt;
  line-height: 10.5pt;
  transform: translateY(1.8pt);
  --alf-hyphenate: 1;
}
.alf-layout .fact-box .fact-box-body p {
  margin: 0 0 10.5pt 0;
}
.alf-layout .headline {
  -ro-pdf-overprint-content: mode1;
  --alf-grid-align-top: baseline;
  --alf-grid-align-bottom: baseline;
  --alf-text-respect-line-breaks: 0;
  --alf-text-size-units: pt;
  --alf-text-size-min: 25;
  --alf-text-size-max: 65;
  --alf-text-lines: 0;
  --headline-color: var(--color-black);
  --headline-size: 30pt;
  --headline-line-height: 1.01;
  --headline-font-family: PlayfairDisplay-SemiBold;
  --headline-letter-spacing: -0.02em;
}
.alf-layout .headline * {
  -ro-pdf-overprint-content: mode1;
}
.alf-layout .headline.alf-text-auto-size {
  font-size: calc((var(--alf-text-size-min) + var(--alf-text-size-max)) / 2 * 1pt);
}
.alf-layout .headline * {
  margin: 0;
  font-weight: bold;
  color: var(--headline-color);
  font-size: var(--headline-size);
  line-height: var(--headline-line-height);
  font-family: var(--headline-font-family);
  letter-spacing: var(--headline-letter-spacing);
}
.alf-layout .headline .alf-colspan-4, .alf-layout .headline .alf-colspan-16, .alf-layout .headline .alf-colspan-5 {
  font-size: 8pt;
  color: yellow;
}
.alf-layout .intro {
  font-family: Rubik-Light;
  font-weight: bold;
  font-size: 12pt;
  line-height: 1.1em;
  -ro-pdf-overprint: mode1;
  -ro-pdf-overprint-content: mode1;
  margin-bottom: 5.5pt;
  --alf-grid-align-top: top;
  --alf-grid-align-bottom: baseline;
  --alf-hyphens-after-first: 5;
  --alf-hyphens-before-last: 5;
  --alf-hyphenate: 1;
}
.alf-layout .intro p {
  margin: 0;
}
.alf-layout .picture .alf-image {
  image-orientation: none;
}
.alf-layout .picture figure {
  margin: 0;
}
.alf-layout .quote {
  font-family: Rubik-Regular;
  /*
  .quote-text:first-child::before{
  	content: "\201E"
  }

  .quote-text:last-child::after{
  	content: "\201C"
  }
  */
}
.alf-layout .quote blockquote {
  margin: 0;
  padding: 0;
}
.alf-layout .quote .quote-text {
  margin: 0;
  font-family: Rubik-Light;
  line-height: 0.9em;
  font-weight: normal;
  color: rgb(100, 100, 100);
  font-size: 16pt;
}
.alf-layout .quote .quote-creator {
  font-family: Rubik-LightItalic;
  margin: 10.5pt 0 0 0;
  --alf-hyphenate: 1;
}
.alf-layout .text-column {
  --alf-grid-align-top: baseline;
  --alf-grid-align-bottom: baseline;
  --alf-word-spacing-min: 0.85;
  --alf-word-spacing-desired: 0.95;
  --alf-word-spacing-max: 1.10;
  --alf-glyph-scaling-min: 0.965;
  --alf-glyph-scaling-max: 1.04;
  --alf-hyphens-language: nb-no;
  --alf-hyphens-after-first: 3;
  --alf-hyphens-before-last: 2;
  -ro-pdf-overprint-content: mode1;
}
.alf-layout .text-column .alf-block {
  font-family: NoticiaText-Regular;
  font-size: 12px;
  margin: 0;
  padding: 0;
  transform: translateY(1.4pt);
}
.alf-layout .text-column p, .alf-layout .text-column h1, .alf-layout .text-column h2, .alf-layout .text-column h3, .alf-layout .text-column h4, .alf-layout .text-column h5, .alf-layout .text-column h6, .alf-layout .text-column blockquote {
  margin: 0;
  padding: 0;
  color: var(--color-black);
  font-kerning: normal;
  -ro-pdf-overprint-content: mode1;
}
@font-face {
  font-family: NoticiaText-Regular;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Noticia_Text/NoticiaText-Regular.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: NoticiaText-Bold;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Noticia_Text/NoticiaText-Bold.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: NoticiaText-Italic;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Noticia_Text/NoticiaText-Italic.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: NoticiaText-BoldItalic;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Noticia_Text/NoticiaText-BoldItalic.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: Lora-Medium;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Lora/Lora-Medium.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: Lora-SemiBoldItalic;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Lora/Lora-SemiBoldItalic.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: Lora-Regular;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Lora/Lora-Regular.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: Lora-BoldItalic;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Lora/Lora-BoldItalic.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: Lora-SemiBold;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Lora/Lora-SemiBold.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: Lora-Bold;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Lora/Lora-Bold.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: Lora-MediumItalic;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Lora/Lora-MediumItalic.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: Lora-Italic;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Lora/Lora-Italic.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: PlayfairDisplay-BoldItalic;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: PlayfairDisplay-Medium;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Playfair_Display/PlayfairDisplay-Medium.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: PlayfairDisplay-SemiBoldItalic;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Playfair_Display/PlayfairDisplay-SemiBoldItalic.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: PlayfairDisplay-MediumItalic;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Playfair_Display/PlayfairDisplay-MediumItalic.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: PlayfairDisplay-Black;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Playfair_Display/PlayfairDisplay-Black.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: PlayfairDisplay-Bold;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: PlayfairDisplay-BlackItalic;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Playfair_Display/PlayfairDisplay-BlackItalic.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: PlayfairDisplay-ExtraBoldItalic;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Playfair_Display/PlayfairDisplay-ExtraBoldItalic.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: PlayfairDisplay-ExtraBold;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Playfair_Display/PlayfairDisplay-ExtraBold.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: PlayfairDisplay-SemiBold;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Playfair_Display/PlayfairDisplay-SemiBold.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: PlayfairDisplay-Italic;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Playfair_Display/PlayfairDisplay-Italic.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: PlayfairDisplay-Regular;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: Rubik-Black;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-Black.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: Rubik-BlackItalic;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-BlackItalic.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: Rubik-ExtraBoldItalic;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-ExtraBoldItalic.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: Rubik-LightItalic;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-LightItalic.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: Rubik-Medium;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-Medium.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: Rubik-SemiBold;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-SemiBold.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: Rubik-BoldItalic;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-BoldItalic.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: Rubik-Regular;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-Regular.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: Rubik-SemiBoldItalic;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-SemiBoldItalic.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: Rubik-Italic;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-Italic.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: Rubik-MediumItalic;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-MediumItalic.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: Rubik-Light;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-Light.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: Rubik-ExtraBold;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-ExtraBold.ttf);
  -ro-font-embedding-type: all;
}
@font-face {
  font-family: Rubik-Bold;
  font-style: normal;
  font-weight: normal;
  src: url(https://smooth-storage.aptoma.no/users/dre-aptoma/files/print/fonts/Rubik/Rubik-Bold.ttf);
  -ro-font-embedding-type: all;
}
.alf-layout {
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-green: rgb(77, 255, 26);
}
@media print {
  .alf-layout {
    --color-white: cmyk(0, 0, 0, 0, 1);
  }
}
@media print {
  .alf-layout {
    --color-black: cmyk(0, 0, 0, 1, 1);
  }
}
@media print {
  .alf-layout {
    --color-green: cmyk(0.7, 0, 0.9, 0, 1);
  }
}

.bold {
  font-weight: bold;
}

.Ortsmarke {
  font-weight: bold;
  color: black !important;
}

.headline_h3 {
  font-weight: bold !important;
  font-family: Rubik-Bold !important;
  font-size: 11pt !important;
  margin-top: 2pt !important;
  margin-bottom: 2pt !important;
  color: black !important;
}