.text-column {
  --alf-grid-align-top: baseline;
  --alf-grid-align-bottom: baseline;
  --alf-word-spacing-min: 0.85;
  --alf-word-spacing-desired: 0.95;
  --alf-word-spacing-max: 1.10;
  --alf-glyph-scaling-min: 0.965;
  --alf-glyph-scaling-max: 1.04;
  --alf-hyphens-language: nb-no;
  --alf-hyphens-after-first: 3;
  --alf-hyphens-before-last: 2;
  -ro-pdf-overprint-content: mode1;
}
.text-column .alf-block {
  font-family: NoticiaText-Regular;
  font-size: 12px;
  margin: 0;
  padding: 0;
  transform: translateY(1.4pt);
}
.text-column p, .text-column h1, .text-column h2, .text-column h3, .text-column h4, .text-column h5, .text-column h6, .text-column blockquote {
  margin: 0;
  padding: 0;
  color: var(--color-black);
  font-kerning: normal;
  -ro-pdf-overprint-content: mode1;
}