/* base, reset */
/* ul, ol, nav */
.margin {
    margin: 10rem;
}
.nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* layout */
.nav {
    display: flex;
    flex-direction: row;
}


/* modules, variants */
.flex-column {
    flex-direction: column;
}
/* base */
.nav-tabs {
}

/* layout */
.nav-tabs {
}

/* state */
.nav-tabs,
.nav-pills {
}

/* states */
.nav a:link {
    color: blue;
    text-decoration: none;
}
.nav a:visited {
    color: orange;
}
.nav a:hover {
    color: green;
}
.nav a:active {
    color: red;
}

/* theme */
