@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

@media (max-width: 767px) {
    .concludis_grid-infofield li {
        flex-basis: calc(100% / 2);
    }
}

@media (min-width: 768px) {
    .concludis_grid-infofield li {
        flex-basis: calc(100% / 3);
    }
}

.concludis_grid-infofield li {
    /* Layout*/
    /* min-width: calc(100% / 3);
                   max-width: calc(100% / 2); */
    min-height: 2em;
    padding: 1em;

    flex-grow: 1;
    flex-shrink: 0;

    /* Theme */
    background: white;

    /* Temporär */
    /* background: hsla(38, 98%, 44%, 0.5); */
    /* outline: 2px dotted black; */
}
.concludis_grid-infofield .concludis_header {
}

/* Icons */

.concludis_grid-infofield li:nth-child(1) {
    height: 15rem;

    /* background-image: url(../../../figures/Standort.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1rem;
    background-size: contain; */
}

.concludis_grid-infofield li:nth-child(1)::before {
    content: "\f601";
    color: red;
    background-color: grey;
    text-shadow: 3px 3px 5px black;
    display: block;
    width: 50%;
    font-family: "Font Awesome 6 Free";
    font-size: 4em;
    font-weight: 900;
    border: 1px dotted black;
}


.concludis_grid-infofield li:nth-child(3)::before {
    content: "";
    display: inline-block;
    width: 3em;
    height: 3em;
    border: 1px dotted black;

    margin-right: 1em;
    /* baseline-shift: central; */

    background-image: url(../../../figures/Einstieg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

/* [lang="de"] .concludis_grid-infofield li:nth-child(1)::after {
    content: " €";
}
[lang="en-US"] .concludis_grid-infofield li:nth-child(1)::after {
    content: " $";
}
 */
@keyframes my-animation {
    0% {
        background: rgb(206, 116, 116);
        opacity: 0.2;
    }
    50% {
        background: rgb(98, 164, 98);
        opacity: 0.9;
    }
    100% {
        background: rgb(115, 115, 178);
        opacity: 0.2;
    }
}

li {
    /* background: green; */
    /* transition: all 5000ms ease-in-out; */
    /* animation: my-animation 5000ms ease-in-out infinite; */
}





svg {width:3em;}
.head {fill: red;}
.body {fill: orange;}