.concludis_header {
}

.concludis_figure * {
    line-height: 0;
}

.concludis_header figure {
    margin-left: 0;
    margin-right: 0;
}

.concludis_header figcaption {
    background-color: hsla(0, 100%, 50%, 0.85);
    color: hsla(0, 0%, 100%, 1);
}

.concludis_header img {
    width: 100%;
    opacity: 1;
}
