// A Navigation Module ...
// @version 1.0.0
// @author Michael
//

// base elements
nav {
  ul, ol {
    margin : 0;
    padding: 0;
    list-style-type: none;
  }
}

// states
a[href]{
  color : $linkColor;

  &:visited { color : $visitedLinkColor;}
  &:hover   { color : $hoverLinkColor;}
  &:active  { color : $activeLinkColor;}
}
