// Variables
// @version 1.0.0
// @author Michael
//

// color
$white: hsla(0,100%,100%,1);
$darkgray: hsla(0,100%,10%,1);
$linkColor : hsla(0,100%,40%,1);
$visitedLinkColor : hsla(30,100%,40%,1);
$hoverLinkColor : hsla(120,100%,40%,1);
$activeLinkColor : hsla(150,100%,40%,1);

// typography
$fontFamily: Roboto, sans-serif;

// grid values
