#skiplinks a[href] {
    position: absolute;
    top: -50px;
    left: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;

    &:focus {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.8);
        color: black;
        overflow: visible;
        font-size: 3rem;
    }
}
