html {
    font-family: Barlow, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
}
body {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    gap: 2rem;
}
body > * {
    border: 1px solid hsl(0 0 0 /0.1);
}
header,
footer {
    flex-basis: 100vw;
    display: flex;
    justify-content: space-between;
}
main {
    flex-basis: 70vw;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;

    &.column {
        flex-basis: 30vw;
        flex-direction: column;
    }
}
