doctype html
html
    head
        title Data Driven Example
    body
        h1 Data Driven Example 
        
        svg(width="200", height="200")
            g
                circle#data-1(r="20", cx="100", cy="100")

        ol
            each entry in list
                li(data-id=entry.id)= entry.sheep
                    |    
                    button delete

        //- h2 JSON Output
        //- button get some data
        //- output some output goes here ...


        h2 Some Markdown
        :markdown-it
            ### Look mum, no markup!
            Written in nice and short markdown syntax. Maybe
            the multiline thing istn't as bad as in pug.

            - One
            - Two
            - Three

            |One|Two|Three|
            |--|--|--|
            |Hey|Cool|Nice|

            Inline `code` in a paragraph.

            ```html
            <h1>Test</h1>
            ```
        style
            | table, th, td { border: 1px solid black; }
            | svg { border: 1px solid black;}
            | circle { transition: all 500ms ease-in-out; }
            //- | button, output { display: block; margin-bottom: 1rem;}


        script(src="/socket.io/socket.io.js")
        script(type="module" src="/assets/js/script.js") 