doctype html
html
    head
        title Data Driven Example
    body
        h1 Data Driven Example 
        
        each entry in list
            p= entry 

        :markdown-it
            ## Look mum, no markup!
            Written in nice and short markdown syntax. Maybe
            the multiline thing istn't as bad as in pug.

            - One
            - Two
            - Three

            |One|Two|Three|
            |--|--|--|
            |Hey|Cool|Nice|

            Inline `code` in a paragraph.

            ```html
            <h1>Test</h1>
            ```
        style
            | table, th, td { border: 1px solid black; }