doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title My document title
  
  body
    header logo 
    
    main
      h1 Lorem headline 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex perspiciatis nemo quia.
    
    aside
      form#form-login(action="")
        fieldset 
          legend Benutzer Anmeldung
    
    footer
      address &copy; 2023 Michael

    script(src="assets/js/script.js")