<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>

        <% if (myData === undefined) { %>
        <form
            method="post"
            action="/login?test=abc&test2=123"
            enctype="application/x-www-form-urlencoded">
            <fieldset>
                <legend>Your Login</legend>

                <label for="login-email">E-Mail</label>
                <input
                    id="login-email"
                    type="email"
                    name="email"
                    value="michael@gfu.net" />

                <label for="login-password">Password</label>
                <input
                    id="login-password"
                    type="password"
                    name="password"
                    value="geheim" />

                <button type="submit">Login</button>
            </fieldset>
        </form>
        <% } else { %>

        <output>
            Welcome <%= myData.name %>, your last login was on <%=
            myData.lastLogin %>.
        </output>

        <% } %>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/login">login</a></li>
                <li><a href="/sheeps">sheeps</a></li>
            </ul>
        </nav>
    </body>
</html>
