doctype html
html
    head
        title Other page
    body
        h1 Headline ipsum dolor sit amet
        p 
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            | Quisquam itaque, veniam aut animi totam quas perspiciatis architecto dolorem!