html,
html * {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 16px;
}

body {
    color: hsl(0, 0%, 85%);
    background-color: hsl(0, 0%, 15%);
}


h1 {
    background-color: hsl(0, 0%, 85%);
    color: hsl(0, 0%, 15%);
}

/* 
h1 {
    color: green;
}

.nav {
    color: orange;
}




#form-search {
    color: white;
    background-color: lightcoral
}

.yellow{color: yellow;}



 body p {
    color: blue;
}

h1+p {
    color: red !important;
    background-color: lightsteelblue;
}



a:link {
    color: lightblue
}

a:visited {
    color: violet
} */