.normal-vision {
    filter: none;
}
.blurred-vision {
    filter: blur(2px);
}

.achromatopsia {
    filter: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg'> <filter id='achromatopsia'> <feColorMatrix values='0.213  0.715  0.072  0.000  0.000 0.213  0.715  0.072  0.000  0.000 0.213  0.715  0.072  0.000  0.000 0.000  0.000  0.000  1.000  0.000' /> </filter> </svg>#achromatopsia");
}

.deuteranopia {
    filter: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg">   <filter id="deuteranopia"> <feColorMatrix values="0.367  0.861 -0.228  0.000  0.000  0.280  0.673  0.047  0.000  0.000 -0.012  0.043  0.969  0.000  0.000  0.000  0.000  0.000  1.000  0.000" />   </filter> </svg>#deuteranopia');
}

.protanopia {
    filter: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg">   <filter id="protanopia">   <feColorMatrix values="0.152  1.053 -0.205  0.000  0.000 0.115  0.786  0.099  0.000  0.000   -0.004 -0.048  1.052  0.000  0.000 0.000  0.000  0.000  1.000  0.000" />   </filter> </svg>#protanopia');
}

.tritanopia {
    filter: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg">   <filter id="tritanopia">   <feColorMatrix values="1.256 -0.077 -0.179  0.000  0.000   -0.078  0.931  0.148  0.000  0.000 0.005  0.691  0.304  0.000  0.000 0.000  0.000  0.000  1.000  0.000" />   </filter> </svg>#tritanopia');
}

#simulation {
    position: fixed;
    right: 1rem;
    top: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;
}
#simulation,
#simulation * {
    font-family: monospace;
}
#simulation button {
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}
