/* Layout */
.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}



.card {
    padding: 1rem;
}


/* States */



/* Theme */
.card-container,
.card-container>* {
    border: 2px dotted orange;
}


.card {
    background-color: hsla(0, 0%, 100%, 0.95);
    color: hsla(0, 0%, 0%, 1);

    border-width: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 0.5rem;

    box-shadow: 0.5rem 0.5rem 0.25rem hsla(0, 0%, 0%, 0.25);

}