:root {
    --primary: hsl(280, 100%, 45%);
    --on-primary: white;

    --secondary: hsl(0, 84%, 41%);
    --on-secondary: white;

    --tertiary:rgb(17, 96, 192);
    --on-tertiary: white;
}
#color {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.color {
    width: 8rem;
    height: 8rem;
    padding: 0.25rem;
    border: 1px solid rgb(127, 127, 127);
}
.primary {
    background-color: var(--primary);
    color: var(--on-primary);
}
.on-primary {
}

.secondary {
    background-color: var(--secondary);
    color: var(--on-secondary);
}
.tertiary {
    background-color: var(--tertiary);
    color: var(--on-tertiary);
}
