/* BASE */
.figure {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

/* LAYOUT */
.figure-responsive img {
    display: inline-block;
    width: 100%;
}

button.figure-update {
    /* LAYOUT */
    display: block;
    width: 10rem;
    height: 2rem;

    position: absolute;
    left: calc(var(--canvasWidth) - 10rem - var(--defaultPadding));
    top: 1rem;
    z-index: 1;

    /* THEME */
    color: white;
    background-image: linear-gradient(60deg, lightsteelblue, steelblue);
    border: 0;
    border-radius: 0.25rem;
    opacity: 0.85;
}

/*
    display: block; -> width, height
    display: inline; -> flows as words in paragraphs
    display: inline-block -> width, height;


*/

/* STATES */
/* THEME */
