
/* Base */

/* Layout */
.header-container {
    display: flex;
    flex-direction: row;

    justify-content:space-between;
    align-items: baseline;

    padding: 1rem;
}


/* States */

/* Appearance */
.header #brand {
    background-image: url(../figures/shou.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    display: block;
    width: 100px;
    height: 80px;
}