/* Base */
.modal {}

/* Layout */
:root {
    --globalValue: hsla(0, 62%, 69%, 0.818);
}

.modal {
    --modalWidth: 40vw;
    --modalHeight: 40vh;


    display: block;
    position: absolute;

    left: calc(50vw - var(--modalWidth) / 2);
    top: calc(50vh - var(--modalHeight) / 2);

    z-index: 2;

    width: var(--modalWidth);
    height: var(--modalHeight);
}

.modal-2 {
    --modalWidth: 10vw;
    --modalHeight: 10vh;
}

/* States */
.modal {
    transition-property: top;
    transition-duration: 5000ms;
    transition-timing-function: ease-out;
    transition-delay: 0;
}

.modal-with-delay {
    transition-property: transform;
    transition-duration: 5000ms;
    transition-timing-function: ease-out;
    transition-delay: 2s;
}

.modal-visible {
    opacity: 1;
    top:0vh;
}

.modal-hidden {
    opacity: 0;
    top:90vh;
}


/* Appearance*/
.modal {
    background-color: var(--globalValue);
    border-radius: 0.5rem;
    color: black;
    padding: 1rem;
    filter: drop-shadow(5px 5px 10px black);
}

.modal {
    perspective: 800px;  
    transform: rotate(3600deg) scale(2, 2) translate(10px, 100px) ;
}