/* Base */
.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Layout */
.navigation-row {
    display: flex;
    flex-direction: row;
}

.navigation-row li {
    margin-left: 0.5rem;
}

.navigation-column {
    display: flex;
    flex-direction: column;
}


/* States */