/* BASE */
.svg {
  stroke: white;
  stroke-width: 2px;

  fill: transparent;
}

.svg text {
  font-family: monospace;
  font-size: 0.7rem;
  stroke-width: 0;
  fill: white;
}
/* LAYOUT */
.svg {
  display: block;
  width: 100%;
  height: 100%;
}

/* STATE */
/* THEME */
.svg {
  border: 1px dashed gray;
}
.svg rect,
.svg circle {
  stroke: hsla(0deg, 0%, 100%, 0.125);
}

.line-red {
  stroke:hsla(0deg, 100%, 50%, 0.85);
  stroke-width: 2px;
  stroke-dasharray: 10px 20px;
}