.circle {
    fill: red;
    stroke: black;
    stroke-width: 48px;
}

.group-1 {
    fill: orange;
}

.group-2 {
    fill: green;

    /* x-Versatz y-Versatz, Radius, Farbe */
    filter: drop-shadow(50px 50px 50px black);
}