html {
    font-family: "Helvetica";
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */

    /* Basis for rem! */
    /*  Mitellängen 1.8 : 1 = 6.6!*/
    font-size: 12px;
    /*  22.4px */
    line-height: 1.4;
}

h1,
h2,
h3 {
    width: 100vw;
}

/* Schriftgrößen für Ausgabegeräte */

/* Xtra Small Devices (phones, portrait) */
@media screen and (max-width: 599px) {
    html {
        font-size: 12px;
    }
}
/* Small devices (phones, landscape)*/
@media screen and (min-width: 600px) {
    html {
        font-size: 12px;
    }
}

/* Medium devices (tablet, landscape)*/
@media screen and (min-width: 905px) {
    html {
        font-size: 15px;
    }
}

/* Large devices (desktop)*/
@media screen and (min-width: 1240px) {
    html {
        font-size: 15px;
    }
}

/* XLarge devices (HD desktop)*/
@media screen and (min-width: 1440px) {
    html {
        font-size: 22px;
    }
}
