.sr-only {
  background-color: red;
  display: block;
  position: absolute;
  left: -10000px;
  bottom: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.sr-only:focus-visible {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  text-align: center;
  padding-top: 50vh;
  font-size: 4rem;
}