/**
 * Anzeigen Styles
 * @author Michael
 * @since 2018/11/30
 * @copy 2018 company
 * @version 1.0.0
 */
/* BASE */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,700,700i');

/* ALL DEVICES FALLBACK */
#alle-anzeigen {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (max-width:480px) {
  #alle-anzeigen {
    font-size: 14px;
    line-height: 1.4;
  }
}

@media screen and (min-width:481px) {
  #alle-anzeigen {
    font-size: 18px;
    line-height: 1.6;
  }
}

#alle-anzeigen h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2em;
}

#alle-anzeigen h2+p {
  color: lightcoral;
}

#alle-anzeigen p {
  font-size: 1em;
}

#alle-anzeigen ul {
  margin-top: 0;
  padding-left: 0;
  list-style-type: none;
}

#alle-anzeigen li {}

/* LAYOUT */
/* display, float, clear, margin, padding, width, height ... */
#alle-anzeigen {
  display: block;
  width: 640px;
  margin: 0 auto;
}

#alle-anzeigen .anzeige {
  display: flex;
  flex-direction: column;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#alle-anzeigen .multi-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

#alle-anzeigen .multi-column>* {
  flex-basis: 50%;
  flex-shrink: 1;
  flex-grow: 1;
}

@media screen and (max-width:480px) {
  #alle-anzeigen .multi-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }

  #alle-anzeigen .multi-column>* {
    flex-basis: 100%;
    flex-shrink: 1;
    flex-grow: 1;
  }
}

/* STATES */
#alle-anzeigen .anzeige:hover {
  background-color: grey;
  color: white;
}

#alle-anzeigen .anzeige {
  transition-property: all;
  transition-delay: 0;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

/* THEMES */