
/* Base */

/* Layout */
.multi-column p {
    column-width: 10rem;
    column-gap: 1rem;
    column-rule-width: 3px;
    column-rule-color: black;
    column-rule-style: dotted;
    text-align: justify;
    hyphens: auto;
}

/* States */ 