form {
    background-color: red !important;
}
/* SELEKTOREN */
/* ELEMENT-SELEKTOR
   Allgemein gültig, muss NICHT eingeschaltet werden
   Haben ein Gewichtung von 1
*/
html {
    font-family: sans-serif;
    font-size: 16px; /* Basis Root EM!*/
    line-height: 1.42385;
}
body {
    background-color: hsla(0, 0%, 0%, 0.85);
    color: white;
}

h1 {
    font-size: 3rem; /* 3 x root em = 16 == 48px! */
    color: green;
}

p {
    font-size: 10px;
}

p {
    font-size: 20px;

    color: lime;
}

/* KLASSEN SELEKTOREN 
    entsprechen Formatvorlagen, sind entscheidbar
    Gewichtung von 10
*/
.teaser {
    font-size: 1.2rem;
}

/* ID SELEKTOREN 

Gewichtung von 100
*/
#login {
    background-color: deepskyblue;
}
form {
    background: darkgoldenrod;
}
.golden {
    background: darkgoldenrod;
}

/* !IMPORTANT 
Gewichtung: 10000
*/
