/**
 * typographics
 * @desc 
 * @author Michael <michael.reichart@gfu.net> 
 * @version 1.0.0
 * @since 2019/09/24
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

html,
html * {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

html {
    font-family: Roboto, Arial, sans-serif;
}

h1,
h2,
h3 {
    font-weight: 100;
}

h4,
h5,
h6 {
    font-weight: 700
}