/* CASCADE */

html {
    font-family: 'Courier New', Courier, monospace;
}

html {
    font-size: 17px;
    /* Root M-Height */
}


h1,
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}
/* !important specifity: 10000 */
p {
    font-size: 1.7rem !important;
}

/* id selector: specifity: 100 */
#my-id {
    font-size: 3rem;
}

/* class selector:  specifity: 10 */
.bigger {
    font-size: 2rem;
}

/* element selector: specifity: 1 **/
p {
    font-size: 0.7rem;
}