/* Stylesheet for cinema */
/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Base styles */
svg {
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 1.5;
}

/* Typography */

html {
    font-family: 'Barlow', sans-serif;
}

/* Colors */
:root {
    --linie: white;
    --linienBreite: 5px;

    --leinwand: lightgrey;
    --loge: lightgrey;

    --freierSitz: green;
    --belegterSitz: lightgrey;

    --belegterSitzIcon: var(--linie);
    --belegteLogeIcon: var(--linie);
    --doppelsitzIcon: var(--linie);

    --rollstuhl: blue;

    --doppelsitz: red;

    --freieLoge: maroon;
    --belegteLoge: lightgrey;
}

/* Classes */
.leinwand {
    fill: none;
    stroke: var(--leinwand);
    stroke-width: 50px;
}

.logen-bereich {
    fill: none;
    stroke: var(--loge);
    stroke-width: 10px;
}

.freier-sitz {
    fill: var(--freierSitz);
    stroke: var(--linie);
    stroke-width: var(--linienBreite);
}

.belegter-sitz-icon {
    fill: var(--belegterSitzIcon);
    stroke: var(--linie);
    stroke-width: var(--linienBreite);
}

.belegter-sitz {
    fill: var(--belegterSitz);
    stroke: var(--linie);
    stroke-width: var(--linienBreite);
}

.doppelsitz {
    fill: var(--doppelsitz);
    stroke: var(--linie);
    stroke-width: var(--linienBreite);
}

.doppelsitz-icon {
    fill: var(--doppelsitzIcon);
    stroke: var(--linie);
    stroke-width: var(--linienBreite);
}

.freie-loge {
    fill: var(--freieLoge);
    stroke: var(--linie);
    stroke-width: var(--linienBreite);
}

.belegte-loge {
    fill: var(--belegteLoge);
    stroke: var(--linie);
    stroke-width: var(--linienBreite);
}

.belegte-loge-icon {
    fill: var(--belegteLogeIcon);
    stroke: var(--linie);
    stroke-width: var(--linienBreite);
}

.freier-rollstuhl {
    fill: var(--rollstuhl);
    stroke: var(--linie);
    stroke-width: var(--linienBreite);
}