/* Farbsysteme in CSS */

.color-field {
    display: block;
    width: 8rem;
    height: 8rem;

    /* background-color: #ff0000 */
    /* background-color: rgb(255, 0, 0); */

    /* hue, saturation, lightness*/
    /* background-color: hsl(0, 85%, 40%);  */

    /* Perzeptives Farbmodell: luminance, chroma, hue */


    background: 
    url("https://picsum.photos/40") no-repeat center,
    linear-gradient(
        to right,
        transparent 0%,
        lch(50% 100 80) 100%
    ),
    lch(50% 100 210)
}

@media (prefers-color-scheme: dark) {
    .color-field {
        background-color: lch(50% 100 170);
    }
}
