@layer base, base.typography, template, service-provider, customer-theme;

/* Base */
@layer base {
    * {
        box-sizing: border-box;
    }
    body {
        margin: 0;
        padding: 0;
    }
    @layer typography {
        /* Typography */
        html {
            font-family: sans-serif;
            font-size: 16px;
            line-height: 1.4;
        }

        h3 {
            font-size: 1.5rem;
        }
    }
}
@layer template {
}
@layer service-provider {
    @layer base {
        .concludis,
        .concludis * {
            box-sizing: border-box;
        }

        @layer typography {
        }
        @layer layout {
            .concludis {
                width: 50vw;
                margin: 0 auto;
            }
        }
        @layer components {
            .concludis > * {
                margin-bottom: 2em;
                width: 100%;
            }

            .concludis_title {
            }

            .concludis_grid-infofield ul {
                /* Base */
                list-style-type: none;
                padding: 0.25em;

                /* Layout */
                display: flex;
                flex-direction: row;

                justify-content: space-evenly;
                align-items: stretch;

                flex-wrap: wrap;

                gap: 0.25em;

                /* Theme */
                background: lightgrey;

                /* Temporär */
                /* background: hsla(300, 100%, 25%, 0.5); */
                /* outline: 2px dotted black; */
            }
            @media (max-width: 767px) {
                .concludis_grid-infofield li {
                    flex-basis: calc(100% / 2);
                }
            }
            @media (min-width: 768px) {
                .concludis_grid-infofield li {
                    flex-basis: calc(100% / 3);
                }
            }
            .concludis_grid-infofield li {
                /* Layout*/
                /* min-width: calc(100% / 3);
            max-width: calc(100% / 2); */
                min-height: 2em;
                padding: 1em;

                flex-grow: 1;
                flex-shrink: 0;

                /* Theme */
                background: white;

                /* Temporär */
                /* background: hsla(38, 98%, 44%, 0.5); */
                /* outline: 2px dotted black; */
            }

            /* .concludis_grid-infofield li:nth-child(2),
         .concludis_grid-infofield li:nth-child(3) {
             flex-grow: 100;
             flex-shrink: 100;
        } */

            .concludis_header {
            }
            .concludis_company {
            }
            .concludis_tasks {
            }
            .concludis_profile {
            }
            .concludis_equality {
            }
            .concludis_apply {
            }
            .concludis_benefits {
            }
            .concludis_address {
            }
            .concludis_contact-person {
            }
        }
    }
    @layer customer-theme {
    }

    /*
Architektur einer CSS-Kaskade
@layer RESET
- - -
@layer BASE
    COLOR
    TYPOGRAPHY
- - -
@layer TEMPLATE
- - -
@layer COMPONENTS
    INFOBLOCK
        BASE
            color: orange
        LAYOUT
            display: flex
        STATES
            :hover
        SKIN:

    BUTTON
        BASE
        LAYOUT
        STATES
- - -
@layer SKIN
    COLORS
    TYPOGRAPHY
    STATES
*/
}
