body {
    > * {
        outline: 1px solid rgba(0, 255, 255, 0.25);
        outline-offset: 2px;

        > * {
            outline: 1px solid rgba(128, 0, 128, 0.25);
        }
    }
}

/*
body > * { ... }
body > * > * { ... }
*/

.zdf {
    &-modal {
        &-dialog {
        }
    }
}
