:root {
  --gap: 0.5rem;
}

html,
html * {
  box-sizing: border-box;
  font-family: Barlow;
  font-weight: 300;
}

body {
  margin: 0;
}

body,
body > * {
  background-color: rgba(230, 26, 26, 0.55);
}

body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10vh calc(70vh - (2 * var(--gap))) 20vh;
  justify-items: stretch;
  align-items: stretch;
  column-gap: var(--gap);
  row-gap: var(--gap);
  grid-template-areas: "header header header header" "nav main main aside" "footer footer footer footer";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}
