/* Base */
#hero-banner {
    border: 0;
    padding: 1rem;
    background-image: url(https://picsum.photos/id/20/800/800);
    background-size: cover;
}

#hero-banner h2 {
    font-size: 3rem;
    font-weight: 600;
}

#hero-banner p {
    column-width: auto;
    column-count: auto;
    text-align: right;
}

/* Layout */

/* States */