:root,
html {
    font-size: 18px; /* = 1rem */
}

#kampmann-announcement {
    /* Temporary styles */
    border: 2px dotted lime;
    background: white;
    color: black;

    /* Layout styles */
    box-sizing: border-box;
    display: block;

    /* Typography */
    font-family: Circular, sans-serif;
    font-size: 16px;
    line-height: 1.36;
    text-align: center;

    h2 {
        font-size: 1.5em;
    }
    section:hover {
        /* background: red; */
    }
    section {
        --gradient-position: 70%;

        background:
            url("../figures/luftreiniger-transparent_300x600.png"),
            linear-gradient(
                lightgrey var(--gradient-position),
                grey var(--gradient-position)
            );

        box-shadow: 5px 5px 10px #00000046;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        /* Layout */
        width: 300px;
        height: 600px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        & > div {
            outline: 2px dotted steelblue;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        /* Abstand nach aussen */
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;

        /* Abstand nach innen */
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;

        /* Style, content */
        /* background-image: url("../figures/luftreiniger-transparent_300x600.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; */

        .kampmann-badge {
            /* Layout */
            /* Als Item einer Flexbox: */
            align-self: flex-start;


            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            width: 140px;
            height: 140px;
            padding: 10px;

            /* Style */
            border-radius: 50%;
            border-width: 2px;
            border-style: solid;
            border-color: white;
            background: green;

            /* Behaviour */
            transition-property: all;
            transition-duration: 150ms;
            transition-timing-function: ease-in-out;
            transition-delay: 0s;

            animation-name: kampmann-badge-spin;
            animation-duration: 150ms;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
        }
        .kampmann-badge:hover {
            transform: translate(-2px, -2px);
            box-shadow: 5px 5px 15px #000000cc;
        }
        
        @keyframes kampmann-badge-spin {
            0% {
                transform: rotate(0deg);
                background: red;
            }
            50% {
                transform: rotate(90deg);
                background: yellow;
            }
            100% {
                transform: rotate(0deg);
                background: green;
            }
        }
        
    }
    /* Development styles */
    & > * > * {
        outline: 2px dotted red;
    }
}
