/*
 * The Page Layout
 *
 * @author Michael
 * @since 2019/07/30
 * @version 1.0.0
 */

/* small devices */
@media screen and (max-width:767px) {
    .page {
        display: flex;
        flex-direction: column;
    }

    .page-navigation {
        display: none;
    }
}

/* medium devices */
@media screen and (min-width:768px) {
    .page {
        display: flex;
        flex-direction: column;
    }

    .page-main {
        display: flex;
        flex-direction: row;
    }

    .page-header {
        width: 100%;
    }

    .page-navigation {
        flex-basis: 30%;
    }

    .page-content {
        flex-basis: 70%;
    }

    .page-footer {
        width: 100%;
    }
}