/* Eigene Variablen */
:root {
    --bs-blue: #5b7ea2;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-red: #f00;
    --bs-pink: #d63384;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-black: #2c2c2c;

    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;

    /* Corporate (Grund-) Farben*/
    --bs-primary: #871d33;
    --bs-secondary: #ededed;

    --bs-gray: #d0d0d0;
    --bs-gray-light: #eaeaea;
    --bs-gray-dark: #737373;

    /* Semantische Farben */
    --bs-danger: #f00;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;

    --bs-primary-rgb: 135, 29, 51;
    --bs-secondary-rgb: 237, 237, 237;
    --bs-gray-rgb: 208, 208, 208;
    --bs-gray-light-rgb: 234, 234, 234;
    --bs-gray-dark-rgb: 115, 115, 115;

    --bs-red-rgb: 255, 0, 0;
    --bs-blue-rgb: 91, 126, 162;

    --bs-danger-rgb: 255, 0, 0;
    --bs-info-rgb: 115, 115, 115;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 44, 44, 44;
    --bs-body-color-rgb: 44, 44, 44;
    --bs-body-bg-rgb: 255, 255, 255;

    --bs-gradient: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0)
    );

    /* Schriften */
    --bs-font-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;

    --bs-body-font-family: Open Sans, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --bs-body-font-size: calc(1.0416666667rem + 0.1111111111vw);
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.6666666667;

    /* Dokumentenfarben und Stile */
    --bs-body-color: #2c2c2c;
    --bs-body-bg: #fff;

    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(44, 44, 44, 0.175);

    --bs-border-radius: 0.15rem;
    --bs-border-radius-sm: 0.1rem;
    --bs-border-radius-lg: 0.2rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 0;

    --bs-link-color: #871d33;
    --bs-link-hover-color: #6c1729;

    --bs-code-color: #d63384;

    --bs-highlight-bg: #fff3cd;
}

.btn-primary {
    --bs-btn-bg: #fd350d;
}
