/* Grundlagen (base) des gesamten Projektes */
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

html, html * {
    box-sizing: border-box;
}

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height:1.4;
}

h1 {
    font-family: Langar, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

/* Navigation */
/* Grundlagen (base) */
.nav {
    list-style-type: none;
    padding-left:0;
}

.nav a[href] {
    text-decoration: none;
}

/* Verhalten (behaviour) */
.nav-vertical>li>a[href] {
    display: block;
    width: 100%;
    background-color: hsla(50, 100%, 50%, 0.5);
}

.nav-vertical li a[href]:visited {
    background-color: hsla(120, 100%, 50%, 0.5);
}

.nav-vertical li a[href]:active {
    background-color: hsla(0, 100%, 50%, 0.5);
}

.nav-vertical li a[href]:hover {
    background-color: hsla(90, 100%, 50%, 0.5);
}

/* Layout */
.nav-vertical li {
    width: 100%;
    background-color: hsla(0, 100%, 50%, 0.5);
}


.nav-vertical {
     display: flex;
     flex-direction: column;
 }

 .nav-horizontal {
     display: flex;
     flex-direction: row;
 }

 /* Seitenlayout */
 .container-vertical {
     display: flex;
     flex-direction: column;
 }

 .container-horizontal {
     display: flex;
     flex-direction: row;
 }

 .navigation {
     width: 25%;
 }

 .content {
     width: 75%;
 }

 /* Thema */
 div {
     background-color: hsla(0, 0%, 0%, 0.125);
     margin: 0.125rem;
 }