
/* Navigation */
/* Grundlagen (base) */
.nav {
    list-style-type: none;
    padding-left:0;
}

.nav a[href] {
    text-decoration: none;
}

/* Verhalten (behaviour) */
.nav-vertical>li>a[href] {
    display: block;
    width: 100%;
    background-color: hsla(50, 100%, 50%, 0.5);
}

.nav-vertical li a[href]:visited {
    background-color: hsla(120, 100%, 50%, 0.5);
}

.nav-vertical li a[href]:active {
    background-color: hsla(0, 100%, 50%, 0.5);
}

.nav-vertical li a[href]:hover {
    background-color: hsla(90, 100%, 50%, 0.5);
}

/* Layout */
.nav-vertical li {
    width: 100%;
    background-color: hsla(0, 100%, 50%, 0.5);
}


.nav-vertical {
     display: flex;
     flex-direction: column;
 }

 .nav-horizontal {
     display: flex;
     flex-direction: row;
 }

 /* Seitenlayout */
 .container-vertical {
     display: flex;
     flex-direction: column;
 }

 .container-horizontal {
     display: flex;
     flex-direction: row;
 }

 .navigation {
     width: 25%;
 }

 .content {
     width: 75%;
 }

 /* Thema */
 div {
     background-color: hsla(0, 0%, 0%, 0.25);
     margin: 0.125rem;
 }