/* CSS: Selektoren und Gewichtungen */

/*  Genereller Selektor
    Spezifität 0 0 0 0 0 
*/
* {
    font-weight: normal;
}

/* Selektoren */
/*  Elemente auswählen
    Spezifizität 0 0 0 0 1 */
h2 {
    color: red;
    font-style: italic;
}

p {
    font-family: "Open-Sans";
}

/* Klassen auswählen 
    Spezifizität 0 0 0 1 0 
    entspricht einer Formatvorlage!
    */
.my-class {
    color: blue;
}
.second-paragraph {
    margin-inline-start: 8rem;
}

/* Attribute auswählen
    Spezifizität 0 0 0 1 0 
*/
/* verkürzten Attributselektor */
a[href] {
    color: orange;
    text-decoration: none;
}
/* vollständiger Attributselektor */
input[type="email"] {
}


/* Pseudoklassen auswählen
    Spezifizität 0 0 0 1 0
*/

a:hover{}
span::before{}

li:nth-child(3) {}