/**
 * Skin for this theme
 * @desc 
 * @author Michael <michael.reichart@gfu.net> 
 * @version 1.0.0
 * @since 2019/09/24
 */
.content nav {
    background-color: red;
}

.content main {
    background-color: orange;
}

.page-footer nav {
    background-color: steelblue;
}