table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}
table th {
  background-color: #4caf50;
  color: white;
}
table th,
table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
table tr:hover {
  background-color: #ddd;
}
table thead tr {
  position: sticky;
  top: 0;
}