@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
.success {
  background-color: #28a745;
}
.success-lighter-100 {
  background-color: #34ce57;
}
.success-lighter-200 {
  background-color: #5dd879;
}
.success-lighter-300 {
  background-color: #86e29b;
}
.success-lighter-400 {
  background-color: #afecbd;
}
.success-lighter-500 {
  background-color: #d8f6df;
}
.success-darker-100 {
  background-color: #1e7e34;
}
.success-darker-200 {
  background-color: #145523;
}
.success-darker-300 {
  background-color: #0a2c12;
}
.success-darker-400 {
  background-color: #010201;
}
.success-darker-500 {
  background-color: black;
}

html,
html * {
  box-sizing: border-box;
}

body {
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Atkinson Hyperlegible", "Noto Serif", serif;
  font-size: 16px;
  line-height: 1.5;
}

p {
  font-size: 1rem;
}

h2 {
  font-size: 2rem;
}

.size-200 {
  font-size: 2rem;
}

.colors {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}
.colors-row {
  flex-direction: row;
}
.colors-column {
  flex-direction: column;
}

.light {
  background-color: #f8f9fa;
}
.light-100 {
  background-color: #dae0e5;
}
.light-200 {
  background-color: #bdc6d0;
}
.light-300 {
  background-color: #9fadba;
}
.light-400 {
  background-color: #8193a5;
}
.light-500 {
  background-color: #657a8e;
}
.light-600 {
  background-color: #506070;
}
.light-700 {
  background-color: #3b4752;
}
.light-800 {
  background-color: #262d35;
}
.light-900 {
  background-color: #101417;
}

.dark {
  background-color: #343a40;
}
.dark-100 {
  background-color: #4b545c;
}
.dark-200 {
  background-color: #626d78;
}
.dark-300 {
  background-color: #7a8793;
}
.dark-400 {
  background-color: #96a0aa;
}
.dark-500 {
  background-color: #b2bac1;
}
.dark-600 {
  background-color: #ced3d8;
}
.dark-700 {
  background-color: #ebedee;
}
.dark-800 {
  background-color: white;
}
.dark-900 {
  background-color: white;
}

.light,
.dark {
  display: block;
  width: 3rem;
  height: 3rem;
}

.ws-layout-1 {
  display: block;
  width: 97%;
  min-height: 100%;
}
.ws-layout-1-header, .ws-layout-1-nav, .ws-layout-1-main, .ws-layout-1-footer {
  padding: 1rem;
  display: block;
  width: 100%;
}

@media screen and (min-width: 905px) {
  .ws-layout-1 {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 8rem auto 6rem;
    gap: 0.5rem;
    width: calc(100vw - 4rem);
  }
  .ws-layout-1-header {
    grid-column: 1/span 12;
    grid-row: 1/span 1;
  }
  .ws-layout-1-nav {
    grid-column: 1/span 3;
    grid-row: 2/span 1;
  }
  .ws-layout-1-main {
    grid-column: 4/span 9;
    grid-row: 2/span 1;
  }
  .ws-layout-1-footer {
    grid-column: 1/span 12;
    grid-row: 3/span 1;
  }
}
@media screen and (min-width: 905px) and (max-width: 767px) {
  .ws-layout-1 {
    margin: 1rem;
    display: block;
  }
}
article p {
  column-width: 20rem;
  column-gap: 5rem;
  column-rule: 1px solid black;
  text-align: left;
  hyphens: auto;
  widows: 3;
  orphans: 3;
}
article abbr {
  text-transform: uppercase;
}

.btn span:hover::before {
  content: "nach rechts";
  font-family: monospace;
  font-size: 0.8rem;
}

.ws-icon {
  color: hsl(10, 80%, 50%);
  text-shadow: 0.125rem 0.125rem 0.15rem rgba(0, 0, 0, 0.25);
  font-size: 1.5rem;
}

.ws-figure {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ws-figure-responsive img {
  display: block;
  width: 100%;
  height: auto;
}
.ws-figure figcaption::before {
  content: "Figure: ";
}

.ws-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(10, 80%, 50%);
  color: hsl(0, 0%, 100%);
}
.ws-footer ul,
.ws-footer ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.ws-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(10, 80%, 50%);
  color: hsl(0, 0%, 100%);
}
.ws-header .bigger {
  font-size: 1.3rem;
}
.ws-header .brand {
  color: transparent;
  background-image: url(../figures/shou.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.ws-header .logo {
  width: 6rem;
  height: 6rem;
  border: 1px solid rgba(0, 200, 250, 0.5);
}
.ws-header .logo svg {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
  fill: red;
  background: black;
}
.ws-header .logo img {
  background: black;
  width: 100%;
  height: auto;
}

@keyframes blend-in {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes blend-out {
  0% {
    display: block;
    opacity: 1;
  }
  50% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
.ws-login-form * {
  font-family: "Barlow", sans-serif;
  font-size: 1.05rem;
  line-height: 1.6;
  border: 0;
  margin-block: 0.5rem;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.ws-login-form fieldset {
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(52, 58, 64, 0.25);
}
.ws-login-form fieldset:focus-within {
  box-shadow: 0.25rem 0.25rem 1rem rgba(52, 58, 64, 0.25);
}
.ws-login-form fieldset,
.ws-login-form button,
.ws-login-form select {
  border: 1px solid #343a40;
  border-radius: 0.1666666667rem;
}
.ws-login-form fieldset fieldset {
  border: 0;
}
.ws-login-form legend {
  font-weight: 500;
}
.ws-login-form input {
  border-bottom: 1px solid black;
}
.ws-login-form .errorText {
  display: none;
  opacity: 0;
}
.ws-login-form fieldset {
  padding-inline: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.ws-login-form fieldset > fieldset {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
}
.ws-login-form label {
  flex-basis: 8rem;
  flex-grow: 0;
  flex-shrink: 0;
}
.ws-login-form input {
  flex-basis: 82%;
  flex-grow: 1;
  flex-shrink: 1;
}
.ws-login-form .login-select {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
  margin-inline: 30%;
}
.ws-login-form .login-select * {
  margin: 0;
  white-space: nowrap;
}
.ws-login-form .login-select label.checkbox {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
}
.ws-login-form .login-select [for=login-country] {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
}
.ws-login-form .login-select [for=login-country] + select {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
}
.ws-login-form button {
  margin-inline: 0.25rem;
}

.ws-login-form:focus-within input {
  border: 0;
  outline: 0;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #626d78;
}
.ws-login-form:focus-within input:focus {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: hsl(10, 80%, 50%);
  background-color: #fad8d1;
}
.ws-login-form:focus-within input:valid {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #28a745;
  background-color: #f5fdf7;
}
.ws-login-form:focus-within input:valid + .errorText {
  animation: blend-out 2s ease-in-out;
}
.ws-login-form:focus-within input:invalid {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #dc3545;
  background-color: #fdf4f5;
}
.ws-login-form:focus-within input:invalid + .errorText {
  display: block;
  opacity: 1;
  color: #dc3545;
  animation: blend-in 2s ease-in-out;
}

@media screen {
  .ws-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 0.5rem;
  }
  .ws-nav-row {
    flex-direction: row;
  }
  .ws-nav-row li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ws-nav-column {
    flex-direction: column;
  }
  .ws-nav-column li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .ws-nav a {
    width: 100%;
  }
  .ws-nav a:link {
    color: hsl(10, 80%, 50%);
    text-decoration: none;
    margin-left: 0.5rem;
  }
  .ws-nav li:has(a:hover) {
    background-color: hsl(10, 80%, 50%);
    transition: background-color 0.5s ease;
  }
  .ws-nav li:has(a:hover) a:hover {
    color: hsl(0, 0%, 100%);
  }
}
@media print and (min-device-width: 21cm) {
  .ws-nav {
    display: none;
  }
}
:root {
  --primaryColor: #83baf4;
  --onPrimaryColor: #fff;
  --secondaryColor: #6c757d;
  --tertiaryColor: #6c757d;
  --successColor: #28a745;
  --infoColor: #17a2b8;
  --warningColor: #ffc107;
  --dangerColor: #dc3545;
  --lightColor: #f8f9fa;
  --darkColor: #343a40;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--darkColor);
    color: var(--lightColor);
    width: calc(100vw - 6rem);
  }
  body a:link {
    color: var(--primaryColor);
  }
}
.dev-box {
  outline: 1px solid rgba(0, 200, 250, 0.5);
}

/*
	Improved screen reader only CSS class
	@author Gaël Poupard
		@note Based on Yahoo!'s technique
		@author Thierry Koblentz
		@see https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
	* 1.
		@note `clip` is deprecated but works everywhere
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip
	* 2.
		@note `clip-path` is the future-proof version, but not very well supported yet
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
		@see http://caniuse.com/#search=clip-path
		@author Yvain Liechti
		@see https://twitter.com/ryuran78/status/778943389819604992
	* 3.
		@note preventing text to be condensed
		author J. Renée Beach
		@see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
		@note Drupal 8 goes with word-wrap: normal instead
		@see https://www.drupal.org/node/2045151
		@see http://cgit.drupalcode.org/drupal/commit/?id=5b847ea
	* 4.
		@note !important is important
		@note Obviously you wanna hide something
		@author Harry Roberts
		@see https://csswizardry.com/2016/05/the-importance-of-important/
*/
.sr-only,
.visually-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px); /* 1 */
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%); /* 2 */
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 3 */
}

/*
	Use in conjunction with .sr-only to only display content when it's focused.
	@note Useful for skip links 
	@see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
	@note Based on a HTML5 Boilerplate technique, included in Bootstrap
	@note Fixed a bug with position: static on iOS 10.0.2 + VoiceOver
		@author Sylvain Pigeard
		@see https://github.com/twbs/bootstrap/issues/20732
*/
.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: auto;
  overflow: visible;
  width: auto;
  white-space: normal;
}

.invisible {
  display: none;
}

/*
	Diseases Simulation by CSS-Class
	@author Michael Reichart
	@note A Physiologically-based Model for Simulation of Color Vision Deficiency
	@author Gustavo M. Machado
  @author Manuel M. Oliveira
  @author Leandro A. F. Fernandes
  @see https://www.inf.ufrgs.br/~oliveira/pubs_files/CVD_Simulation/CVD_Simulation.html 
*/
.blurred-vision {
  filter: blur(2px);
}

.achromatopsia {
  filter: url('data:image/svg+xml,      <svg xmlns="http://www.w3.org/2000/svg">        <filter id="achromatopsia">          <feColorMatrix values="0.213  0.715  0.072  0.000  0.000                                 0.213  0.715  0.072  0.000  0.000                                 0.213  0.715  0.072  0.000  0.000                                 0.000  0.000  0.000  1.000  0.000" />        </filter>      </svg>#achromatopsia');
}

.deuteranopia {
  filter: url('data:image/svg+xml,      <svg xmlns="http://www.w3.org/2000/svg">        <filter id="deuteranopia">          <feColorMatrix values="0.367  0.861 -0.228  0.000  0.000                                 0.280  0.673  0.047  0.000  0.000                                -0.012  0.043  0.969  0.000  0.000                                 0.000  0.000  0.000  1.000  0.000" />        </filter>      </svg>#deuteranopia');
}

.protanopia {
  filter: url('data:image/svg+xml,      <svg xmlns="http://www.w3.org/2000/svg">        <filter id="protanopia">        <feColorMatrix values="0.152  1.053 -0.205  0.000  0.000                               0.115  0.786  0.099  0.000  0.000                              -0.004 -0.048  1.052  0.000  0.000                               0.000  0.000  0.000  1.000  0.000" />        </filter>      </svg>#protanopia');
}

.tritanopia {
  filter: url('data:image/svg+xml,      <svg xmlns="http://www.w3.org/2000/svg">        <filter id="tritanopia">        <feColorMatrix values="1.256 -0.077 -0.179  0.000  0.000                              -0.078  0.931  0.148  0.000  0.000                               0.005  0.691  0.304  0.000  0.000                               0.000  0.000  0.000  1.000  0.000" />        </filter>      </svg>#tritanopia');
}

#skiplinks a[href] {
  position: absolute;
  top: -50px;
  left: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#skiplinks a[href]:focus {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  overflow: visible;
  font-size: 3rem;
}