/**
 * CSS Architecture Styles
 * @author Michael
 * @version 1.0.0
 */
/* BASE */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
}

html,
html * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 5px;
}

html {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.428;
  color: #e6e6e6;
  background-color: #262626;
}

* {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

.page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 20% auto 20%;
      grid-template-rows: 20% auto 20%;
}

.page-header {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

.page-navigation {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.page-main {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.page-aside {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.page-footer {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
}

/* HEADER */
header {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.logo {
  margin: 0 30px 0 10px;
  font-size: 1.5em;
}

/* Button styling */
.menu-toggle {
  display: inline-block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #666;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: #06C;
}

/*
   Default styles + Mobile first
   Offscreen menu style
  */
.main-menu {
  position: absolute;
  display: none;
  left: -200px;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  -webkit-transition: left 1s ease, -webkit-box-shadow 1s ease;
  transition: left 1s ease, -webkit-box-shadow 1s ease;
  transition: left 1s ease, box-shadow 1s ease;
  transition: left 1s ease, box-shadow 1s ease, -webkit-box-shadow 1s ease;
  z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
          box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
  min-height: 100%;
  width: 200px;
  background: #1a1a1a;
}

.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #383838;
}

.main-menu li:first-child a {
  border-top: 1px solid #383838;
}

.main-menu a:hover,
.main-menu a:focus {
  background: #666;
  text-decoration: underline;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

/*
   On small devices, allow it to toggle...
  */
/*
   :target for non-JavaScript
   [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
  */
.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
  -webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/* 
   We could us `.main-menu:target:after`, but
   it wouldn't be clickable.
  */
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: rgba(0, 0, 0, 0.65);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}

/*
   Larger screen styling
   Horizontal menu
  */
@media (min-width: 768px) {
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }
  /* Undo positioning of off-canvas menu */
  .main-menu {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    display: block;
  }
  .main-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* Undo off-canvas styling */
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
    width: auto;
    background: none;
  }
  .main-menu a {
    color: #06c;
    border: 0 !important;
    /* Remove borders from off-canvas styling */
  }
  .main-menu a:hover,
  .main-menu a:focus {
    background: none;
    /* Remove background from off-canvas styling */
    color: #06c;
  }
}

/* NAVIGATION */
ul.navigation,
ol.navigation {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

ul.navigation a[href],
ol.navigation a[href] {
  text-decoration: none;
}

@media screen {
  .navigation li {
    display: block;
    width: 100%;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}

@media screen and (max-width: 767px) {
  .navigation li {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .navigation li a[href] {
    color: #e6e6e6;
  }
}

@media screen and (min-width: 768px) {
  .navigation li {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .navigation li a[href] {
    color: #e6e6e6;
  }
}

#box.left {
  margin-left: 0;
  color: red;
}

#box:hover {
  margin-left: 80vw;
  color: green;
}

#box {
  display: block;
  width: 4rem;
  height: 4rem;
  background-color: white;
  -webkit-transition-delay: 1;
          transition-delay: 1;
}

#box {
  -webkit-animation: myAnimation 10s infinite;
          animation: myAnimation 10s infinite;
  -webkit-transition: margin-left 1s ease-in-out, color 4s ease-out;
  transition: margin-left 1s ease-in-out, color 4s ease-out;
}

@-webkit-keyframes myAnimation {
  0% {
    background-color: black;
  }
  25% {
    background-color: red;
  }
  50% {
    background-color: green;
  }
  75% {
    background-color: yellow;
  }
  100% {
    background-color: black;
  }
}

@keyframes myAnimation {
  0% {
    background-color: black;
  }
  25% {
    background-color: red;
  }
  50% {
    background-color: green;
  }
  75% {
    background-color: yellow;
  }
  100% {
    background-color: black;
  }
}
/*# sourceMappingURL=style.css.map */