@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

a:link.visually-hidden:focus,
a:link.visually-hidden:active {
  position: absolute;
  overflow: visible;
  clip: auto;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: hsla(0, 0%, 0%, 0.85);
}

.hidden {
  display: none;
}

a:link,
a:visited {
  color: white !important;
}

[tabindex],
a:link,
input {
  border: 2px dotted red;
}

html {
  font-family: Barlow, Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  color: hsl(0, 0%, 85%);
  background-color: hsl(0, 10%, 20%);
}

body {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 767px) {
  html {
    font-size: 11.7px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 14.5px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 18.2px;
  }
}
h1,
h2,
h3 {
  font-weight: 400;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
}

.nav-row {
  flex-direction: row;
  justify-content: space-between;
}

.nav-column {
  flex-direction: column;
}

.nav ul {
  display: none;
}

.selected {
  display: block !important;
}