/* element selector */
#myId {
    background-color: red;
}


html,
html * {
    box-sizing: border-box;
}

/* class selector */
.nav-horizontal li {
    display: inline;
}

body {
    background-color: green !important;
}