:root {
  --c-main: #003a69;
  --c-sub: #6bbfbf;
  --c-tipbgr: #d5eff2;
  --c-sub2: #d5eff2;
  --c-sub3: #6bbfbf;
  --c-sub4: #6bbfbf;
  --c-sub5: #26a58a;
  --c-sub6: #6bbfbf54;
  --c-sub7: #9eb1b3;
  --c-color: #003a69;
  --c-bg1: #383838;
  --c-bg2: #9b9b9b;
  --c-navlink: #6bbfbf;
  --bs-navbar-toggler-icon-bg-white: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28213, 239, 242, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --desktop-screen-width: 1300px; /*1140px;*/
  --tablet-screen-width: 748px;
  --mobile-screen-width: 98%;
  --min-width: 475px;
  --font-weight: 400;
  --font-size: 1rem;
  --font-family: "Segoe UI", Frutiger, "Frutiger Linotype", Arial;
}

* {
  font-weight: var(--font-weight);
  font-family: var(--font-family);
}

body,
html {
  overflow-x: hidden !important;
  width: 100vw !important;
}

body {
  color: var(--c-color);
  font-size: var(--font-size);
}

header {
  border-bottom: 1px solid #999;
}

#content {
  position: relative;
  display: block;
  margin-top: 116px;
  min-height: 100%;
  height: 100%;
  height: auto;
  overflow: hidden;
}

#team .rightBanner {
  width: 100%;
  background-color: #ddd;
}

.rightBanner {
  width: 24%;
}

a,
a:active,
a:hover,
a:focus {
  color: var(--c-color);
}

header a,
footer a {
  color: white;
}

footer span {
  width: 36%;
}

.versandarten {
  width: 40px;
  height: 28px;
  display: inline-block;
  background-color: white;
}

button.search:hover,
button.search:focus,
button.search:active,
button.search.show,
button.search.show:hover,
button.search.show:focus,
button.search.show:active,
button.utility:hover,
button.utility:focus,
button.utility:active,
button.utility.show,
button.utility.show:hover,
button.utility.show:focus,
button.utility.show:active,
button.user:hover,
button.user:focus,
button.user:active,
button.user.show,
button.user.show:hover,
button.user.show:focus,
button.user.show:active,
button.toBasket:hover,
button.toBasket:focus,
button.toBasket:active,
button.toBasket.show,
button.toBasket.show:hover,
button.toBasket.show:focus,
button.toBasket.show:active {
  background: var(--c-tipbgr);
  border-color: var(--c-tipbgr);
}

hr.line-main,
hr.header {
  background-color: var(--c-tipbgr);
}

div.carousel#news {
  height: 325px;
}

div#news .carousel-indicators {
  margin: 0;
}

div#news .carousel-indicators [data-bs-target] {
  background-color: var(--c-color);
}

div#news .carousel-inner {
  max-height: 300px;
}

.carousel#news .row-1 {
  height: 250px;
  overflow: hidden;
}

#vertrieb,
#einkauf,
#service,
#logistik,
#buchhaltung,
#personal {
  border: 1px solid var(--c-sub2) !important;
}

.displaynone {
  display: none !important;
}

.information {
  width: 65px;
}

.socialmedia {
  max-width: 40px;
}

.InformSavetheday {
  width: 225px;
  height: auto;
  border: 0px;
}

#vertrieb:hover,
#einkauf:hover,
#service:hover,
#logistik:hover,
#buchhaltung:hover,
#personal:hover {
  background-color: var(--c-sub2) !important;
}

h1 {
  font-size: 2.188rem;
  font-weight: 700;
  line-height: 1.4;
}

h2 {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.4;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

h4 {
  font-size: 1.143em;
  font-weight: 400;
}

#sub_headline {
  font-size: 1.5rem;
}

.top-border {
  border-top: 1px solid var(--c-sub7);
}

ul.categories ul li.cat-3 a {
  color: var(--c-color);
}

button.dropdown-item.nav-link {
  color: var(--c-color);
}

#footer-wrapper {
  background-color: var(--c-color);
}

#content-wrapper {
  color: var(--c-color);
}

#content-wrapper a,
#content-wrapper a:hover,
#content-wrapper a:visited,
#content-wrapper a:focus {
  color: var(--c-color);
}

#content_holder {
  /* vom body vererbt? */
  color: var(--c-color);
}

.btnLetter {
  width: 45px;
  height: 30px;
  margin: 5px 2px 0px 0px;
}

#content {
  padding: 0;
}

.overlay .circle {
  background: var(--c-main);
}

.bg-sub2 {
  background-color: var(--c-sub2);
  color: var(--c-main);
}

.btn.bg-main:hover {
  background: rgba(0, 58, 105, 0.5);
  color: white;
}

.btn.bg-sub:hover,
.btn.bg-sub:focus,
.btn.bg-sub:active {
  background: rgba(107, 191, 191, 0.5);
}

.btn.bg-sub2:hover,
.btn.bg-sub2:focus,
.btn.bg-sub2:active {
  background: rgba(213, 239, 242, 0.5);
}

.btn.login:hover,
.btn.login.show {
  background: var(--c-sub);
  color: var(--c-color);
}

.form-floating img {
  /* vllt anpassen main:421 */
  margin: -46px 10px 0 0;
  width: 40px;
  float: right;
  border: none;
  cursor: pointer;
}

#headline_container {
  background-color: var(--c-sub2);
  margin: auto;
  width: 100% !important;
  left: 0px;
}

#backToTop:hover {
  background-color: var(--c-sub);
}

.nav-item.no-Shop > a > .btn {
  border-radius: 0px !important;
  border: 0px !important;
  height: 42px !important;
  margin: 0px !important;
  padding: 0 15px 0 15px !important;
}

b {
  font-weight: bold !important;
}

.nav-item.no-Shop {
  margin-right: 0px !important;
}

.nav-item.no-Shop:nth-child(5) > a > .btn {
  background: var(--c-sub6);
}

.nav-item.no-Shop:nth-child(5) a > .btn:hover,
.nav-item.no-Shop:nth-child(6) a > .btn:hover {
  background: var(--c-sub7);
}

#start .dropdown-menu {
  border: 1px solid var(--c-sub2);
}

.db {
  display: inline-block;
  max-width: 100%;
}

.navbar-text {
  font-size: 10pt !important;
}

.navbar-text:first-child {
  text-decoration: underline;
}

.navbar-text:not(.navbar-text:first-child) {
  display: none;
  opacity: 0;
}

.navbar-collapse:hover > .navbar-text {
  display: inline-block;
  animation: silly 2s linear 0s forwards;
}

.naviLeft {
  background-color: #d5eff2;
}

.naviLeft > div > ul > li {
  color: #003a69;
  font-size: 13px;
}

#main ul {
  list-style: disc;
}

#active {
  font-weight: bold;
}

.searchBar {
  line-height: 42px;
}

.searchBar {
  background-color: var(--c-tipbgr);
}

.nav-item.desktop > div > a > .btn,
.nav-item.desktop .btn {
  border-radius: 0px !important;
  border: 0px !important;
  height: 42px !important;
  margin: 0px !important;
  padding: 0 15px 0 15px !important;
  border-right: 1px solid var(--c-sub2) !important;
}

.naviLeft a {
  color: #003a69;
}

@keyframes silly {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.logoblocks {
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  width: 100px;
  top: 50%;
  padding: 0px 0px 0px 10px;
  border: 1px solid white;
  transform: translateY(-50%);
  z-index: 0;
}

.logoblocks img {
  max-width: 80%;
}

.scrollcontainer {
  position: relative;
  display: block;
  width: 850px;
  height: 80px;
  box-sizing: box-border;
  padding: 0;
  overflow: hidden;
}

.scroller {
  width: 100%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-wrap: nowrap;
  height: 80px;
  box-sizing: border-box;
  padding: 5px 0 5px 0px;
  background: white;
}

.controls {
  display: none;
  position: absolute;
  box-sizing: border-box;
  padding: 35px 0 0 0;
  width: 40px;
  background: white;
  top: 0;
  height: inherit;
  z-index: 5;
  font-weight: 900;
  text-align: center;
  font-size: 25pt;
  color: rgba(0, 58, 105, 0.5);
  line-height: 0;
  border-width: 1px;
  border-image: linear-gradient(to bottom, white, white, var(--c-main), white, white) 1 100%;
  cursor: pointer;
}

.controls.lft {
  left: -1px !important;
  border-right-style: solid;
}

.controls.rgt {
  right: -1px !important;
  border-left-style: solid;
}

.controls.lft:hover,
.controls.rgt:hover {
  color: rgb(0, 58, 105);
}

img.scrollerLogoImg {
  max-height: 50px;
  max-width: 80px;
}

a.scrollerLogo {
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  line-height: 50px;
  z-index: 1;
}

.configTable tr td:not(.sect),
.configTable tr td span {
  font-weight: 400;
}

@media screen and (max-width: 1160px) {
  .scrollcontainer {
    width: 98% !important;
    margin: 0 auto !important;
  }
  .allmanu {
    margin-top: 5px !important;
    text-align: center !important;
    width: 98%;
  }
}
@media screen and (max-width: 992px) {
  .information {
    width: 65px;
  }
  header .top-border ul .nav-item a {
    color: var(--c-color);
  }
  header .top-border button.dropdown-toggle:hover,
  header .top-border button.dropdown-toggle,
  header .top-border button:hover,
  header .top-border button {
    color: var(--c-main) !important;
  }
  /*div.scroller {
    width: 430px !important;
  }*/
}
@media screen and (max-width: 767px) {
  .information {
    width: 65px;
  }
  .navbar-brand img {
    height: 3em;
    max-width: 77px;
    object-fit: contain;
  }
}
.auszeichnungen {
  border-color: #d5eff2;
}

#pressContact {
  border: 1px solid var(--c-main);
}

#pressDownloads .logos button {
  background-color: var(--c-main);
  border-radius: 15px solid black !important;
}

#cardHolder .card-footer {
  background-color: #f2f2f2;
  text-align: left;
  color: #0d6efd;
  text-decoration-line: underline;
  font-weight: 500;
  border-top: 1px solid gray;
}

#cardHolder .card-body {
  color: #0d6efd;
  text-decoration-line: underline;
}

.nav-item.py-2 img {
  margin: 0 3px;
  width: 40px;
  height: auto;
}

.collapse.navbar-collapse:not(.naviLeft) .nav-item.dropdown {
  text-transform: uppercase;
}

#buttons button {
  width: 35px;
  height: 35px;
  border: var(--c-main) 2px solid;
  padding: 0;
  padding-bottom: 4px;
  font-size: 30px;
  line-height: 10px;
}

#leaderboard {
  text-align: justify;
}

#buttons button:hover {
  border-color: rgba(0, 0, 0, 0);
}

.sendBtnRMA:disabled {
  opacity: 0.5 !important;
  background-color: var(--c-sub) !important;
  color: white !important;
}

.form-check-label:hover,
.form-check-input:hover {
  cursor: pointer;
}

.cardCol.active {
  display: block;
}

.filter-button {
  margin: 1;
  padding: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white !important;
  color: var(--c-main) !important;
  border-color: var(--c-main);
  padding: 10px 40px 10px;
}

.filter-button:hover {
  background-color: var(--c-main) !important;
  color: white !important;
}

h5.card-title {
  margin: 0.5rem 0.5rem;
}

#cardHolder .col.cardCol a {
  color: grey;
}

.mintBorderBottom {
  border-bottom: 2px solid #d5eff2 !important;
}

#advContainer {
  top: 10rem !important;
}

.rows {
  display: table-row;
  position: relative;
  width: 100%;
  padding: 5px;
  margin: 0;
}

#Hersteller {
  width: 130px;
}

.schnitt {
  padding-top: 2px;
}

.collectionr {
  max-height: 400px;
  overflow: auto;
}

@media screen and (max-width: 793px) {
  .nav-item.py-2 img {
    max-width: 40px !important;
  }
}
#collapsibleNavbar .submenuHover:hover > ul {
  display: block !important;
  background-color: rgb(27, 176, 60) !important;
}

.submenu_Ul .nav-item {
  background-color: var(--c-color) !important;
  text-transform: none !important;
}

.submenuHover a::after {
  display: none;
}

#collapsibleNavbar .submenuHover .submenu_Ul .nav-link {
  color: var(--c-color);
  background-color: white;
}

#collapsibleNavbar .submenuHover .submenu_Ul .nav-link:hover {
  color: white;
  background-color: var(--c-color);
}

@media screen and (max-width: 576px) {
  .information {
    width: 65px;
  }
  .vorteile {
    width: 88%;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}