/* Tabellen Gestaltung */

table.grey { 
    border-style: solid; 
    border-width: 4px;
    border-color: grey;
    border-collapse: separate;
    border-spacing: 3px;
    border-top-left-radius:8px;

    background-color:lightgrey;
}
td, th { 
    border: 0;
}