/*
 * Theme 1
 *
 * @author Michael
 * @since 2019/07/30
 * @version 1.0.0
 */

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

/* theme 1 css */

/* colors */
html {
    background-color: hsl(0, 0%, 20%);
    color: whitesmoke;
}

/* typography */
html {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    /* 400 -> regular */
    font-weight: 400;
}

h1,
h2,
h3 {
    font-weight: 100;
}

/* temp colors */
.page {
    background-color: hsla(90, 100%, 50%, 0.05);
}

.page-header {
    background-color: hsla(0, 100%, 50%, 0.05);
}

.page-navigation {
    background-color: hsla(180, 100%, 50%, 0.05);
}

.page-content {
    background-color: hsla(60, 100%, 50%, 0.05);
}

.page-footer {
    background-color: hsla(210, 100%, 50%, 0.05);
}