/* Variablen */
/* Schrift und Typografie Einstellungen */
html {
  font-family: Arial, Helvetica, sans-serif;
  /* base for 1rem */
  font-size: 18px;
  line-height: 1.2;
}

/* Textformate */
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4,
h5,
h6 {
  font-size: 1.5rem;
}

[role=heading][aria-level="7"] {
  font-weight: bold;
}

p {
  font-size: 1rem;
}

td,
th,
li,
code {
  font-size: 0.8rem;
}

/* Small device (i.e. mobile phones) */
@media screen and (max-width: 767px) {
  html {
    font-size: 16px;
  }
}

/* Medium device (i.e. tablets in portrait mode) */
@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

/* Large device (i.e. desktop monitor) */
@media screen and (min-width: 1024px) {
  html {
    font-size: 20px;
  }
}

/* Quick layout */
main {
  display: flex;
  flex-direction: row;
}

h1 {
  text-align: center;
}

body {
  background-color: black;
  color: #ffdb99;
}

section {
  margin: 0.5rem;
  padding: 0.5rem;
}

section.bright {
  background-color: #ffdb99;
  color: #004d00;
}

section.bright code {
  background-color: #004d00;
  color: #ffdb99;
}

section.bright a:link {
  color: green;
}

section.bright a:visited {
  color: #004d00;
}

section.bright a:hover {
  color: #004d00;
  outline: 2px solid red;
  border: 2px dotted green;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

section.bright a:active {
  color: #004d00;
  outline: 2px solid red;
  border: 2px dotted green;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

section.dark {
  color: #ffdb99;
  background-color: #004d00;
}

section.dark code {
  color: #004d00;
  background-color: #ffdb99;
}
