// Common colors
$dark: hsl(0, 0%, 15%);
$light: hsl(0, 0%, 95%);

// Corporate colors
$primary: hsl(58, 100%, 25%);
$onPrimary: null;

@if lightness($primary) > 50 {
    $onPrimary: $dark;
} @else {
    $onPrimary: $light;
}

$secondary: #b5f000;
$tertiary: #f0c700;
$quaternary: #f0aa00;



// Semantic colors
$success: hsl(75, 93%, 30%);
$info: rgb(0, 204, 255);
$warning: hsl(42, 100%, 47%);
$danger: hsla(14, 100%, 50%, 0.875);

// Functional colors
// Link colors
$linkColor: $primary;

// Color variants
$primaryMap: (
    100: 10%,
    200: 20%,
    300: 30%,
    400: 40%,
    500: 50%,
    600: 60%,
    700: 70%,
    800: 80%,
    900: 90%,
);

@each $key, $value in $primaryMap {
    .primary-lighter-#{$key} {
        background: lighten($primary, $value);
    }
}

@each $key, $value in $primaryMap {
    .primary-darker-#{$key} {
        background: darken($primary, $value);
    }
}
