$dev-color-level-1: hsla(194, 100%, 66%, 0.5);
$dev-color-level-2: hsla(27, 96%, 54%, 0.5);

body {
    > * {
        border: 2px solid $dev-color-level-1;

        > * {
            border: 2px solid $dev-color-level-2;
        }
    }
}

/* Simulationen für Farbenblindheit */
.protanopia {
    filter: url("#protanopia");
}

.deuteranopia {
    filter: url("#deuteranopia");
}

.tritanopia {
    filter: url("#tritanopia");
}

.color-blind {
    filter: url("#color-blind");
}

.achromatopsia {
    filter: url(#achromatopsia-blur);
}

/* Visus-Simulationen */
.visus-07 {
    filter: url("#visus-07");
}

.visus-05 {
    filter: url("#visus-05");
}

.visus-04 {
    filter: url("#visus-04");
}

.visus-008 {
    filter: url("#visus-008");
}
