.sr-only {
    word-wrap: normal;
    position: absolute;

    left: -20000px;

    height: 0.0625rem;
    width: 0.0625rem;

    margin: -0.0625rem;
    padding: 0;
    border: 0;

    overflow: hidden;

    clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
}

.sr-hidden,
.hidden {
    display: none;
}

.sr-focus:focus {
    display: block;
    z-index: 1;
    position: fixed;
    top: 0;
    text-align: center;

    word-wrap: normal !important;

    height: 5rem;
    width: 100vw;

    padding: 1rem;

    clip: unset;
    -webkit-clip-path: inset(0);
    clip-path: inset(0%);
    font-size: var(--big);
    background-color: var(--bright);
}

svg [tabindex] {
    outline: none;
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.invisible {
    display: none !important;
}

@keyframes focus-animation {
    0% {
        outline-offset: 0px;
        outline-width: 5px;
        outline-color: rgba(3, 139, 250, 1);
    }
    90% {
        outline-offset: 5px;
        outline-width: 5px;
        outline-color: rgba(3, 139, 250, 0.1);
    }
    100% {
        outline-offset: 0;
        outline-width: 0;
        outline-color: transparent;
    }
}

*:focus {
    animation: focus-animation 1s;
    outline-style: solid;
    // outline: none;
}

.mouseenter {
    background: hsla(210, 50%, 50%, 0.125);
}
// - - - - - - - - - -
// VISION IMPAIRMENT
// - - - - - - - - - -
.blurred-vision {
    filter: blur(2px);
}
.achromatopsia {
    filter: url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg">\
        <filter id="achromatopsia">\
          <feColorMatrix values="0.213  0.715  0.072  0.000  0.000\
                                 0.213  0.715  0.072  0.000  0.000\
                                 0.213  0.715  0.072  0.000  0.000\
                                 0.000  0.000  0.000  1.000  0.000" />\
        </filter>\
      </svg>#achromatopsia');
}

.deuteranopia {
    filter: url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg">\
        <filter id="deuteranopia">\
          <feColorMatrix values="0.367  0.861 -0.228  0.000  0.000\
                                 0.280  0.673  0.047  0.000  0.000\
                                -0.012  0.043  0.969  0.000  0.000\
                                 0.000  0.000  0.000  1.000  0.000" />\
        </filter>\
      </svg>#deuteranopia');
}

.protanopia {
    filter: url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg">\
        <filter id="protanopia">\
        <feColorMatrix values="0.152  1.053 -0.205  0.000  0.000\
                               0.115  0.786  0.099  0.000  0.000\
                              -0.004 -0.048  1.052  0.000  0.000\
                               0.000  0.000  0.000  1.000  0.000" />\
        </filter>\
      </svg>#protanopia');
}

.tritanopia {
    filter: url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg">\
        <filter id="tritanopia">\
        <feColorMatrix values="1.256 -0.077 -0.179  0.000  0.000\
                              -0.078  0.931  0.148  0.000  0.000\
                               0.005  0.691  0.304  0.000  0.000\
                               0.000  0.000  0.000  1.000  0.000" />\
        </filter>\
      </svg>#tritanopia');
}
// - - - - - - - - - -
// VISUALLY HIDDEN WITH FOCUS
// - - - - - - - - - -

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    border: 0;
}
.visually-hidden-focusable:active,
.visually-hidden-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip-path: auto;
}

// nav>ul>li*3>a{Link $} !! skiplink navigation in nav-ul
.visually-hidden:has(a:focus, a:active) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1001;
    background-color: lightgrey;
    color: black;
    font-size: 3rem;
    ul,
    ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li:has(a:focus) {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip-path: auto;
        border: 2px dotted red;
    }
    li:has(a:not(:focus)) {
        position: absolute;
        left: -9999px;
    }
}

// - - - - - - - - - -
// TABLES
// - - - - - - - - - -
table,
th,
td {
    border: 1px dotted black;
}
#skip-links a {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    border: 0;
}

#skip-links:has(:focus) a:focus {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1001;
    background-color: hsla(0, 0%, 100%, 0.85);
    color: black;
    font-size: 3rem;
    margin: 0;
    overflow: visible;
    clip-path: auto;
    text-decoration: none;
}

// - - - - - - - - - -
// PREFERS QUERIES
// - - - - - - - - - -
.prefers-reduced-motion {
    @media (prefers-reduced-motion: no-preference) {
        display: block;
        color: lightgrey !important;
    }
    @media (prefers-reduced-motion: reduce) {
        display: block;
    }
}
.prefers-contrast {
    @media (prefers-contrast: no-preference) {
        display: block;
        color: lightgrey !important
    }
    @media (prefers-contrast: less) {
        display: block;
    }
    @media (prefers-contrast: more) {
        display: block;
    }
    @media (prefers-contrast: custom) {
        display: block;
    }
}
.prefers-color-scheme {
    @media (prefers-color-scheme: dark) {
        background-color: black;
        color: white;
    }

    @media (prefers-color-scheme: light) {
        background-color: light;
        color: dark;
    }
}
.forced-color {
    @media (forced-color: none) {
        display: block;
        color: lightgrey !important
    }
    @media (forced-color: active) {
        display: block;
    }
}
.prefers-reduced-data {
    @media (prefers-reduced-data: no-preference) {
        display: block;
        color: lightgrey !important
    }
    @media (prefers-reduced-data: reduce) {
        display: block;
    }
}
.prefers-reduced-transparency {
    @media (prefers-reduced-transparency: no-preference) {
        display: block;
        color: lightgrey !important
    }
    @media (prefers-reduced-transparency: reduce) {
        display: block;
    }
}
.inverted-color {
    @media (inverted-color: none) {
        display: block;
        color: lightgrey !important
    }
    @media (inverted-color: inverted) {
        display: block;
    }
}
