@use "sass:math";
@use "sass:string";

@function toRem($value) {
    $remValue: $value + rem;
    @return $remValue;
}

@function toPx($value) {
    $pxValue: $value + px;
    @return $pxValue;
}

@function pxToRem($value) {
    $remValue: (math.div($value, $s)) + rem;
    @return $remValue;
}

@function remToPx($value) {
    $pxValue: ($value * $s) + px;
    @return $pxValue;
}
