$s:18; // base font size as 22px
$unison: 1; // Unison 1:1

// Bigger
$minor-second: 1.067; // Minor second 15:16
$major-second: 1.125; // Major second 8:9
$minor-third: 1.2; // Minor third 5:6
$major-third: 1.25; // Major third 4:5
$perfect-fourth: 1.333; // Perfect fourth 3:4
$augmented-fourth: 1.414; // Augmented fourth 1:√2
$perfect-fifth: 1.5; // Perfect fifth 2:3
$minor-sixth: 1.6; // Minor sixth 5:8
$golden: 1.618; // Golden ratio (1 + √5) / 2
$major-sixth: 1.732; // Major sixth 3:5
$minor-seventh: 1.778; // Minor seventh 7:8
$major-seventh: 1.875; // Major seventh 8:15
$octave: 2; // Octave 1:2
$major-ninth: 2.25; // Major ninth 4:9
$major-tenth: 2.667; // Major tenth 2:5
$major-eleventh: 2.833; // Major eleventh 3.8
$major-twelve: 3; // Major twelfth 1:3
$double-octave: 4; // Double octave 1:4
$third-octave: $octave * 3;
$fourth-octave: $double-octave * 2;
// Smaller
$_minor-second: 0.938; // Minor second 16:15
$_major-second: 0.889; // Major second 9:8
$_minor-third: 0.833; // Minor third 6:5
$_major-third: 0.8; // Major third 5:4
$_perfect-fourth: 0.75; // Perfect fourth 4:3
$_augmented-fourth: 0.707; // Augmented fourth √2:1
$_perfect-fifth: 0.667; // Perfect fifth 3:2
$_minor-sixth: 0.625; // Minor sixth 8:5
$_golden: 0.618; // Golden ratio 1 / (1 + √5)
$_major-sixth: 0.577; // Major sixth 5:3
$_minor-seventh: 0.562; // Minor seventh 8:7
$_major-seventh: 0.533; // Major seventh 15:8
$_octave: 0.5; // Octave 2:1
$_major-ninth: 0.444; // Major ninth 9:4
$_major-tenth: 0.375; // Major tenth 5:2
$_major-eleventh: 0.353; // Major eleventh 8:3
$_major-twelve: 0.333; // Major twelfth 3:1
$_double-octave: 0.25; // Double octave 4:1
$rhytmn: (
    _minor-second: $_minor-second,
    _major-second: $_major-second,
    _minor-third: $_minor-third,
    _major-third: $_major-third,
    _perfect-fourth: $_perfect-fourth,
    _augmented-fourth: $_augmented-fourth,
    _perfect-fifth: $_perfect-fifth,
    _minor-sixth: $_minor-sixth,
    _golden: $_golden,
    _major-sixth: $_major-sixth,
    _minor-seventh: $_minor-seventh,
    _major-seventh: $_major-seventh,
    _octave: $_octave,
    _major-ninth: $_major-ninth,
    _major-tenth: $_major-tenth,
    _major-eleventh: $_major-eleventh,
    _major-twelve: $_major-twelve,
    _double-octave: $_double-octave,
    unison: $unison,
    minor-second: $minor-second,
    major-second: $major-second,
    minor-third: $minor-third,
    major-third: $major-third,
    perfect-fourth: $perfect-fourth,
    augmented-fourth: $augmented-fourth,
    perfect-fifth: $perfect-fifth,
    minor-sixth: $minor-sixth,
    golden: $golden,
    major-sixth: $major-sixth,
    minor-seventh: $minor-seventh,
    major-seventh: $major-seventh,
    octave: $octave,
    major-ninth: $major-ninth,
    major-tenth: $major-tenth,
    major-eleventh: $major-eleventh,
    major-twelve: $major-twelve,
    double-octave: $double-octave,
    third-octave: $third-octave,
    fourth-octave: $fourth-octave,
);


@each $name, $size in $rhytmn {
    .#{$name} {
        font-size: toRem($size);
    }
    .#{$name}::after {
        content: " #{remToPx($size)}";
        font-size: toRem($_perfect-fourth);
    }
}
