$progress-height: 1em;
$progress-width: 10em;
$progress-vertical-align: -0.2em;

$inner-element-height: 100%;
$inner-element-width: 100%;

$progress-bar-background-color: gray;
$progress-bar-height: 100%;
$progress-bar-width: 100%;

$progress-value-background-color: green;
$progress-value-height: 100%;
$progress-value-width: 50%; /* should be removed later */

/* progress */
progress {
    -webkit-appearance: progress-bar;
    box-sizing: border-box;
    display: inline-block;
    height: $progress-height;
    width: $progress-width;
    vertical-align: $progress-vertical-align;
}
progress::-webkit-progress-inner-element {
    -webkit-appearance: inherit;
    box-sizing: inherit;
    -webkit-user-modify: read-only;
    height: $inner-element-height;
    width: $inner-element-width;
}
progress::-webkit-progress-bar {
    background-color: $progress-bar-background-color;
    height: $progress-bar-height;
    width: $progress-bar-width;
    -webkit-user-modify: read-only !important;
    box-sizing: border-box;
}
progress::-webkit-progress-value {
    background-color: $progress-value-background-color;
    height: $progress-value-height;
    width: $progress-value-width; /* should be removed later */
    -webkit-user-modify: read-only !important;
    box-sizing: border-box;
}
