/* states */
:focus {
    outline: auto 5px -webkit-focus-ring-color;
}
/* Read-only text fields do not show a focus ring but do still receive focus */
html:focus,
body:focus,
input[readonly]:focus {
    outline: none;
}
embed:focus,
iframe:focus,
object:focus {
    outline: none;
}

input:focus,
textarea:focus,
keygen:focus,
select:focus {
    outline-offset: -2px;
}
input[type="button" i]:focus,
input[type="checkbox" i]:focus,
input[type="file" i]:focus,
input[type="hidden" i]:focus,
input[type="image" i]:focus,
input[type="radio" i]:focus,
input[type="reset" i]:focus,
input[type="search" i]:focus,
input[type="submit" i]:focus,
input[type="file" i]:focus::-webkit-file-upload-button {
    outline-offset: 0;
}

a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
a:-webkit-any-link:active {
    color: -webkit-activelink;
}
