.color-conversion {
    article {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: flex-start;
        align-items: center;

        font-size: 0.75rem;

        h2 {
            width: 100vw;
        }

        section {
            padding: 1rem;
        }
    }

    fieldset {
        width: var(--size);

        border: none;
        transition: all 100ms ease-out;

        color: var(--bright);

        input[type="range"] {
            width: calc(var(--size - 4rem));
        }

        label::after,
        input[type="range"]::after {
            content: "";
            display: inline-block;
            width: 0.5rem;
            background: transparent;
        }
    }

    *:active {
        outline: none !important;
    }

    .contrast {
        font-size: 3rem;
    }

    .dark {
        fieldset {
            color: var(--dark) !important;
        }

        input[type="range"]::-webkit-slider-runnable-track {
            border: 1px solid var(--dark);
        }
        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: 1px solid var(--dark);
            background: hsla(0, 100%, 0%, 0.25);
        }
    }

    /* - - - - - - - - - - */
    /* SLIDER RESET */
    input[type="range"] {
        -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
        background: transparent; /* Otherwise white in Chrome */
    }

    input[type="range"]:focus {
        outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
    }

    input[type="range"]::-ms-track {
        cursor: pointer;

        /* Hides the slider so custom styles can be added */
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    /* - - - - - - - - - - */
    /* SLIDER THUMB */
    /* Special styling for WebKit/Blink */
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;

        height: 1rem;
        width: 1rem;
        margin-top: -0.27rem; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */

        border: 1px solid var(--bright);
        border-radius: 0.5rem;

        background: hsla(0, 100%, 100%, 0.25);
        cursor: pointer;
    }

    /* All the same stuff for Firefox */
    input[type="range"]::-moz-range-thumb {
        border: 1px solid var(--bright);
        height: 1rem;
        width: 16px;
        border-radius: 0.5rem;
        background: hsla(0, 100%, 100%, 0.25);
        cursor: pointer;
    }

    /* All the same stuff for IE */
    input[type="range"]::-ms-thumb {
        border: 1px solid var(--bright);
        height: 1rem;
        width: 16px;
        border-radius: 0.5rem;
        background: hsla(0, 100%, 100%, 0.25);
        cursor: pointer;
    }

    /* - - - - - - - - - - */
    /* SLIDER TRACK */
    input[type="range"]::-webkit-slider-runnable-track {
        height: 0.5rem;
        cursor: pointer;
        background: transparent;
        border-radius: 0;
        border: 1px solid var(--bright);
    }
    input[type="range"]:focus::-webkit-slider-runnable-track {
        background: transparent;
    }
    input[type="range"]::-moz-range-track {
        height: 0.5rem;
        cursor: pointer;
        background: transparent;
        border-radius: 0;
        border: 1px solid var(--bright);
    }
    input[type="range"]::-ms-track {
        height: 0.5rem;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        border-width: 16px 0;
        color: transparent;
    }
    input[type="range"]::-ms-fill-lower {
        background: transparent;
        border: 1px solid var(--bright);
        border-radius: 0;
    }
    input[type="range"]:focus::-ms-fill-lower {
        background: transparent;
    }
    input[type="range"]::-ms-fill-upper {
        background: transparent;
        border: 1px solid var(--bright);
        border-radius: 0;
    }
    input[type="range"]:focus::-ms-fill-upper {
        background: transparent;
    }
}
