.contrast-container {
    --lightgreen: #a5c35a;
    --darkgreen: #255234;
    --yellow: #fdbd00;
    --blue: #1190eb;
}

.contrast-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    font-family: Barlow;
    font-size: 18px;
}
.box h2 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    line-height: 1;
}
.box p {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    line-height: 1;
}
.green-1 {
    color: var(--lightgreen);
    background: var(--darkgreen);
}
.green-2 {
    color: var(--darkgreen);
    background: var(--lightgreen);
}
.blue-yellow-1 {
    color: var(--yellow);
    background: var(--blue);
}
.blue-yellow-2 {
    color: var(--blue);
    background: var(--yellow);
}
.image {
    color: var(--yellow);
    background: url("https://picsum.photos/id/92/200/200");
    background-size: cover;
}
.gradient {
    color: var(--blue);
    background: linear-gradient(45deg, var(--yellow) 0%, var(--darkgreen) 100%);
}
.not-bold {
    font-weight: 400;
}
