a.icon {
    color: var(--on-primary);
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

a.icon:hover {
    transform: translate(-0.06rem, -0.06rem);
    box-shadow: 0.125rem 0.125rem 0.25rem var(--shadow);
}
