body > nav[id="main-navigation"] {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    position: fixed;
    left: 0 ;
    top: 0 ;
    font-size: toRem($_perfect-fourth) !important;

    z-index: 1000;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    background: var(--medium-bright);
ul, ol{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

}
    li {
        transition-property: color, background;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        padding: toRem(0.5);
    }

    a:link,
    a:visited {
        color: var(--dark);
        text-decoration: none;
         display: inline-block;
            width: 100%;
            height: 100%;
    }
    li:has(a:hover) {
        background: var(--dark);
        a {
           
            color: var(--bright);
        }
    }

    + * {
        margin-top: toRem(5);
    }
}