@use "sass:map";

.parallax {
    .section {
        $gap: 0.5rem;

        border: 5px solid white;
        border-top: none;

        &:first-of-type {
            border-top: 5px solid white;
        }

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: $gap;
        padding: $gap;

        > * {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100%;

            border: 1px solid rgba(255, 255, 255, 0.25);
            background: linear-gradient(
                to right bottom,
                rgba(0, 0, 0, 0),
                rgba(255, 255, 255, 0)
            );
        }
    }
    h1,
    h2,
    h3,
    p {
        // font-family: Barlow, "Lato", sans-serif;
        font-size: 1.6667rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        font-weight: 400;
        color: var(--bright);
        text-shadow: 0.125rem 0.125rem 0.25rem var(--shadow);
    }

    article:nth-child(1) {
        height: 100vh;
    }

    @for $i from 1 through 10 {
        .teaser-#{$i} {
            position: relative;
            opacity: 0.85;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            perspective: 8px;
            perspective-origin: 0%;

            min-width: 100vw;
        }
    }

    $teaser-images: (
        "1": "588-2509x1673.jpg",
        "2": "52-1280x853.jpg",
        "3": "594-2509x1673.jpg",
        "4": "1019-5472x3648.jpg",
        "5": "588-2509x1673.jpg",
        "6": "52-1280x853.jpg",
        "7": "594-2509x1673.jpg",
        "8": "1019-5472x3648.jpg",
        "9": "588-2509x1673.jpg",
        "10": "52-1280x853.jpg",
    );

    // schreibe die teaser-Klassen in eine Schleife mit der liste der Bilder
    @each $i, $image in $teaser-images {
        .teaser-#{$i} {
            background-image: url("./../figures/#{$image}");
            min-height: 50vh;
        }
    }
// default motion
    @media (prefers-reduced-motion: no-preference) {
        @for $i from 1 through 10 {
            .teaser-#{$i} {
                animation: parallax 2s  infinite;
            }
        }
    }

    @keyframes parallax {
        0% {
            background-position: 0% 0%;
        }
        100% {
            background-position: 100% 0%;
        }
    }

// reduced motion
    @media (prefers-reduced-motion: reduce) {

       @for $i from 1 through 10 {
        .teaser-#{$i} {
       animation: parallax 10s  infinite;
            background-attachment: scroll;

        }
    }
    }



}
