$text-color: $dark-color;
$icon-color: $light-color;
.search {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        text-align: center;
    }

    label {
        display: inline-block;
        position: relative;
        height: #{$perfect-fifth}rem;
        width: #{$perfect-fifth}rem;
        box-sizing: border-box;
        border: 3px solid $icon-color;
        border-radius: 2rem;
        transition: $default-transition;
        cursor: text;

        &::after {
            content: "";
            position: absolute;
            // TODO Parametrisieren und an die Proportionen anpassen
            width: 3px;
            height: 20px;
            right: -5px;
            top: 21px;
            // - - - - - -
            background: $icon-color;
            transform: rotate(-45deg);
            transition: $default-transition;
        }

        &.active,
        &:hover {
            width: 10rem;
            margin-right: 0;

            &::after {
                height: 0;
            }
        }

        input {
            width: 100%;
            border: none;
            box-sizing: border-box;
            font-family: Helvetica;
            font-size: 15px;
            color: inherit;
            background: transparent;
            outline-width: 0;
        }
    }
}
