<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>

<body>
    <h1>Search</h1>

    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="search.html">Search</a></li>
    </ul>

    <form action="search.html" method="get">
        <label for="search">Keyword</label>
        <input id="search" type="search" name="keyword">
        <button type="submit">Search now</button>
    </form>

    <h2>Search Results</h2>
    <ol></ol>

</body>

</html>