// @desc Themenanpassungen für Kunde oder Projekt
// @author Michael
// @since 2024-12-01
// @version 1.0.0

.theme-1 {
    // Base / Reset
    // font-family: Barlow, Arial, Helvetica, sans-serif;
    // font-size: 16px;
    // line-height: 1.5;

    body {
        margin: 0;

        > * > * {
            padding: 1rem;
        }
    }
}

body::before {
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0.5rem;
    border-width: 1px;
    border-style: dotted;
}

// Dark- und Light-Mode
@media screen and (prefers-color-scheme: dark) {
    // Dokumentenfarben
    body {
        background-color: var(--color-black);
        color: var(--color-white);
    }
    .high-contrast {
        background-color: var(--color-black-high-contrast) !important;
        color: var(--color-white-high-contrast) !important;
    }
}

@media screen and (prefers-color-scheme: light) {
    // Dokumentenfarben
    body {
        background-color: var(--color-white);
        color: var(--color-black);
    }
    .high-contrast {
        background-color: var(--color-white-high-contrast) !important;
        color: var(--color-black-high-contrast) !important;
    }
}

@media screen and (prefers-contrast: more) {
    // Dokumentenfarben
    body {
        background-color: var(--color-black-high-contrast);
        color: var(--color-white-high-contrast);
    }
}

// Verhaltensweisen
.brand svg {
    // border: 8px dotted red;
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.5);

    transition-property: all;
    transition-duration: 2500ms;
    transition-timing-function: cubic-bezier(0.05, 0.8, 0.1, 0.95);
    transition-delay: 0s;
}
.brand {
    perspective: 800px;
    perspective-origin: 50% 100px;
}

.brand svg:hover {
    transform-style: preserve-3d;
    // border: 8px solid green;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
    border-radius: 10rem;
    // margin-inline-start: 2rem;

    animation: firlefanz 2s reverse cubic-bezier(0.05, 0.8, 0.1, 0.95);
}

@keyframes firlefanz {
    0% {
        transform: rotate(0deg);
    }
    25% {
        background: red;
    }
    75% {
        background: green;
    }
    100% {
        transform: rotate(360deg) translateZ(100px);
    }
}

// darkmode und lightmode als Klasse
.dark-mode {
    // Dokumentenfarben
    body {
        background-color: var(--color-black);
        color: var(--color-white);
    }
    .high-contrast {
        background-color: var(--color-black-high-contrast) !important;
        color: var(--color-white-high-contrast) !important;
    }
}

.light-mode {
    // Dokumentenfarben
    body {
        background-color: var(--color-white);
        color: var(--color-black);
    }
    .high-contrast {
        background-color: var(--color-white-high-contrast) !important;
        color: var(--color-black-high-contrast) !important;
    }
}
