// @desc Themenanpassungen für Kunde oder Projekt
// @author Michael
// @since 2024-12-01
// @version 1.0.0

.theme-1 {
    // Base / Reset
    // font-family: Barlow, Arial, Helvetica, sans-serif;
    // font-size: 16px;
    // line-height: 1.5;

    body {
        margin: 0;

        > * > * {
            padding: 1rem;
        }
    }
}

body::before {
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0.5rem;
    border-width: 1px;
    border-style: dotted;
}
