$h1-font-size: 2em;
$h1-margin-before: 0.67__qem;
$h1-margin-after: 0.67em;
$h1-margin-start: 0;
$h1-margin-end: 0;
$h1-font-weight: bold;

$any1-h1-font-size: 1.5em;
$any1-h1-margin-before: 0.83__qem;
$any1-h1-margin-after: 0.83em;

$any2-h1-font-size: 1.17em;
$any2-h1-margin-before: 1__qem;
$any2-h1-margin-after: 1em;

$any3-h1-font-size: 1em;
$any3-h1-margin-before: 1.33__qem;
$any3-h1-margin-after: 1.33em;

$any4-h1-font-size: 0.83em;
$any4-h1-margin-before: 1.67__qem;
$any4-h1-margin-after: 1.67em;

$any5-h1-font-size: 0.67em;
$any5-h1-margin-before: 2.33__qem;
$any5-h1-margin-after: 2.33em;

$h2-font-size: 1.5em;
$h2-margin-before: 0.83__qem;
$h2-margin-after: 0.83em;
$h2-margin-start: 0;
$h2-margin-end: 0;
$h2-font-weight: bold;

$h3-font-size: 1.17em;
$h3-margin-before: 1__qem;
$h3-margin-after: 1em;
$h3-margin-start: 0;
$h3-margin-end: 0;
$h3-font-weight: bold;

$h4-margin-before: 1.33__qem;
$h4-margin-after: 1.33em;
$h4-margin-start: 0;
$h4-margin-end: 0;
$h4-font-weight: bold;

$h5-font-size: 0.83em;
$h5-margin-before: 1.67__qem;
$h5-margin-after: 1.67em;
$h5-margin-start: 0;
$h5-margin-end: 0;
$h5-font-weight: bold;

$h6-font-size: 0.67em;
$h6-margin-before: 2.33__qem;
$h6-margin-after: 2.33em;
$h6-margin-start: 0;
$h6-margin-end: 0;
$h6-font-weight: bold;

h1 {
    display: block;
    font-size: 2em;
    font-size: $h1-font-size;
    -webkit-margin-before: $h1-margin-before;
    -webkit-margin-after: $h1-margin-after;
    -webkit-margin-start: $h1-margin-start;
    -webkit-margin-end: $h1-margin-end;
    font-weight: $h1-font-weight;
}
:-webkit-any(article, aside, nav, section) h1 {
    font-size: $any1-h1-font-size;
    -webkit-margin-before: $any1-h1-margin-before;
    -webkit-margin-after: $any1-h1-margin-after;
}
:-webkit-any(article, aside, nav, section)
    :-webkit-any(article, aside, nav, section)
    h1 {
    font-size: $any2-h1-font-size;
    -webkit-margin-before: $any2-h1-margin-before;
    -webkit-margin-after: $any2-h1-margin-after;
}

:-webkit-any(article, aside, nav, section)
    :-webkit-any(article, aside, nav, section)
    :-webkit-any(article, aside, nav, section)
    h1 {
    font-size: $any3-h1-font-size;
    -webkit-margin-before: $any3-h1-margin-before;
    -webkit-margin-after: $any3-h1-margin-after;
}

:-webkit-any(article, aside, nav, section)
    :-webkit-any(article, aside, nav, section)
    :-webkit-any(article, aside, nav, section)
    :-webkit-any(article, aside, nav, section)
    h1 {
    font-size: $any4-h1-font-size;
    -webkit-margin-before: $any4-h1-margin-before;
    -webkit-margin-after: $any4-h1-margin-after;
}

:-webkit-any(article, aside, nav, section)
    :-webkit-any(article, aside, nav, section)
    :-webkit-any(article, aside, nav, section)
    :-webkit-any(article, aside, nav, section)
    :-webkit-any(article, aside, nav, section)
    h1 {
    font-size: $any5-h1-font-size;
    -webkit-margin-before: $any5-h1-margin-before;
    -webkit-margin-after: $any5-h1-margin-after;
}
h2 {
    display: block;
    font-size: $h2-font-size;
    -webkit-margin-before: $h2-margin-before;
    -webkit-margin-after: $h2-margin-after;
    -webkit-margin-start: $h2-margin-start;
    -webkit-margin-end: $h2-margin-end;
    font-weight: $h2-font-weight;
}
h3 {
    display: block;
    font-size: $h3-font-size;
    -webkit-margin-before: $h3-margin-before;
    -webkit-margin-after: $h3-margin-after;
    -webkit-margin-start: $h3-margin-start;
    -webkit-margin-end: $h3-margin-end;
    font-weight: $h3-font-weight;
}
h4 {
    display: block;
    -webkit-margin-before: $h4-margin-before;
    -webkit-margin-after: $h4-margin-after;
    -webkit-margin-start: $h4-margin-start;
    -webkit-margin-end: $h4-margin-end;
    font-weight: $h4-font-weight;
}
h5 {
    display: block;
    font-size: $h5-font-size;
    -webkit-margin-before: $h5-margin-before;
    -webkit-margin-after: $h5-margin-after;
    -webkit-margin-start: $h5-margin-start;
    -webkit-margin-end: $h5-margin-end;
    font-weight: $h5-font-weight;
}
h6 {
    display: block;
    font-size: $h6-font-size;
    -webkit-margin-before: $h6-margin-before;
    -webkit-margin-after: $h6-margin-after;
    -webkit-margin-start: $h6-margin-start;
    -webkit-margin-end: $h6-margin-end;
    font-weight: $h6-font-weight;
}
