$hr-margin-before: 0.5em;
$hr-margin-after: 0.5em;
$hr-margin-start: auto;
$hr-margin-end: auto;
$hr-border-style: inset;
$hr-border-width: 1px;

hr {
    display: block;
    -webkit-margin-before: $hr-margin-before;
    -webkit-margin-after: $hr-margin-after;
    -webkit-margin-start: $hr-margin-start;
    -webkit-margin-end: $hr-margin-end;
    border-style: $hr-border-style;
    border-width: $hr-border-width;
}
