@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap");

html {
    font-family: Barlow;
}
body {
    margin-inline: 24vw;
    margin-block: 12vh;
}
h1,
h2 {
    font-weight: 400;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5rem;
}
li > span {
    min-width: 10rem;
}
li > span:focus {
    outline: none;
    border: 1px solid grey;
    border-radius: 2px;
}

.material-symbols-outlined {
    font-size: 1rem !important;
    margin-inline: 0;
    margin-block: 0.1rem;
    padding-block: 0.1rem;
    padding-inline: 0;
    line-height: 1;
    background: transparent;
    border: 1px solid grey;
    border-radius: 2px;
    color: grey !important;
    text-decoration: none;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration-line: solid;
    text-decoration-color: rgb(200, 200, 200);
    color: inherit;
}
a:hover {
    text-decoration-color: rgb(237, 136, 35);
}
a:active {
    text-decoration-color: rgb(203, 3, 3);
}
footer {
    margin-block: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}
label {
    margin-block-start: 1rem;
}
label + input,
form button {
    font-size: 1rem;
    line-height: 2;
}
form button {
    margin-block: 1rem;
}
