/* blocks */

article,
aside,
details,
div,
dt,
figcaption,
footer,
form,
header,
hgroup,
html,
main,
nav,
search,
section,
summary {
    display: block;
}

body {
    display: block;
    margin: 8px;
}

p,
dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

dd {
    display: block;
    margin-inline-start: 40px;
}

blockquote,
figure {
    display: block;
    margin-block: 1em;
    margin-inline: 40px;
}

address {
    display: block;
    font-style: italic;
}

center {
    display: block;
    text-align: -moz-center;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-block: 0.67em;
}

h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin-block: 0.83em;
}

h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    margin-block: 1em;
}

h4 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin-block: 1.33em;
}

h5 {
    display: block;
    font-size: 0.83em;
    font-weight: bold;
    margin-block: 1.67em;
}

h6 {
    display: block;
    font-size: 0.67em;
    font-weight: bold;
    margin-block: 2.33em;
}

/* stylelint-disable-next-line media-query-no-invalid */
@media (-moz-bool-pref: "layout.css.h1-in-section-ua-styles.enabled") {
    :is(article, aside, nav, section) h1 {
        margin-block: 0.83em;
        font-size: 1.5em;
    }

    :is(article, aside, nav, section) :is(article, aside, nav, section) h1 {
        margin-block: 1em;
        font-size: 1.17em;
    }

    :is(article, aside, nav, section)
        :is(article, aside, nav, section)
        :is(article, aside, nav, section)
        h1 {
        margin-block: 1.33em;
        font-size: 1em;
    }

    :is(article, aside, nav, section)
        :is(article, aside, nav, section)
        :is(article, aside, nav, section)
        :is(article, aside, nav, section)
        h1 {
        margin-block: 1.67em;
        font-size: 0.83em;
    }

    :is(article, aside, nav, section)
        :is(article, aside, nav, section)
        :is(article, aside, nav, section)
        :is(article, aside, nav, section)
        :is(article, aside, nav, section)
        h1 {
        margin-block: 2.33em;
        font-size: 0.67em;
    }
}

listing {
    display: block;
    font-family: -moz-fixed;
    font-size: medium;
    white-space: pre;
    margin-block: 1em;
}

xmp,
pre,
plaintext {
    display: block;
    font-family: -moz-fixed;
    white-space: pre;
    margin-block: 1em;
}
