article {
    p {
    //     // Multi column layout
        column-width: 20rem;
        column-gap: 5rem;
        column-rule: 1px solid black;

        // break-after: always;

    //     // Text alignment and more
        text-align: left;
    //     text-justify: inter-word;
        hyphens: auto;

        widows: 3; // Hurenkinder
        orphans: 3; // Schusterjungen

        // word-spacing:0.125em;
        // letter-spacing:0.05em;
    }

    abbr {
        text-transform: uppercase;
    }
}
