.color-list {
    // Base
    list-style-type: none;
    padding: 0;
    margin: 0;

    // Layout
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;

    // State

    // Base theme

    // Module
    &-box {
        // Base

        // Layout
        display: block;
        width: 3rem;
        height: 3rem;

        // State

        // Base theme
        border-width: 2px;
        border-style: solid;
        border-color: white;
        border-radius: $border-radius-lg;
    }
}
