.#{$prefix}-figure {
    @include listReset();

    &-responsive img {
        display: block;
        width: 100%;
        height: auto;
    }

    figcaption::before {
        content: "Figure: ";
    }
}
