.template-container {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    nav ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      a[href] {
        color: white;
      }
    }
  }
}
