.#{$prefix}-header {
    // Base
    // Layout
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    // Modules (subcomponents)
    .brand {
        border: 1px solid $gridColor;

        color: transparent;

        background-image: url(../figures/shou.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; // cover
    }

    .logo {
        width: 6rem;
        height: 6rem;

        border: 1px solid $gridColor;

        svg {
            // svg properties
            fill-rule: evenodd;
            clip-rule: evenodd;
            stroke-linejoin: round;
            stroke-miterlimit: 2;

            fill: red; // background-color, color
            // stroke: orange; // border-color
            // stroke-width: 100px; // border-width

            // html properties
            background: black;
        }

        img {
            background: black;
            width: 100%;
            height: auto;
        }
    }
    // States
    // Themes
}
