@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.#{$prefix}-icon {
    color: $primaryColor;
    text-shadow: 0.125rem 0.125rem 0.15rem rgba(0,0,0,0.25);
    font-size: 1.5rem;
}
