.#{$prefix} {
    &-login-form {
        @keyframes blend-in {
            0% {
                display: none;
                opacity: 0;
            }
            50% {
                display: block;
                opacity: 0;
            }
            100% {
                display: block;
                opacity: 1;
            }
        }

        @keyframes blend-out {
            0% {
                display: block;
                opacity: 1;
            }
            50% {
                display: block;
                opacity: 0;
            }
            100% {
                display: none;
                opacity: 0;
            }
        }

        // Base

        // Behaviour
        * {
            font-family: $formFontFamily;
            font-size: $formFontSize;
            line-height: $lineHeight;

            border: 0;

            margin-block: $defaultGap; // margin-bottom, margin-top

            transition-property: all;
            transition-duration: 250ms;
            transition-timing-function: ease-in-out;
            transition-delay: 0s;
        }

        fieldset {
            box-shadow: 0.125rem 0.125rem 0.25rem rgba($darkColor, 0.25);

            &:focus-within {
                box-shadow: 0.25rem 0.25rem 1rem rgba($darkColor, 0.25);
            }
        }

        fieldset,
        button,
        select {
            border: 1px solid $darkColor;
            border-radius: $defaultGap / 3;
        }

        legend {
            font-weight: 500;
        }

        input {
            border-bottom: 1px solid black;
        }

        .errorText {
            display: none;
            opacity: 0;
        }

        // Layout
        fieldset {
            padding-inline: 5 * $defaultGap;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            & > fieldset {
                flex-basis: 100%;
                flex-grow: 1;
                flex-shrink: 1;

                display: flex;
            }
        }

        // Modules
        label {
            flex-basis: 8rem;
            flex-grow: 0;
            flex-shrink: 0;
        }
        input {
            flex-basis: 82%;
            flex-grow: 1;
            flex-shrink: 1;
        }
        .login-select {
            // Base
            * {
                margin: 0;
                white-space: nowrap;
            }

            // Layout
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: $defaultGap;

            margin-inline: calc(30%);

            // Modules
            label.checkbox {
                grid-column: 1 / span 1;
                grid-row: 2 / span 1;
            }

            [for="login-country"] {
                grid-column: 2 / span 1;
                grid-row: 1 / span 1;

                + select {
                    grid-column: 2 / span 1;
                    grid-row: 2 / span 1;
                }
            }
        }

        button {
            margin-inline: $defaultGap / 2;
        }

        // Themes
    }
}

.#{$prefix}-login-form:focus-within {
    // States
    input {
        border: 0;
        outline: 0;

        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: lighten($darkColor, 20);

        &:focus {
            border-bottom-style: solid;
            border-bottom-width: 2px;
            border-bottom-color: $primaryColor;
            background-color: lighten($primaryColor, 40%);
        }

        &:valid {
            border-bottom-style: solid;
            border-bottom-width: 3px;
            border-bottom-color: $successColor;
            background-color: lighten($successColor, 57%);
            & + .errorText {
                animation: blend-out 1s ease-in-out;
            }
        }

        &:invalid {
            border-bottom-style: solid;
            border-bottom-width: 3px;
            border-bottom-color: $dangerColor;
            background-color: lighten($dangerColor, 44%);

            & + .errorText {
                display: block;
                opacity: 1;
                color: $dangerColor;

                animation: blend-in 1s ease-in-out;
            }
        }
    }
}
