// * **************************
// * LÄUFT !!!!!!!!!! :-)
// * **************************

@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../bootstrap/variables-dark";
@import "../bootstrap/maps";
@import "../bootstrap/mixins";
@import "../bootstrap/utilities";
// Layout & components
@import "../bootstrap/root";
// Helpers
@import "../bootstrap/helpers";
// Utilities
@import "../bootstrap/utilities/api";

@mixin reset-list() {
    list-style: none;
    padding: 0;
    margin: 0;
}

.my-list {
    &-default {
        @include reset-list();
        li {
            @extend .d-flex;
            @extend .gap-3;
            @extend .mb-3;
          
        }
    }
}
