@media screen {
    // - - - - - - - - - - -
    .#{$prefix}-nav {
        // Base
        // list-reset
        @include listReset();

        // Layout
        display: flex;

        justify-content: space-evenly;
        align-items: stretch;

        gap: $defaultGap;

        &-row {
            flex-direction: row;
        }
        &-column {
            flex-direction: column;
        }
        // Modules
        // States
        // Themes
        li {
            border: 1px solid $gridColor;
        }
    }
    // - - - - - - - - - -
}
@media print and (min-device-width: 21cm) {
    .#{$prefix}-nav {
        display: none;
    }
}
