@media screen {
    // - - - - - - - - - - -
    .#{$prefix}-nav {
        // Base
        // list-reset
        @include listReset();

        // Layout
        display: flex;

        justify-content: space-evenly;
        align-items: stretch;

        gap: $defaultGap;

        &-row {
            flex-direction: row;

            li {
                border: 1px solid $gridColor;

                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &-column {
            flex-direction: column;
            li {
                border: 1px solid $gridColor;

                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
        }
        // Modules
        // States
        a:link {
            color: $primaryColor;
            text-decoration: none;
            margin-left: $defaultGap;
        }
        li:has(a:hover) {
            a:hover {
                color: $onPrimaryColor;
            }
            background-color: $primaryColor;
            transition: background-color 0.5s ease;
        }
        // Themes
    }
    // - - - - - - - - - -
}
@media print and (min-device-width: 21cm) {
    .#{$prefix}-nav {
        display: none;
    }
}
