.search {
  // Base
  // Layout
  display: flex;
  align-items: center;

  // States
  &:has(input[type="search"]:focus) {
    outline: none;
    border-color: $focusColor;
  }

  &:has(input[type="search"]:invalid:not(:placeholder-shown)) {
    outline: none;
    border-color: $invalidColor;
  }

    &:has(input[type="search"]:valid:not(:placeholder-shown)) {
    outline: none;
    border-color: $validColor;
  }

  // Theme
  border: 2px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  // Transitions
  transition: border-color 0.3s ease;

  input[type="search"] {
    // Base
    // Layout
    flex: 1;
    padding: 10px;
    // States
    // Theme
    color: $bright;
    border: none;
    outline: none;
    background: none;
    // Transitions
    transition: border-color 0.3s ease;
    // border-radius: 20px;

    &::placeholder {
      color: $inactiveColor;
    }
  }

  //   padding: 5px; /* Adjust padding as needed */

  button {
    // Base
    // Layout
    // States
    // Theme
    border: none;
    background: none;
    cursor: pointer;

    .material-icons {
      // Base
      // Layout
      // States
      // Theme
      color: $bright;
    }
  }
}
