* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: var(--font-size);
    background: var(--dark-color-a);
    margin: var(--margin);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h3 {
    font-weight: 300;
}

button,
.btn {
    cursor: pointer;
    border: 0;
    padding: calc(var(--padding) / 3) var(--padding);
    color: var(--dark-color-a);
    background: var(--light-color);
    font-size: calc(var(--padding) + var(--padding) * 0.125);
}