/* Font Awsome */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

/* Basis */
* {
    box-sizing: border-box;
}

/* Schriftgröße, skalierbar */
:root,
html {
    font-family: Barlow;
    font-size: clamp(16px, 1.2vw, 21px);
    line-height: 1.3;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
.uppercase {
    text-transform: uppercase;
}

p {
    column-width: 17rem;
    column-gap: 2rem;
    column-rule: 1px solid black;
    text-align: justify;
    hyphens: auto;
}

/* Layout */
body {
    margin: 0;
    padding: 2rem;
}
.layout {
    border: 2px dotted black;
    padding: 1rem;
    width: calc(100vw - 6rem);
}

/* Tastatursteuerung */
@keyframes focus-animation {
    0% {
        outline-offset: 0;
    }
    90% {
        outline-offset: 5px;
    }
    100% {
        outline-offset: 0;
        outline-color: transparent;
    }
}

:focus {
    animation: focus-animation 1s;
    outline: 5px solid rgba(3, 139, 250, 0.75);
}

:invalid {
    outline: 5px solid rgba(250, 3, 89, 0.75);
}

/* Tabelle */
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

/* Barrierefreiheit */
.visually-hidden,
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.additional-information {
    position: static;
    width: 100%;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: none;
}
