.alf-grid .alf-divider {
	--alf-grid-align-top: baseline;
	--alf-grid-align-bottom: baseline;
	--divider-alignment: bottom;
	--divider-color: var(--color-black);
	--divider-thickness: var(--unit-thin);
	height: $grid-line-height;
	min-height: 0;
	display: flex;
	justify-content: center;
	background: linear-gradient(var(--divider-color), var(--divider-color)) no-repeat 0 var(--divider-alignment) / 100% var(--divider-thickness);
	margin-bottom: 0;

	&.alf-gutter {
		background: none;

		&::before {
			content: '';
			background-color: var(--divider-color);
			width: var(--divider-thickness);
			height: 100%;
		}

		&::after {
			display: none;
			content: '';
			background-color: var(--divider-color);
			width: var(--divider-thickness);
			height: 100%;
		}
	}

	&.divider--border-top {
		--divider-alignment: top;
	}

	&.divider--border-middle {
		--divider-alignment: center;
	}

	&.divider--border-bottom {
		--divider-alignment: bottom;
	}

	&.divider--border-right {
		justify-content: flex-end;
	}

	&.divider--border-left {
		justify-content: flex-start;
	}

	&.divider--border-left-right {
		justify-content: space-between;

		&::after {
			display: block;
		}
	}
}
