.concludis {
    width: 75vw;
    margin: 0 auto;
}

.concludis > * {
    margin-bottom: 2em;
    width: 100%;
}

.concludis ul {
    /* Layout */
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: stretch;

    flex-wrap: wrap;

    gap: 0.25em;

}