.sr-only {
    display: block;
    position: absolute;
    left: -10000px;
}

.hidden-for-all {
    display: none;
}

.invisible-but-existing {
    visibility: hidden;
}

// NAVIGATION
#nav-accessibility {
    &:has(*:focus) {
        position: unset;
    }
    a[href] {
        &:active,
        &:focus,
        &:focus-visible {
            display: flex;
            left: 0;
            top: 0;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            position: absolute;

            width: 100vw;
            height: 100vh;

            background: hsla(0, 0%, 100%, 0.85);

            font-size: 3rem;
        }
    }
}

// ANIMATION
.animation {
  animation: pulse 1s linear infinite both;
}

/* Tone down the animation to avoid vestibular motion triggers like scaling or panning large objects. */
@media (prefers-reduced-motion) {
  .animation {
    animation: dissolve 2s linear infinite both;
  }
}

// DEVELOPER
:focus,
:focus-visible {
    outline: 3px dotted red;
}
