.sr-only {
    display: block;
    position: absolute;
    left: -10000px;
}

.hidden-for-all {
    display: none;
}

.invisible-but-existing {
    visibility: hidden;
}

// NAVIGATION
#nav-accessibility {
    &:has(*:focus) {
        position: unset;
    }
    a[href] {
        &:active,
        &:focus,
        &:focus-visible {
            display: flex;
            left: 0;
            top: 0;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            position: absolute;

            width: 100vw;
            height: 100vh;

            background: hsla(0, 0%, 100%, 0.85);

            font-size: 3rem;
        }
    }
}

// ANIMATION
.animation {
  animation: pulse 1s linear infinite both;
}

/* Tone down the animation to avoid vestibular motion triggers like scaling or panning large objects. */
@media (prefers-reduced-motion) {
  .animation {
    animation: dissolve 2s linear infinite both;
  }
}

// DEVELOPER
:focus,
:focus-visible {
    outline: 3px dotted red;
}

.blurred-vision {
  filter: blur(2px);
}
.achromatopsia {
  filter: url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg">\
        <filter id="achromatopsia">\
          <feColorMatrix values="0.213  0.715  0.072  0.000  0.000\
                                 0.213  0.715  0.072  0.000  0.000\
                                 0.213  0.715  0.072  0.000  0.000\
                                 0.000  0.000  0.000  1.000  0.000" />\
        </filter>\
      </svg>#achromatopsia');
}

.deuteranopia {
  filter: url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg">\
        <filter id="deuteranopia">\
          <feColorMatrix values="0.367  0.861 -0.228  0.000  0.000\
                                 0.280  0.673  0.047  0.000  0.000\
                                -0.012  0.043  0.969  0.000  0.000\
                                 0.000  0.000  0.000  1.000  0.000" />\
        </filter>\
      </svg>#deuteranopia');
}

.protanopia {
  filter: url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg">\
        <filter id="protanopia">\
        <feColorMatrix values="0.152  1.053 -0.205  0.000  0.000\
                               0.115  0.786  0.099  0.000  0.000\
                              -0.004 -0.048  1.052  0.000  0.000\
                               0.000  0.000  0.000  1.000  0.000" />\
        </filter>\
      </svg>#protanopia');
}

.tritanopia {
  filter: url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg">\
        <filter id="tritanopia">\
        <feColorMatrix values="1.256 -0.077 -0.179  0.000  0.000\
                              -0.078  0.931  0.148  0.000  0.000\
                               0.005  0.691  0.304  0.000  0.000\
                               0.000  0.000  0.000  1.000  0.000" />\
        </filter>\
      </svg>#tritanopia');
}