// COLOR

$primary: hsla(120, 25%, 30%, 1); // seagreen
$secondary: hsla(16, 100%, 68%, 1); // coral
$dark: hsla(0, 0%, 0%, 1);
$light: hsla(0, 0%, 100%, 1);

$shade-primary-100: lighten($primary, 50);

body {
    background: $primary;
    color: $shade-primary-100;
}

figure {
    position: relative;
    background: red;

    img {
        opacity: 0.85;
    }
}
figcaption {
    display: block;
    position: absolute;
    margin-bottom: 4rem;
    bottom: 2rem;
    left: 2rem;
    color: white;
}
