@use "@material/checkbox"; // Required only for data table with row selection.
@use "@material/icon-button/mdc-icon-button"; // Required only for data table with column sorting.
@use "@material/data-table/data-table";

@include checkbox.core-styles;
@include data-table.core-styles;
@include data-table.theme-baseline;


/** 
 * ! Deprecated:
 * ! @include icon-button.core-styles;
 *
 * TODO: @use "@material/icon-button/mdc-icon-button";
 * instead of @use "@material/icon-button";
 */


// My Own Switchable Styles
.my-data-table {

    tbody>tr>*:nth-child(1) {}

    [data-state]::before             {
        font-family: "Material Icons";
        font-size: 2rem;
        width: 2rem;
        color: var(--mdc-theme-secondary);
    }

    // Edit Note
    [data-state="not ready"]::before {
        content: "\e745";
    }

    // Check Circle Outline
    [data-state="ready"]::before {
        content: "\e92d ";
    }

    // Schedule
    [data-state="in use"]::before {
        content: "\e8b5 ";
    }

}

// .my-data-table tbody>tr>td:nth-child(1),
// .my-data-table tbody>tr>th:nth-child(1) {}