:root,
html {
    font-family: Barlow, Geneva, Tahoma, sans-serif;
    font-size: 18px; // = 1rem
    line-height: 1.38;
}

p {column-width: 18rem;}

form {
    font-size: 22px; // = 1em for the form group

    input {
        font-size: 1em;
    }
    p {
        font-size: 1rem;
    }
}

fieldset{border-radius: 1rem;}