// TYPOGRAPHY

// BASE
:root,
html,
html.normale-sprache {
    font-family: Barlow, Geneva, Tahoma, sans-serif;
    font-size: clamp(16px, 4vh, 22px); // = 1rem
    line-height: 1.38;
    font-weight: 400;
}

p {
    column-width: 22rem;

    padding-inline: 1rem;
    margin-block: 1rem;
}

html.leichte-sprache {
    font-family: Barlow, Geneva, Tahoma, sans-serif;
    font-size: clamp(18px, 4vh, 24px); // = 1rem
    line-height: 1.7;
    font-weight: 400;

    p {
        margin-block: 1.3rem;
        column-width: 15rem;
    }
}

form {
    font-size: clamp(18px, 4vh, 24px); // = 1em for the form group

    input {
        font-size: 1em;
    }
    p {
        font-size: 1rem;
    }
}

fieldset {
    border-radius: 1rem;
}

h1 {
    font-size: 1rem;
    font-weight: 300;
}
h2 {
    font-size: 2.7rem;
    font-weight: 300;
}
h3 {
    font-size: 2.4rem;
    font-weight: 300;
}
h4 {
    font-size: 2rem;
}
h5 {
    font-size: 1.7rem;
}
h6 {
    font-size: 1.5rem;
}
p,
li,
td,
th {
    font-size: 1rem;
}
