.sr-only,
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip-path: auto;
}
.visually-hidden:has(a:focus, a:active) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: lightgrey;
    color: black;
    font-size: 3rem;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li:has(a:focus) {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip-path: auto;
    }
    li:has(a:not(:focus)) {
        position: absolute;
        left: -9999px;
    }
}

.invisible {
    display: none !important;
}

// SEE FOCUS

@keyframes focus-animation {
    0% {
        outline-offset: 0px;
        outline-width: 5px;
        outline-color: rgba(3, 139, 250, 1);
    }
    90% {
        outline-offset: 5px;
        outline-width: 5px;
        outline-color: rgba(3, 139, 250, 0.1);
    }
    100% {
        outline-offset: 0;
        outline-width: 0;
        outline-color: transparent;
    }
}

*:focus {
    animation: focus-animation 250ms;
    outline-style: solid;
    // outline: none;
}

:focus,
:active {
    // outline: 5px solid #2d5dee;
    // outline-offset: 5px;
}

@media (prefers-reduced-motion: reduce) {
    *:focus {
        animation: focus-animation 1500ms;
        outline: 5px solid #2d5dee;
        outline-offset: 5px;
    }
}

// TABLE
table,
th,
td {
    border: 1px dotted black;
}
