
// Basisschrift
:root, html {
    font-family: TheSans, Barlow, sans-serif;
    font-size: 16px; // Basis für REM
    line-height: 1.34178;
}

h1{
    font-size:3rem;
}

p{
    margin-block: 1.3rem;
}