// My own colors
$gfu-blue: #4b92fb;
$gfu-orange: orange;

$primary:       $gfu-blue !default;
$secondary:     $gfu-orange !default;

@import "bootstrap/scss/bootstrap";

// Variables
@import "variables";

// Styles
@import "components/navigation";
@import "components/footer";
@import "components/svg";

.marked{background: yellow;}