$lightgrey: #f0f0f0;

// BASE
body {
    background-color: $lightgrey;
    color:$lightgrey;
    font-family: Arial, sans-serif;
}

// BUTTON
// Base
// Layout
// Modules
// States
// Theme
button {border: 1px solid black;}

// FORM
input{
    line-height: 20px;
    background-color: $lightgrey;
}