doctype html
html(lang="de-DE", class="dark")
- title="Lorem titulum ipsum"

    include includes/head.pug

    body
  
        h1 #{title}
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. A atque eum sit.
  
        each entry in data
            p= entry

    script(src="/assets/js/socket.io.min.js",
           integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k",
           crossorigin="anonymous")
    script(type="module", src="/assets/js/script.js")